Repository contrailcirrus/pycontrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, doc8, nb-clean

ruff-format:
  name: ruff format
  language_version: python3
  language: python
  entry: ruff format

ruff-lint:
  name: ruff lint
  language_version: python3
  language: python
  entry: ruff check
  args:
  - --fix
  - --exit-non-zero-on-fix

doc8:
  name: doc8
  language_version: python3
  language: python
  entry: doc8

nb-clean:
  name: nb-clean
  language_version: python3
  language: python
  entry: nb-clean
  args:
  - clean
  - --remove-empty-cells
  - --preserve-cell-metadata
  - tags
  - --preserve-cell-outputs
  - --preserve-execution-counts

update min python version in documentation
  README.md
  docs/install.rst
Due: doc8

update classifiers, update requires-python
  pyproject.toml
Due: none

use Self type from typing (PEP 673)
  pycontrails/core/fleet.py
  pycontrails/core/flight.py
  pycontrails/core/met.py
  pycontrails/core/vector.py
Due: ruff-format, ruff-lint

update CHANGELOG
  CHANGELOG.md
Due: none

prototype landsat correction ideas
  pycontrails/datalib/_leo_utils/correction.py
Due: ruff-format, ruff-lint

use shapely.get_coordinates to avoid degenerate case
  pycontrails/datalib/_leo_utils/correction.py
Due: ruff-format, ruff-lint

confirm coordinate assumptions, load ds_chunk
  pycontrails/datalib/_leo_utils/correction.py
Due: ruff-format, ruff-lint

utils for opening LANDSAT_OT_C2_L1 metadata
  pycontrails/datalib/_leo_utils/landsat_metadata.py
Due: ruff-format, ruff-lint

try again to avoid numpy all nan slice error
  pycontrails/datalib/_leo_utils/correction.py
Due: ruff-format, ruff-lint

avoid degenerate all-nan case
  pycontrails/datalib/_leo_utils/correction.py
Due: ruff-format, ruff-lint

split polygons spanning anti-meridian
  pycontrails/datalib/_leo_utils/landsat_metadata.py
Due: ruff-format, ruff-lint

add viewing angles and ephemeris parsing. add new iterative viewing angle correction. add metadata downloader for Google sentinel dataset (only valid for 2022+)
  pycontrails/datalib/_leo_utils/correction.py
  pycontrails/datalib/_leo_utils/landsat_metadata.py
  pycontrails/datalib/_leo_utils/sentinel_metadata.py
  pycontrails/datalib/sentinel.py
Due: ruff-format, ruff-lint

add time correction functions
  pycontrails/datalib/_leo_utils/correction.py
  pycontrails/datalib/_leo_utils/sentinel_metadata.py
  pycontrails/datalib/sentinel.py
Due: ruff-format, ruff-lint

add colocation function on a pycontrails Flight object
  pycontrails/datalib/_leo_utils/correction.py
  pycontrails/datalib/_leo_utils/sentinel_metadata.py
  pycontrails/datalib/sentinel.py
Due: ruff-format, ruff-lint

add some small comments about Landsat implementation
  pycontrails/datalib/_leo_utils/correction.py
  pycontrails/datalib/_leo_utils/sentinel_metadata.py
  pycontrails/datalib/landsat.py
  pycontrails/datalib/sentinel.py
Due: ruff-format, ruff-lint

resolve all linting issues...
  pycontrails/datalib/_leo_utils/correction.py
  pycontrails/datalib/_leo_utils/landsat_metadata.py
  pycontrails/datalib/_leo_utils/sentinel_metadata.py
  pycontrails/datalib/landsat.py
  pycontrails/datalib/sentinel.py
Due: ruff-format, ruff-lint

ignore netcdf - numpy warning
  pyproject.toml
Due: none

bump actions/checkout, set skip_tool_cache=true in setup-gcloud action
  .github/workflows/docs.yaml
  .github/workflows/doctest.yaml
  .github/workflows/release.yaml
  .github/workflows/scorecard.yaml
  .github/workflows/test.yaml
Due: none

fix stylistic & performance errors per Zeb's comments
  pycontrails/datalib/_leo_utils/correction.py
  pycontrails/datalib/_leo_utils/sentinel_metadata.py
  pycontrails/datalib/landsat.py
  pycontrails/datalib/sentinel.py
Due: ruff-format, ruff-lint

resolve mypy typing issues
  pycontrails/datalib/_leo_utils/correction.py
  pycontrails/datalib/_leo_utils/sentinel_metadata.py
  pycontrails/datalib/landsat.py
  pycontrails/datalib/sentinel.py
Due: ruff-format, ruff-lint

add Thymen to contributors
  .zenodo.json
Due: none

fix Google BigQuery bug by setting the base_url to source_url if None. Fixes base_url=NaN after 2024-03...
  pycontrails/datalib/sentinel.py
Due: ruff-format, ruff-lint

add support for .gml metadata. typically used before 2022
  pycontrails/datalib/_leo_utils/correction.py
  pycontrails/datalib/_leo_utils/sentinel_metadata.py
  pycontrails/datalib/sentinel.py
Due: ruff-format, ruff-lint

fix small stylistic mistakes & docstring & add geopandas to pyproject.toml
  pycontrails/datalib/_leo_utils/correction.py
  pycontrails/datalib/_leo_utils/sentinel_metadata.py
  pyproject.toml
Due: ruff-format, ruff-lint

update thermo.e_sat_liquid and tweak tests accordingly
  CHANGELOG.md
  pycontrails/models/sac.py
  pycontrails/physics/thermo.py
  tests/unit/test_cocip.py
  tests/unit/test_cocip_grid.py
  tests/unit/test_sac_issr.py
Due: ruff-format, ruff-lint

fix docstring
  pycontrails/datalib/ecmwf/hres.py
Due: ruff-format, ruff-lint

Path conditions:
  ruff-format: any of: \.(py|ipynb)$
  ruff-lint: any of: \.(py|ipynb)$
  doc8: any of: \.(rst)$
  nb-clean: any of: \.(ipynb)$
