Repository contrailcirrus/pycontrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, doc8, nb-clean

ruff-format:
  name: ruff format
  language_version: python3
  language: python
  entry: ruff format

ruff-lint:
  name: ruff lint
  language_version: python3
  language: python
  entry: ruff check
  args:
  - --fix
  - --exit-non-zero-on-fix

doc8:
  name: doc8
  language_version: python3
  language: python
  entry: doc8

nb-clean:
  name: nb-clean
  language_version: python3
  language: python
  entry: nb-clean
  args:
  - clean
  - --remove-empty-cells
  - --preserve-cell-metadata
  - tags
  - --preserve-cell-outputs
  - --preserve-execution-counts

Add icon logo to docs
  docs/_static/css/style.css
  docs/_static/img/icon-dark.svg
  docs/_static/img/icon-light.svg
  docs/_static/img/logo-dark.png
  docs/_static/img/logo.png
  docs/conf.py
Due: ruff-format, ruff-lint

Add Dean 2025 to literature list
  docs/_static/pycontrails.bib
  docs/literature.rst
Due: doc8

Re-export Bib file using updated version of Zotero / Betterbibtex
  docs/_static/pycontrails.bib
Due: none

Reduce number of links in references, to be consistent with other doc sites
  docs/index.rst
Due: doc8

Fix ICON u and v wind component mapping
  pycontrails/datalib/dwd/icon.py
Due: ruff-format, ruff-lint

lazify scipy.signal and scipy.interpolate imports
  pycontrails/core/flight.py
  pycontrails/core/met.py
  pycontrails/core/models.py
  pycontrails/core/vector.py
Due: ruff-format, ruff-lint

sort imports
  pycontrails/core/models.py
  pycontrails/core/vector.py
Due: ruff-format, ruff-lint

update changelog
  CHANGELOG.md
Due: none

label as breaking change
  CHANGELOG.md
Due: none

replace deprecated drop with drop_vars
  pycontrails/datalib/dwd/icon.py
Due: ruff-format, ruff-lint

update ICON notebook
  docs/notebooks/ICON.ipynb
Due: ruff-format, ruff-lint, nb-clean

update confluence links
  docs/notebooks/ECMWF.ipynb
Due: ruff-format, ruff-lint, nb-clean

update more confluence links
  docs/notebooks/ECMWF.ipynb
Due: ruff-format, ruff-lint, nb-clean

Update CHANGELOG.md
  CHANGELOG.md
Due: none

address a few numpy 2.5 deprecations
  pycontrails/core/coordinates.py
  pycontrails/core/flight.py
  pycontrails/models/dry_advection.py
  tests/unit/test_cocip.py
  tests/unit/test_flight.py
  tests/unit/test_interpolation.py
  tests/unit/test_sac_issr.py
Due: ruff-format, ruff-lint

fix doctest
  pycontrails/core/flight.py
Due: ruff-format, ruff-lint

include flightplan module in api docs
  docs/api.rst
Due: doc8

tweak error message
  pycontrails/models/cocip/cocip.py
Due: ruff-format, ruff-lint

more informative error message
  pycontrails/models/emissions/emissions.py
Due: ruff-format, ruff-lint

Fix unit bug affecting nvPM EIm estimates
  pycontrails/models/emissions/emissions.py
  pycontrails/models/emissions/nvpm.py
Due: ruff-format, ruff-lint

Fix old (superseded) methods for consistency
  pycontrails/models/emissions/emissions.py
  pycontrails/models/emissions/nvpm.py
Due: ruff-format, ruff-lint

Ensure consistency: Fuel calorific value, gaseous EI, and others
  pycontrails/models/emissions/emissions.py
  pycontrails/models/emissions/nvpm.py
Due: ruff-format, ruff-lint

cosmetic tweaks, remove unused nvpm_geometric_mean_diameter_sac
  pycontrails/models/emissions/emissions.py
  pycontrails/models/emissions/nvpm.py
Due: ruff-format, ruff-lint

fix docstring units, fix unit tests
  pycontrails/models/emissions/gaseous.py
  tests/unit/test_emissions.py
Due: ruff-format, ruff-lint

tighten testing tolerances
  tests/unit/test_emissions.py
Due: ruff-format, ruff-lint

fix docstring
  pycontrails/models/emissions/emissions.py
Due: ruff-format, ruff-lint

Path conditions:
  ruff-format: any of: \.(py|ipynb)$
  ruff-lint: any of: \.(py|ipynb)$
  doc8: any of: \.(rst)$
  nb-clean: any of: \.(ipynb)$
