Repository contrailcirrus/pycontrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, doc8, black

ruff:
  name: ruff
  language_version: python3
  language: python
  entry: ruff
  args:
  - --fix
  - --exit-non-zero-on-fix

doc8:
  name: doc8
  language_version: python3
  language: python
  entry: doc8

black:
  name: black
  language_version: python3
  language: python
  entry: black

fix disappearing metview temporary files
  pycontrails/datalib/ecmwf/arco_era5.py
  pycontrails/datalib/ecmwf/model_level_era5.py
  pycontrails/datalib/ecmwf/model_level_hres.py
  pycontrails/datalib/ecmwf/model_levels.py
Due: ruff, black

Update CHANGELOG
  CHANGELOG.md
Due: none

fixes to satisfy mypy
  pycontrails/datalib/ecmwf/model_level_era5.py
  pycontrails/datalib/ecmwf/model_level_hres.py
Due: ruff, black

run ECMWF notebook
  docs/notebooks/ECMWF.ipynb
Due: black

provide pressure levels explicitly in ARCO-ERA5 notebook
  docs/notebooks/ARCO-ERA5.ipynb
Due: black

use static file for model-level lookup
  pycontrails/datalib/ecmwf/model_levels.py
  pycontrails/datalib/ecmwf/static/model_level_dataframe_v20240418.csv
Due: ruff, black

Revert "provide pressure levels explicitly in ARCO-ERA5 notebook"
  docs/notebooks/ARCO-ERA5.ipynb
Due: black

add test for datalib timestep frequency validation
  tests/unit/test_datalib.py
Due: ruff, black

use doctest cache in local tests
  Makefile
Due: none

Update ECMWF notebook
  docs/notebooks/ECMWF.ipynb
Due: black

remove lxml dependency from era5 docstring
  pycontrails/datalib/ecmwf/arco_era5.py
Due: ruff, black

update ECMWF datalib unit tests
  pycontrails/datalib/ecmwf/model_level_era5.py
  pycontrails/datalib/ecmwf/model_level_hres.py
  tests/unit/test_ecmwf.py
Due: ruff, black

unit test ERA5 model-level datalib
  pycontrails/datalib/ecmwf/era5.py
  pycontrails/datalib/ecmwf/model_level_era5.py
  tests/unit/test_ecmwf.py
Due: ruff, black

update typedefs for python 3.9 compatibility
  tests/unit/test_ecmwf.py
Due: ruff, black

rename model-level datalibs
  CHANGELOG.md
  docs/api.rst
  docs/notebooks/ECMWF.ipynb
  pycontrails/datalib/ecmwf/__init__.py
  pycontrails/datalib/ecmwf/era5_model_level.py
  pycontrails/datalib/ecmwf/hres_model_level.py
  tests/unit/test_ecmwf.py
Due: ruff, doc8, black

move CDS credentials exception to ECMWF common
  pycontrails/datalib/ecmwf/common.py
  pycontrails/datalib/ecmwf/era5.py
  pycontrails/datalib/ecmwf/era5_model_level.py
Due: ruff, black

extract model level variable definition
  pycontrails/datalib/ecmwf/__init__.py
  pycontrails/datalib/ecmwf/era5_model_level.py
  pycontrails/datalib/ecmwf/hres_model_level.py
  pycontrails/datalib/ecmwf/variables.py
Due: ruff, black

move cache handler inside classes
  pycontrails/datalib/ecmwf/era5_model_level.py
  pycontrails/datalib/ecmwf/hres_model_level.py
Due: ruff, black

fix circular import
  pycontrails/datalib/ecmwf/era5_model_level.py
  pycontrails/datalib/ecmwf/hres_model_level.py
Due: ruff, black

Use default cache in local testing
  Makefile
Due: none

pin mypy, bump black and ruff
  CHANGELOG.md
  pyproject.toml
Due: none

re-run ECMWF notebook after repr changes
  docs/notebooks/ECMWF.ipynb
Due: black

unpin mypy and disable on line producing error
  pycontrails/utils/types.py
  pyproject.toml
Due: ruff, black

update changelog
  CHANGELOG.md
Due: none

add model-level datalibs to ECMWF notebook
  docs/notebooks/ECMWF.ipynb
Due: black

update documentation
  docs/api.rst
  pycontrails/datalib/ecmwf/model_level_era5.py
  pycontrails/datalib/ecmwf/model_level_hres.py
Due: ruff, doc8, black

implement model-level ERA5 and HRES datalibs
  pycontrails/core/datalib.py
  pycontrails/datalib/ecmwf/__init__.py
  pycontrails/datalib/ecmwf/arco_era5.py
  pycontrails/datalib/ecmwf/model_level_era5.py
  pycontrails/datalib/ecmwf/model_level_hres.py
  pycontrails/datalib/ecmwf/model_levels.py
Due: ruff, black

Path conditions:
  ruff: any of: \.py$
  doc8: any of: \.(rst)$
  black: any of: \.(py|ipynb)$
