Repository contrailcirrus/pycontrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, doc8, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        language_version: python3
        language: python
        entry: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]
      - id: doc8
        name: doc8
        language_version: python3
        language: python
        entry: doc8
        types: [file]
        files: \.(rst)$
      - id: black
        name: black
        language_version: python3
        language: python
        entry: black
        types: [file]
        files: \.(py|ipynb)$

Support E75L, E75S, E290 and E295
  pycontrails/models/ps_model/static/ps-aircraft-params-20240417.csv
Due: none

Fixes black errors
  pycontrails/models/ps_model/ps_aircraft_params.py
  pycontrails/models/ps_model/ps_operational_limits.py
Due: ruff, black

Integrate PS synonym list
  pycontrails/models/ps_model/ps_model.py
Due: ruff, black

Increase `c_t_available` buffer to 50% [recommended by Ian]
  pycontrails/models/ps_model/ps_operational_limits.py
Due: ruff, black

Move buffer from `c_t_available` to `tr_max` to be consistent with Ian
  pycontrails/models/ps_model/ps_model.py
  pycontrails/models/ps_model/ps_operational_limits.py
Due: ruff, black

Fix versioning
  CHANGELOG.md
Due: none

Try installing setuptools intentionally
  pyproject.toml
Due: none

Remove deprecated benchmark test action
  .github/workflows/benchmark.yaml
Due: none

Compare CoCiP with GOES - Basic functionality
  pycontrails/models/cocip/output_formats.py
Due: ruff, black

Save temporary images to cache
  pycontrails/models/cocip/output_formats.py
Due: ruff, black

Improve figure presentation
  pycontrails/models/cocip/output_formats.py
Due: ruff, black

Automatically get optimal figure dimensions
  pycontrails/models/cocip/output_formats.py
Due: ruff, black

Simplify function to process one time slice
  pycontrails/models/cocip/output_formats.py
Due: ruff, black

Add compare_cocip_with_goes to cocip import
  pycontrails/models/cocip/__init__.py
Due: ruff, black

Bring cartopy into optional dependencies. Change input flight_waypoints -> flight, contrails -> contrail. Automatically cast input flight and contrail dataframes to GeoVectorDataset
  pycontrails/models/cocip/output_formats.py
Due: ruff, black

Update CoCiP notebook with GOES example
  docs/notebooks/CoCiP.ipynb
Due: black

Update changelog
  CHANGELOG.md
Due: none

Fix mypy error in tests
  pycontrails/models/cocip/output_formats.py
Due: ruff, black

Fix mypy error in tests. Turn of warnings for unused ignores - these are noisy across platforms.
  pycontrails/core/polygon.py
  pyproject.toml
Due: ruff, black

Try adding ecmwflibs to complete install to address #54
  pyproject.toml
Due: none

draft LEO satellite datalibs
  docs/_static/pycontrails.bib
  pycontrails/datalib/leo/landsat.py
  pycontrails/datalib/leo/sentinel.py
  pycontrails/datalib/leo/static/landsat_roi_query.sql
  pycontrails/datalib/leo/static/sentinel_roi_query.sql
  pycontrails/datalib/leo/utils.py
  pycontrails/datalib/leo/vis.py
  pyproject.toml
Due: ruff, black

create Landsat and Sentinel tutorial notebooks
  docs/api.rst
  docs/notebooks/Landsat.ipynb
  docs/notebooks/Sentinel.ipynb
  docs/notebooks/data/iagos-flight-landsat.csv
  docs/notebooks/data/iagos-flight-sentinel.csv
  docs/observations.rst
  pycontrails/datalib/leo/__init__.py
  pycontrails/datalib/leo/landsat.py
  pycontrails/datalib/leo/sentinel.py
  pyproject.toml
Due: ruff, doc8, black

Update bibtex file from Zotero export
  docs/_static/pycontrails.bib
Due: none

add leo optional dependencies to complete installation
  pyproject.toml
Due: none

allow | for unions in python 3.9
  pycontrails/datalib/leo/landsat.py
  pycontrails/datalib/leo/sentinel.py
Due: ruff, black

add unit tests
  CHANGELOG.md
  pycontrails/datalib/leo/landsat.py
  pycontrails/datalib/leo/sentinel.py
  pycontrails/datalib/leo/utils.py
  tests/__init__.py
  tests/unit/test_leo.py
Due: ruff, black

more mypy more problems ¯\_(ツ)_/¯
  pycontrails/core/cache.py
  pyproject.toml
Due: ruff, black

de-duplicate code
  CHANGELOG.md
  docs/notebooks/Landsat.ipynb
  docs/notebooks/Sentinel.ipynb
  pycontrails/datalib/leo/landsat.py
  pycontrails/datalib/leo/search.py
  pycontrails/datalib/leo/sentinel.py
  pycontrails/datalib/leo/static/bq_roi_query.sql
  pycontrails/datalib/leo/static/landsat_roi_query.sql
  pycontrails/datalib/leo/utils.py
  tests/unit/test_leo.py
Due: ruff, black

Move landsat and sentinel modules out of 'leo' sub-module
  docs/api.rst
  docs/notebooks/Landsat.ipynb
  docs/notebooks/Sentinel.ipynb
  pycontrails/datalib/_leo_utils/search.py
  pycontrails/datalib/_leo_utils/static/bq_roi_query.sql
  pycontrails/datalib/_leo_utils/vis.py
  pycontrails/datalib/goes.py
  pycontrails/datalib/landsat.py
  pycontrails/datalib/leo/__init__.py
  pycontrails/datalib/sentinel.py
  pyproject.toml
Due: ruff, doc8, black

Add new modules to docstring
  pycontrails/datalib/__init__.py
Due: ruff, black

Require bigquery-storage dependency
  pyproject.toml
Due: none

Suppress outputs in notebooks
  docs/notebooks/Landsat.ipynb
  docs/notebooks/Sentinel.ipynb
Due: black

Remove empty lines in docstrings
  pycontrails/datalib/_leo_utils/search.py
  pycontrails/datalib/_leo_utils/vis.py
  pycontrails/datalib/landsat.py
  pycontrails/datalib/sentinel.py
Due: ruff, black

import ElementTree at the top level
  pycontrails/datalib/sentinel.py
Due: ruff, black

Re-run Landsat notebook clean
  docs/notebooks/Landsat.ipynb
Due: black

Re-run Sentinel notebook clean
  docs/notebooks/Sentinel.ipynb
Due: black

Fix sat (leo) tests
  tests/unit/test_leo.py
Due: ruff, black

Move core.datalib -> datalib._met_utils.metsource
  pycontrails/__init__.py
  pycontrails/core/__init__.py
  pycontrails/datalib/_met_utils/metsource.py
  pycontrails/datalib/ecmwf/arco_era5.py
  pycontrails/datalib/ecmwf/common.py
  pycontrails/datalib/ecmwf/era5.py
  pycontrails/datalib/ecmwf/era5_model_level.py
  pycontrails/datalib/ecmwf/hres.py
  pycontrails/datalib/ecmwf/hres_model_level.py
  pycontrails/datalib/ecmwf/ifs.py
  pycontrails/datalib/gfs/gfs.py
  tests/unit/test_datalib_metsource.py
Due: ruff, black

Fix spire tests
  tests/unit/test_spire.py
Due: ruff, black

Move spire datalib into file instead of subdirectory
  pycontrails/datalib/spire.py
  pycontrails/datalib/spire/__init__.py
Due: ruff, black
