Repository contrailcirrus/pycontrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, doc8, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        language_version: python3
        language: python
        entry: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]
      - id: doc8
        name: doc8
        language_version: python3
        language: python
        entry: doc8
        types: [file]
        files: \.(rst)$
      - id: black
        name: black
        language_version: python3
        language: python
        entry: black
        types: [file]
        files: \.(py|ipynb)$

emit warning in cocip evolution if contrail is advected out of bounds
  pycontrails/models/cocip/cocip.py
Due: ruff, black

update cocip unit tests for changes to warnings
  tests/unit/test_cocip.py
Due: ruff, black

Clean up cache notebook for nbval testing
  docs/examples/Cache.ipynb
Due: black

Add metview dependency to complete install
  pyproject.toml
Due: none

Replace nbval-lax with nbval, add sanitize config
  .pre-commit-config.yaml
  Makefile
  docs/conf.py
  docs/nb-test.cfg
Due: ruff, black

Bump nb depedency versions
  pyproject.toml
Due: none

Sanitize Cartopy output
  docs/nb-test.cfg
Due: none

Improve nbval output sanitization for xarray blocks
  docs/nb-test.cfg
Due: none

Add a few more regex sanitization options
  docs/nb-test.cfg
Due: none

Dial in the configuration options we want for "nb-clean" "nb-execute" and "nb-test"
  .pre-commit-config.yaml
  Makefile
Due: none

This is the execute pattern that works.
  Makefile
Due: none

Fix a bug in the glob pattern, re-run notebooks (again)
  docs/examples/ACCF.ipynb
  docs/examples/AircraftPerformance.ipynb
  docs/examples/Cache.ipynb
  docs/examples/CoCiP.ipynb
  docs/examples/ECMWF.ipynb
  docs/examples/Flight.ipynb
  docs/examples/GFS.ipynb
  docs/examples/GOES.ipynb
  docs/examples/Meteorology.ipynb
  docs/tutorials/CoCiP.ipynb
  docs/tutorials/interpolating-specific-humidity.ipynb
Due: black

Mmove nb-test cfg to top level
  .nb-test.cfg
Due: none

Update Contributing docs
  CONTRIBUTING.md
  Makefile
  docs/develop.rst
Due: doc8

Adds n_engine param check in emissions module
  pycontrails/models/emissions/emissions.py
Due: ruff, black

Adds FDR example notebook
  docs/examples/FDR.ipynb
  docs/examples/fdr.csv
Due: black

Fix interpolating-specific-humidity tutorial error
  docs/tutorials/interpolating-specific-humidity.ipynb
Due: black

Add nbval-skip tags to ACCF and add execution counts (nbval requires cells with output to have execution counts)
  docs/examples/ACCF.ipynb
Due: black

Config no longer in this directory
  docs/conf.py
Due: ruff, black

Add pycontrails version to sanitization
  .nb-test.cfg
Due: none

Add another iteration of the pycontrails version
  .nb-test.cfg
  Makefile
Due: none

Run black over all notebooks in docs
  Makefile
Due: none

Adds test that catches n_engine issue
  tests/unit/test_emissions.py
Due: ruff, black

Removes warning if aircraft_mass is provided to aircraft performance model
  pycontrails/core/aircraft_performance.py
Due: ruff, black

Cleans up FDR notebook
  docs/examples/FDR.ipynb
Due: black

Specify only tags in pre-commit hook
  .pre-commit-config.yaml
Due: none

Revert "Add metview dependency to complete install"
  pyproject.toml
Due: none

Fix FDR link
  docs/examples/FDR.ipynb
Due: black

Revert back to nbval-lax for notebooks. Documents special tags in Makefile. Remove sanitization config.
  .nb-test.cfg
  CONTRIBUTING.md
  Makefile
Due: none

Add back in pre-test/execute steps
  Makefile
Due: none

Re-run execute on notebooks (no material change here)
  docs/examples/ACCF.ipynb
  docs/examples/Cache.ipynb
  docs/examples/CoCiP.ipynb
  docs/examples/ECMWF.ipynb
  docs/examples/FDR.ipynb
  docs/examples/GFS.ipynb
  docs/examples/GOES.ipynb
  docs/examples/Meteorology.ipynb
  docs/tutorials/CoCiP.ipynb
Due: black

Re-test and re-execute all notebooks
  docs/notebooks.rst
  docs/notebooks/CoCiP.ipynb
  docs/notebooks/ECMWF.ipynb
  docs/notebooks/GFS.ipynb
  docs/notebooks/GOES.ipynb
  docs/notebooks/Meteorology.ipynb
  docs/notebooks/run-cocip-with-fdr.ipynb
Due: doc8, black

Consolidate CONTRIBUTING and develop docs
  CONTRIBUTING.md
  docs/develop.rst
Due: doc8

Skip a few more notebooks and cells on nbval
  Makefile
  docs/notebooks/ECMWF.ipynb
  docs/notebooks/GFS.ipynb
Due: black

Update changelog
  CHANGELOG.md
Due: none
