Repository contrailcirrus/pycontrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, doc8, black

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: ruff
    name: ruff
    language_version: python3
    language: python
    entry: ruff
    args: [--fix, --exit-non-zero-on-fix]
    types: [python]
  - id: doc8
    name: doc8
    language_version: python3
    language: python
    entry: doc8
    types: [file]
    files: \.(rst)$
  - id: black
    name: black
    language_version: python3
    language: python
    entry: black
    types: [file]
    files: \.(py|ipynb)$

rename linear -> linear-q
  pycontrails/core/models.py
  pycontrails/models/cocip/cocip.py
Due: ruff, black

no longer overwrite existing data when call run_interpolators with explicit keys
  pycontrails/models/cocipgrid/cocip_grid.py
Due: ruff, black

pass in tuple instead of list
  pycontrails/models/cocipgrid/cocip_grid.py
Due: ruff, black

add experimental new interpolation_q_method
  pycontrails/core/models.py
  pycontrails/models/cocip/cocip.py
  pycontrails/models/cocipgrid/cocip_grid.py
Due: ruff, black

cosmetic: add some type hints
  tests/unit/test_interpolation.py
Due: ruff, black

hard code specific humidity lapse rate based on historic ERA5 reanalysis
  pycontrails/core/models.py
  tests/unit/test_interpolation.py
Due: ruff, black

fix tests
  pycontrails/models/humidity_scaling.py
  tests/unit/test_humidity_scaling.py
  tests/unit/test_models.py
Due: ruff, black

update tests
  tests/unit/test_humidity_scaling.py
  tests/unit/test_interpolation.py
Due: ruff, black

rename linear -> linear-q
  tests/unit/test_interpolation.py
Due: ruff, black

update humidity_scaling for different interpolation_q_method choices
  pycontrails/models/humidity_scaling.py
Due: ruff, black

refactor how experimental q_method is applied to avoid calling intersect_met if not needed
  pycontrails/core/models.py
  pycontrails/models/humidity_scaling.py
Due: ruff, black

update CHANGELOG
  CHANGELOG.md
Due: none

include q_method in Model.interp_kwargs
  pycontrails/core/models.py
  pycontrails/models/humidity_scaling.py
Due: ruff, black

replace 'linear-q' with None for interpolation_q_method default value
  CHANGELOG.md
  pycontrails/core/models.py
  pycontrails/models/humidity_scaling.py
  tests/unit/test_humidity_scaling.py
  tests/unit/test_interpolation.py
  tests/unit/test_models.py
Due: ruff, black

raise consistent error for invalid q_method
  pycontrails/core/models.py
  pycontrails/datalib/gfs/gfs.py
  pycontrails/models/humidity_scaling.py
  tests/unit/test_interpolation.py
Due: ruff, black

update docstring
  pycontrails/core/models.py
Due: ruff, black

allow log(q) to be pre-computed when running with q_method='log-q-log-p'
  pycontrails/core/models.py
  pycontrails/models/humidity_scaling.py
  tests/unit/test_humidity_scaling.py
  tests/unit/test_interpolation.py
Due: ruff, black

BREAKING: remove the cache_size parameter from MetDataset.from_zarr
  pycontrails/core/met.py
  tests/unit/test_zarr.py
Due: ruff, black

don't copy when calling VectorDataset.sum (np.concatenate already copies)
  pycontrails/core/vector.py
Due: ruff, black

update changelog
  CHANGELOG.md
  pycontrails/models/humidity_scaling.py
Due: ruff, black

fix test
  tests/unit/test_humidity_scaling.py
Due: ruff, black

bugfix: only compute T_critical_sac for finite T_LM
  pycontrails/models/sac.py
Due: ruff, black

sibling commit to fe10a1d: avoid recompute interp_kwargs twice
  pycontrails/models/cocip/cocip.py
  pycontrails/models/cocipgrid/cocip_grid.py
Due: ruff, black

run black
  docs/tutorials/interpolating-specific-humidity.ipynb
Due: black

FIX: remove github.ref check
  .github/workflows/release.yaml
Due: none

use timeout pytest marker in test_ecmwf to fail tests when dask bug encountered
  pyproject.toml
  tests/unit/test_ecmwf.py
Due: ruff, black

only publish to pypi if on main branch
  .github/workflows/release.yaml
Due: none

move humidity scaling into separate sub-directory within pycontrails/models
  pycontrails/models/humidity_scaling/__init__.py
  pycontrails/models/humidity_scaling/humidity_scaling.py
  pycontrails/models/humidity_scaling/quantiles/era5-quantiles.pq
  pycontrails/models/quantiles/era5_ensemble_quantiles.npy
  pycontrails/models/quantiles/iagos_quantiles.npy
  pyproject.toml
Due: ruff, black

add notebook discussing interpolation methodologies
  docs/tutorials.rst
  docs/tutorials/interpolating-specific-humidity.ipynb
Due: doc8, black

fix a few easy sphinx issues
  pycontrails/models/cocip/contrail_properties.py
  pycontrails/models/cocip/radiative_forcing.py
  pycontrails/physics/geo.py
Due: ruff, black

update changelog for accf fix
  CHANGELOG.md
Due: none

split _prepare_q into _prepare_q_log_q_log_p and _prepare_q_cubic_spline
  pycontrails/core/models.py
Due: ruff, black

update changelog
  CHANGELOG.md
Due: none

fix names and titles for consistency
  docs/tutorials/interpolating-specific-humidity.ipynb
Due: black

make changelog headers consistent
  CHANGELOG.md
Due: none

add PSModel and other classes to ps_model/__init__.py
  pycontrails/models/ps_model/__init__.py
Due: ruff, black

add reference to PS model in sphinx docs
  docs/api.rst
Due: doc8

add acceleration, climb_descent_angle, minimum_fuel_flow_rate_at_cruise, and equivalent_fuel_flow_rate_at_cruise functions
  pycontrails/physics/jet.py
Due: ruff, black

add PS model unit tests
  pycontrails/models/ps_model/static/ps-aircraft-params-20230517.csv
  tests/unit/test_ps_model.py
Due: ruff, black

remove non alphanumeric characters from column names
  pycontrails/models/ps_model/static/ps-aircraft-params-20230517.csv
Due: none
