Repository contrailcirrus/pycontrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, doc8, nb-clean

ruff-format:
  name: ruff format
  language_version: python3
  language: python
  entry: ruff format

ruff-lint:
  name: ruff lint
  language_version: python3
  language: python
  entry: ruff check
  args:
  - --fix
  - --exit-non-zero-on-fix

doc8:
  name: doc8
  language_version: python3
  language: python
  entry: doc8

nb-clean:
  name: nb-clean
  language_version: python3
  language: python
  entry: nb-clean
  args:
  - clean
  - --remove-empty-cells
  - --preserve-cell-metadata
  - tags
  - --preserve-cell-outputs
  - --preserve-execution-counts

avoid extra str.strip
  pycontrails/core/flightplan.py
Due: ruff-format, ruff-lint

Parse Waypoint Functions from ARINC 633 OFP.
  pycontrails/core/flightplan.py
  tests/unit/test_flightplan.py
Due: ruff-format, ruff-lint

update changelog
  CHANGELOG.md
Due: none

Make GCPCacheStore picklable
  pycontrails/core/cache.py
  tests/unit/test_cache.py
Due: ruff-format, ruff-lint

Update changlog
  CHANGELOG.md
Due: none

Fix property namings
  pycontrails/core/cache.py
  tests/unit/test_cache.py
Due: ruff-format, ruff-lint

Add picklable flag to allow optional client caching
  pycontrails/core/cache.py
  tests/unit/test_cache.py
Due: ruff-format, ruff-lint

Update changelog
  CHANGELOG.md
Due: none

Update OpenSky data access instructions
  docs/notebooks.rst
Due: doc8

Remove eager import
  pycontrails/core/cache.py
Due: ruff-format, ruff-lint

update CHANGELOG
  CHANGELOG.md
Due: none

fix partial smoke number bug
  CHANGELOG.md
  pycontrails/models/emissions/emissions.py
  tests/unit/test_emissions.py
Due: ruff-format, ruff-lint

add has_finite_smoke_numbers property to avoid some duplication
  pycontrails/models/emissions/emissions.py
  pycontrails/models/emissions/gaseous.py
Due: ruff-format, ruff-lint

update changelog for release
  CHANGELOG.md
Due: none

fix distance unit passed into cargo_load_factor
  CHANGELOG.md
  pycontrails/core/aircraft_performance.py
  tests/unit/test_ch_aviation.py
Due: ruff-format, ruff-lint

swap fl.attrs.get with fl.get_constant
  pycontrails/core/aircraft_performance.py
Due: ruff-format, ruff-lint

add arpege demo notebook
  docs/meteorology.rst
  docs/notebooks/ARPEGE.ipynb
Due: ruff-format, ruff-lint, doc8, nb-clean

update notebook title and changelog
  CHANGELOG.md
  docs/notebooks/ARPEGE.ipynb
Due: ruff-format, ruff-lint, nb-clean

fix formatting
  docs/notebooks/ARPEGE.ipynb
Due: ruff-format, ruff-lint, nb-clean

update some annotations for pep 695
  pycontrails/core/aircraft_performance.py
  pycontrails/core/flightplan.py
  pycontrails/core/met.py
  pycontrails/datalib/_met_utils/metsource.py
  pycontrails/models/cocipgrid/cocip_grid.py
  pycontrails/physics/thermo.py
  pycontrails/utils/coroutines.py
  pycontrails/utils/types.py
Due: ruff-format, ruff-lint

more pep 695
  pycontrails/core/met.py
  pycontrails/core/vector.py
  pycontrails/datalib/_met_utils/metsource.py
  pycontrails/physics/thermo.py
  pycontrails/utils/types.py
Due: ruff-format, ruff-lint

remove typing-extensions
  pyproject.toml
Due: none

allow prereleases
  .github/workflows/test.yaml
Due: none

rewrite m_to_pl and pl_to_m without np.piecewise
  pycontrails/physics/units.py
Due: ruff-format, ruff-lint

more pep 695
  pycontrails/core/aircraft_performance.py
  pycontrails/core/models.py
Due: ruff-format, ruff-lint

Path conditions:
  ruff-format: any of: \.(py|ipynb)$
  ruff-lint: any of: \.(py|ipynb)$
  doc8: any of: \.(rst)$
  nb-clean: any of: \.(ipynb)$
