Repository contrailcirrus/pycontrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, doc8, nb-clean

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        language_version: python3
        language: python
        entry: ruff format
        types: [file]
        files: \.(py|ipynb)$
      - id: ruff-lint
        name: ruff lint
        language_version: python3
        language: python
        entry: ruff check
        args: [--fix, --exit-non-zero-on-fix]
        types: [file]
        files: \.(py|ipynb)$
      - id: doc8
        name: doc8
        language_version: python3
        language: python
        entry: doc8
        types: [file]
        files: \.(rst)$
      - id: nb-clean
        name: nb-clean
        language_version: python3
        language: python
        entry: nb-clean
        types: [file]
        files: \.(ipynb)$
        args:
          - clean
          - --remove-empty-cells
          - --preserve-cell-metadata
          - tags
          - --preserve-cell-outputs
          - --preserve-execution-counts

feat: parse M633timestamp, category, flightPlanId in OFP XML
  pycontrails/core/flightplan.py
  tests/unit/test_flightplan.py
Due: ruff-format, ruff-lint

refactor: rename attrs keys to flight_plan_header_timestamp and flight_plan_category
  pycontrails/core/flightplan.py
  tests/unit/test_flightplan.py
Due: ruff-format, ruff-lint

update changelog
  CHANGELOG.md
Due: none

update for latest ruff
  pycontrails/core/flight.py
  pycontrails/models/cocip/cocip_uncertainty.py
  pycontrails/models/cocip/output_formats.py
  pycontrails/models/emissions/gaseous.py
  pycontrails/physics/jet.py
  pyproject.toml
  tests/unit/test_sac_issr.py
Due: ruff-format, ruff-lint

add Flight.add_pseudo_waypoints
  pycontrails/core/fleet.py
  pycontrails/core/flight.py
Due: ruff-format, ruff-lint

fix some linting / mypy issues
  pycontrails/core/fleet.py
  pycontrails/core/flight.py
Due: ruff-format, ruff-lint

add unit tests for Flight.add_pseudo_waypoints
  tests/unit/test_flight.py
Due: ruff-format, ruff-lint

tweak type: ignore for numpy 2.5.2
  Makefile
  pycontrails/models/cocip/radiative_forcing.py
  pycontrails/physics/thermo.py
  pycontrails/physics/units.py
Due: ruff-format, ruff-lint

Rename EDB files and paths
  pycontrails/models/emissions/emissions.py
  pycontrails/models/emissions/static/edb-gaseous-v32-engines.csv
  pycontrails/models/emissions/static/edb-nvpm-v32-engines.csv
Due: ruff-format, ruff-lint

Replace static files
  pycontrails/models/emissions/static/edb-gaseous-v32-engines.csv
  pycontrails/models/emissions/static/edb-nvpm-v32-engines.csv
Due: none

Update unit test
  tests/unit/test_emissions.py
Due: ruff-format, ruff-lint

Added logic for the emissions module to use latest engine_uid if it has been superseded with latest data
  pycontrails/models/emissions/nvpm.py
  tests/unit/test_emissions.py
Due: ruff-format, ruff-lint

Added logic for the emissions module to use latest engine_uid if it has been superseded with latest data - 2
  pycontrails/models/emissions/emissions.py
  pycontrails/models/emissions/gaseous.py
Due: ruff-format, ruff-lint

Bug fix in unit test
  tests/unit/test_emissions.py
Due: ruff-format, ruff-lint

lint
  pycontrails/models/emissions/emissions.py
  tests/unit/test_emissions.py
Due: ruff-format, ruff-lint

keep searching for superseded engine UIDs
  pycontrails/models/emissions/emissions.py
  tests/unit/test_emissions.py
Due: ruff-format, ruff-lint

update CHANGELOG
  CHANGELOG.md
Due: none

Parse Waypoint Functions from ARINC 633 OFP.
  pycontrails/core/flightplan.py
  tests/unit/test_flightplan.py
Due: ruff-format, ruff-lint

Port ukmo datalib
  pycontrails/datalib/metoffice/__init__.py
  pycontrails/datalib/metoffice/s3.py
  pycontrails/datalib/metoffice/ukmo.py
Due: ruff-format, ruff-lint

Update OpenSky data access instructions
  docs/notebooks.rst
Due: doc8

Add tests for ukmo
  tests/unit/test_metoffice.py
Due: ruff-format, ruff-lint

Expose ukmo
  docs/api.rst
  pycontrails/core/met.py
Due: ruff-format, ruff-lint, doc8

Update project dependencies
  pyproject.toml
  uv.lock
Due: none

Update changelog
  CHANGELOG.md
Due: none

ignore google_crc32c warning
  pyproject.toml
Due: none

cast to float to avoid numpy warning
  tests/unit/test_cocip.py
Due: ruff-format, ruff-lint
