Repository contrailcirrus/pycontrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, doc8, nb-clean

ruff-format:
  name: ruff format
  language_version: python3
  language: python
  entry: ruff format

ruff-lint:
  name: ruff lint
  language_version: python3
  language: python
  entry: ruff check
  args:
  - --fix
  - --exit-non-zero-on-fix

doc8:
  name: doc8
  language_version: python3
  language: python
  entry: doc8

nb-clean:
  name: nb-clean
  language_version: python3
  language: python
  entry: nb-clean
  args:
  - clean
  - --remove-empty-cells
  - --preserve-cell-metadata
  - tags
  - --preserve-cell-outputs
  - --preserve-execution-counts

import override from typing
  pycontrails/core/cache.py
  pycontrails/core/fleet.py
  pycontrails/core/flight.py
  pycontrails/core/met.py
  pycontrails/core/vector.py
  pycontrails/datalib/dwd/icon.py
  pycontrails/datalib/ecmwf/arco_era5.py
  pycontrails/datalib/ecmwf/common.py
  pycontrails/datalib/ecmwf/era5.py
  pycontrails/datalib/ecmwf/era5_model_level.py
  pycontrails/datalib/ecmwf/hres.py
  pycontrails/datalib/ecmwf/hres_model_level.py
  pycontrails/datalib/ecmwf/ifs.py
  pycontrails/datalib/gfs/gfs.py
  pycontrails/models/cocip/cocip.py
  pycontrails/models/dry_advection.py
  pycontrails/models/humidity_scaling/humidity_scaling.py
  pycontrails/models/ps_model/ps_model.py
  tests/unit/test_humidity_scaling.py
Due: ruff-format, ruff-lint

update for pep 695
  tests/unit/test_dwd.py
  tests/unit/test_ecmwf.py
Due: ruff-format, ruff-lint

replace a few ArrayOrFloat with union types
  pycontrails/models/humidity_scaling/humidity_scaling.py
  pycontrails/models/ps_model/ps_operational_limits.py
  pycontrails/physics/jet.py
Due: ruff-format, ruff-lint

remove support_arraylike
  pycontrails/utils/types.py
  tests/unit/test_units.py
  tests/unit/test_utils.py
Due: ruff-format, ruff-lint

fix mypy issues
  pycontrails/core/models.py
  pycontrails/physics/units.py
  pycontrails/utils/types.py
Due: ruff-format, ruff-lint

remove np.piecewise in _e_sat_piecewise
  pycontrails/physics/thermo.py
Due: ruff-format, ruff-lint

drop python 3.11 support, add python 3.15 testing
  .github/workflows/test.yaml
  README.md
  docs/install.rst
  pyproject.toml
Due: doc8

remove scikit-learn dependency
  pyproject.toml
Due: none

expand cargo_load_factor docstring
  pycontrails/physics/jet.py
Due: ruff-format, ruff-lint

clean up notebook
  .gitignore
  Makefile
  docs/notebooks/ARPEGE.ipynb
Due: ruff-format, ruff-lint, nb-clean

add arpege demo notebook
  docs/meteorology.rst
  docs/notebooks/ARPEGE.ipynb
Due: ruff-format, ruff-lint, doc8, nb-clean

fix formatting
  docs/notebooks/ARPEGE.ipynb
Due: ruff-format, ruff-lint, nb-clean

update notebook title and changelog
  CHANGELOG.md
  docs/notebooks/ARPEGE.ipynb
Due: ruff-format, ruff-lint, nb-clean

Update CHANGELOG.md for v0.63.5 release
  CHANGELOG.md
Due: none

Port ukmo datalib
  pycontrails/datalib/metoffice/__init__.py
  pycontrails/datalib/metoffice/s3.py
  pycontrails/datalib/metoffice/ukmo.py
Due: ruff-format, ruff-lint

Expose ukmo
  docs/api.rst
  pycontrails/core/met.py
Due: ruff-format, ruff-lint, doc8

Add tests for ukmo
  tests/unit/test_metoffice.py
Due: ruff-format, ruff-lint

Update project dependencies
  pyproject.toml
  uv.lock
Due: none

Convert from boto3 to s3fs
  CHANGELOG.md
  pycontrails/datalib/metoffice/s3.py
  pycontrails/datalib/metoffice/ukmo.py
  pyproject.toml
  tests/unit/test_metoffice.py
Due: ruff-format, ruff-lint

Update changelog
  CHANGELOG.md
Due: none

Fix lead time validity bounds and cleanup
  CHANGELOG.md
  pycontrails/datalib/metoffice/s3.py
  pycontrails/datalib/metoffice/ukmo.py
  tests/unit/test_metoffice.py
Due: ruff-format, ruff-lint

rewrite m_to_pl and pl_to_m without np.piecewise
  pycontrails/physics/units.py
Due: ruff-format, ruff-lint

allow prereleases
  .github/workflows/test.yaml
Due: none

remove typing-extensions
  pyproject.toml
Due: none

update some annotations for pep 695
  pycontrails/core/aircraft_performance.py
  pycontrails/core/flightplan.py
  pycontrails/core/met.py
  pycontrails/datalib/_met_utils/metsource.py
  pycontrails/models/cocipgrid/cocip_grid.py
  pycontrails/physics/thermo.py
  pycontrails/utils/coroutines.py
  pycontrails/utils/types.py
Due: ruff-format, ruff-lint

more pep 695
  pycontrails/core/aircraft_performance.py
  pycontrails/core/models.py
Due: ruff-format, ruff-lint

more pep 695
  pycontrails/core/met.py
  pycontrails/core/vector.py
  pycontrails/datalib/_met_utils/metsource.py
  pycontrails/physics/thermo.py
  pycontrails/utils/types.py
Due: ruff-format, ruff-lint

simplify cibuildwheel skip config
  pyproject.toml
Due: none

build wheels for linux aarch64
  .github/workflows/release.yaml
Due: none

remove flaky outdated test
  tests/unit/test_units.py
Due: ruff-format, ruff-lint

use nightly index for testing cp315 wheels
  pyproject.toml
Due: none

Path conditions:
  ruff-format: any of: \.(py|ipynb)$
  ruff-lint: any of: \.(py|ipynb)$
  doc8: any of: \.(rst)$
  nb-clean: any of: \.(ipynb)$
