Repository contrailcirrus/pycontrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, doc8, nb-clean

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        language_version: python3
        language: python
        entry: ruff format
        types: [file]
        files: \.(py|ipynb)$
      - id: ruff-lint
        name: ruff lint
        language_version: python3
        language: python
        entry: ruff check
        args: [--fix, --exit-non-zero-on-fix]
        types: [file]
        files: \.(py|ipynb)$
      - id: doc8
        name: doc8
        language_version: python3
        language: python
        entry: doc8
        types: [file]
        files: \.(rst)$
      - id: nb-clean
        name: nb-clean
        language_version: python3
        language: python
        entry: nb-clean
        types: [file]
        files: \.(ipynb)$
        args:
          - clean
          - --remove-empty-cells
          - --preserve-cell-metadata
          - tags
          - --preserve-cell-outputs
          - --preserve-execution-counts

preserve fuel in Flight.resample_and_fill
  CHANGELOG.md
  pycontrails/core/flight.py
  tests/unit/test_flight.py
Due: ruff-format, ruff-lint

fix ACCF parameters
  pycontrails/models/accf.py
Due: ruff-format, ruff-lint

install climaccf from github
  docs/api.rst
  docs/install.rst
  pyproject.toml
Due: doc8

update CHANGELOG
  CHANGELOG.md
Due: none

fix type hint
  pycontrails/models/accf.py
Due: ruff-format, ruff-lint

fix test
  tests/unit/test_accf.py
Due: ruff-format, ruff-lint

add ACCFParams.unit_K_per_kg_fuel and rerun notebook
  docs/integrations/ACCF.ipynb
  pycontrails/models/accf.py
Due: ruff-format, ruff-lint, nb-clean

workaround for windows git clone
  .github/workflows/test.yaml
Due: none

don't overwrite custom horizontal_resolution
  CHANGELOG.md
  pycontrails/models/accf.py
  tests/unit/test_accf.py
Due: ruff-format, ruff-lint

fix typo, use context manager when possible
  pycontrails/datalib/landsat.py
  pycontrails/datalib/sentinel.py
Due: ruff-format, ruff-lint

remove duplicate of potential vorticity parameter
  pycontrails/models/accf.py
Due: ruff-format, ruff-lint

install pycontrails-bada from GCP artifact registry in workflows
  .github/workflows/docs.yaml
  .github/workflows/doctest.yaml
  .github/workflows/test.yaml
Due: none

update pycontrails-bada install command
  docs/install.rst
  pycontrails/ext/bada.py
  pycontrails/ext/synthetic_flight.py
Due: ruff-format, ruff-lint, doc8

Update pycontrails-bada install docs
  docs/install.rst
Due: doc8

sort build-system requirements
  pyproject.toml
Due: none

floor pycontrails version when building docs
  .github/workflows/docs.yaml
Due: none

debug
  .github/workflows/docs.yaml
Due: none

fix typo
  .github/workflows/docs.yaml
Due: none

run taplo
  pyproject.toml
Due: none

update changelog
  CHANGELOG.md
Due: none
