Repository contrailcirrus/pycontrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, doc8, black

ruff:
  name: ruff
  language_version: python3
  language: python
  entry: ruff
  args:
  - --fix
  - --exit-non-zero-on-fix

doc8:
  name: doc8
  language_version: python3
  language: python
  entry: doc8

black:
  name: black
  language_version: python3
  language: python
  entry: black

FIX: use parameter E in hres.get_forecast_filename, update logic for parameter S
  CHANGELOG.md
  docs/api.rst
  pycontrails/datalib/ecmwf/hres.py
Due: ruff, doc8, black

fix type annotation
  pycontrails/utils/dependencies.py
Due: ruff, black

Uses rather than computing difference
  tests/unit/test_flight.py
Due: ruff, black

Formatting changes
  pycontrails/core/flight.py
  tests/unit/test_flight.py
Due: ruff, black

Removes math import, use of enumerate, and adds parentheses grouping
  pycontrails/core/flight.py
Due: ruff, black

Updates CHANGELONG
  CHANGELOG.md
Due: none

Geodestic interpolation only tests against flat flight
  tests/unit/test_flight.py
Due: ruff, black

Fixes doc test
  pycontrails/core/flight.py
Due: ruff, black

Separates out '_altitude_interpolation' into three seperate functions
  pycontrails/core/flight.py
Due: ruff, black

Cosmetic changes, add comments
  pycontrails/core/flight.py
Due: ruff, black

draft of new GOES interface
  docs/api.rst
  pycontrails/core/cache.py
  pycontrails/datalib/goes.py
Due: ruff, doc8, black

update CHANGELOG
  CHANGELOG.md
Due: none

fix unit test that broke with upgrade to xarray 2023.09
  tests/unit/test_flight.py
Due: ruff, black

mild cleanup of the era5 module
  pycontrails/core/datalib.py
  pycontrails/datalib/ecmwf/era5.py
  pycontrails/datalib/ecmwf/hres.py
Due: ruff, black

improve parsing of region parameter in GOES
  pycontrails/core/cache.py
  pycontrails/datalib/goes.py
Due: ruff, black

overhaul rgb calculation for visualization, downselect C02 when opening with GOES.get, raise exception for inconsistent resolution
  pycontrails/datalib/goes.py
Due: ruff, black

add GOES notebook
  docs/examples.rst
  docs/examples/GOES.ipynb
Due: doc8, black

import cartopy and gcsfs in try except
  pycontrails/datalib/goes.py
  pyproject.toml
Due: ruff, black

Add Kulik Thesis to bibliography
  docs/_static/pycontrails.bib
Due: none

update links and rename extract_goes_visualization
  docs/examples/GOES.ipynb
  pycontrails/datalib/goes.py
Due: ruff, black

ignore mypy issues
  pycontrails/datalib/goes.py
Due: ruff, black

address sphinx warnings
  docs/api.rst
  pycontrails/physics/constants.py
  pycontrails/physics/geo.py
Due: ruff, doc8, black

avoid redundant offline checks in test modules
  tests/__init__.py
  tests/unit/test_airports.py
  tests/unit/test_cache.py
Due: ruff, black

better handling of horizontal resolution, determine the mode from the underlying time
  pycontrails/datalib/goes.py
Due: ruff, black

write unit tests for goes access
  pyproject.toml
  tests/unit/test_goes.py
Due: ruff, black

fix typo
  docs/examples/GOES.ipynb
Due: black

add h5netcdf to goes dependencies
  pyproject.toml
Due: none

skip goes code requiring h5py on windows
  Makefile
  tests/__init__.py
  tests/unit/test_goes.py
Due: ruff, black

update changelog
  CHANGELOG.md
Due: none

Path conditions:
  ruff: any of: \.py$
  doc8: any of: \.(rst)$
  black: any of: \.(py|ipynb)$
