Repository contrailcirrus/pycontrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, doc8, black, nb-clean

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        language_version: python3
        language: python
        entry: ruff check
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]
      - id: doc8
        name: doc8
        language_version: python3
        language: python
        entry: doc8
        types: [file]
        files: \.(rst)$
      - id: black
        name: black
        language_version: python3
        language: python
        entry: black
        types: [file]
        files: \.(py|ipynb)$
      - id: nb-clean
        name: nb-clean
        language_version: python3
        language: python
        entry: nb-clean
        types: [file]
        files: \.(ipynb)$
        args:
          - clean
          - --remove-empty-cells
          - --preserve-cell-metadata
          - tags
          - --preserve-cell-outputs
          - --preserve-execution-counts

np.concat -> np.concatenate
  pycontrails/models/cocip/cocip.py
Due: ruff, black

add DryAdvection model to API reference
  docs/api.rst
Due: doc8

0 -> 0.0
  pycontrails/datalib/_leo_utils/vis.py
Due: ruff, black

fix ruff --select RUF issues in pycontrails/datalib
  pycontrails/datalib/_met_utils/metsource.py
  pycontrails/datalib/ecmwf/era5.py
  pycontrails/datalib/ecmwf/era5_model_level.py
  pycontrails/datalib/ecmwf/hres_model_level.py
  pycontrails/datalib/ecmwf/variables.py
  pycontrails/datalib/gfs/gfs.py
Due: ruff, black

specify python >= 3.10 in documentation
  README.md
  docs/install.rst
Due: doc8

no longer test on python 3.9
  .github/workflows/test.yaml
Due: none

build wheels for python 3.13, no longer build wheels for python 3.9
  .github/workflows/release.yaml
Due: none

pass strict=True into zip
  pycontrails/core/cache.py
  pycontrails/core/flight.py
  pycontrails/core/met.py
  pycontrails/datalib/ecmwf/hres_model_level.py
  pycontrails/ext/synthetic_flight.py
  pycontrails/models/cocip/radiative_forcing.py
Due: ruff, black

fix more ruff RUF rules
  pycontrails/physics/thermo.py
  pycontrails/utils/json.py
Due: ruff, black

pass strict=True into zip
  tests/unit/test_fleet.py
  tests/unit/test_flight.py
  tests/unit/test_ps_model.py
  tests/unit/test_vector.py
Due: ruff, black

change MetDataset.dim_order from list to tuple
  pycontrails/core/met.py
  tests/unit/test_met.py
  tests/unit/test_tau_cirrus.py
Due: ruff, black

make ruff --select UP fixes
  pycontrails/core/met.py
  pycontrails/core/models.py
  pycontrails/core/vector.py
  pycontrails/datalib/_met_utils/metsource.py
  pycontrails/datalib/gfs/gfs.py
  pycontrails/models/cocipgrid/cocip_grid.py
  pycontrails/models/ps_model/ps_model.py
  pycontrails/models/sac.py
  pycontrails/utils/json.py
  pycontrails/utils/types.py
  tests/_deprecated.py
  tests/unit/test_tau_cirrus.py
  tests/unit/test_units.py
Due: ruff, black

update CHANGELOG
  CHANGELOG.md
Due: none

fix mypy issue
  pycontrails/datalib/_met_utils/metsource.py
Due: ruff, black

run 'make taplo'
  pyproject.toml
Due: none

defer a few imports
  pycontrails/datalib/_leo_utils/vis.py
  pycontrails/datalib/landsat.py
Due: ruff, black

add ._spline = None attribute (not yet enabled)
  pycontrails/core/interpolation.py
Due: ruff, black

fix ruff --select RUF issues in pycontrails/core
  pycontrails/core/flight.py
  pycontrails/core/flightplan.py
  pycontrails/core/met.py
  pycontrails/core/met_var.py
  pycontrails/core/models.py
  pycontrails/core/vector.py
Due: ruff, black

make class variables immutable
  pycontrails/models/accf.py
  tests/unit/test_models.py
Due: ruff, black

remove (unreleased)
  CHANGELOG.md
Due: none

add numpy>=2.1.0rc1 to build requirements for python 3.13
  pyproject.toml
Due: none

bump black
  pyproject.toml
Due: none

fix config variables to comply with the behavior of the ACCF example, otherwise CLIMaCCF returns all aCCFs in their original unit
  pycontrails/models/accf.py
Due: ruff, black

make ERA5 data retrieval ready for the CDS-beta, as the current API will be shut down on September 3rd, 2024
  pycontrails/datalib/ecmwf/era5.py
Due: ruff, black

avoid (unnecessary) sorting of recently fetched aCCFs, as it only slows down performance
  pycontrails/core/met.py
  pycontrails/models/accf.py
Due: ruff, black

do NOT sort
  pycontrails/models/accf.py
Due: ruff, black

make era5 preprocessing compatible with CDS-Beta
  pycontrails/datalib/ecmwf/era5.py
Due: ruff, black

raise error if timestamps is empty
  pycontrails/datalib/_met_utils/metsource.py
Due: ruff, black

update links for CDS-Beta
  docs/notebooks/ECMWF.ipynb
Due: black, nb-clean

partially revert 0b7fa0a9a68e8af7488e7ce800319ad021075965
  pycontrails/datalib/ecmwf/era5.py
Due: ruff, black

remove unneeded f-string
  tests/benchmark/cocip/review.ipynb
Due: black, nb-clean

update ruff links, tweak configs for compatibility with ruff 0.6
  pyproject.toml
Due: none

address mypy
  pycontrails/datalib/ecmwf/common.py
  pycontrails/models/cocipgrid/cocip_grid.py
Due: ruff, black

update docstring with CDS-Beta and legacy CDS urls
  pycontrails/datalib/ecmwf/era5.py
  pycontrails/datalib/ecmwf/era5_model_level.py
Due: ruff, black

simplify numpy build pin (numpy 2.1 released)
  pyproject.toml
Due: none
