Repository contrailcirrus/pycontrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, doc8, black

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: ruff
    name: ruff
    language_version: python3
    language: python
    entry: ruff
    args: [--fix, --exit-non-zero-on-fix]
    types: [python]
  - id: doc8
    name: doc8
    language_version: python3
    language: python
    entry: doc8
    types: [file]
    files: \.(rst)$
  - id: black
    name: black
    language_version: python3
    language: python
    entry: black
    types: [file]
    files: \.(py|ipynb)$

ignore scipy.optimize.newton RuntimeError
  CHANGELOG.md
  pycontrails/models/sac.py
Due: ruff, black

Update Zenodo reference to include contributors
  .zenodo.json
Due: none

fix polygon corner-case in which buffer contour is a MultiPolygon
  pycontrails/core/polygon.py
Due: ruff, black

parameterize test_global_rhi_correction for both available q_method choices
  tests/unit/test_humidity_scaling.py
Due: ruff, black

include new sigmoid coefficients for cubic-spline interpolation and slightly refactor ExponentialBoostLatitudeCorrectionHumidityScaling
  pycontrails/models/humidity_scaling/__init__.py
  pycontrails/models/humidity_scaling/humidity_scaling.py
Due: ruff, black

round sigmoid coefficients to 5 digits and adjust unit test accordingly
  pycontrails/models/humidity_scaling/humidity_scaling.py
  tests/unit/test_humidity_scaling.py
Due: ruff, black

update warning when humidity_scaling is None, and ensure q_method is transferred from parent model
  pycontrails/core/models.py
Due: ruff, black

cache call to _load_sigmoid_coef and convert a few ints to floats
  pycontrails/models/humidity_scaling/humidity_scaling.py
Due: ruff, black

add tests for new cubic-spline sigmoid coefficients
  tests/unit/test_cocip.py
Due: ruff, black

fix ecmwf confluence links
  docs/examples/ECMWF.ipynb
Due: black

Add GFS Notebook, Update contributing to list notebooks tags to skip execution (nbval-skip, skip-execution)
  CONTRIBUTING.md
  docs/examples/ECMWF.ipynb
  docs/examples/GFS.ipynb
Due: black

Add GFS to the docs
  docs/examples.rst
Due: doc8

update changelog for v0.44.2 release
  CHANGELOG.md
Due: none

add nbval-skip and skip-execution tags to remaining cells
  docs/examples/GFS.ipynb
Due: black

extend Models.set_source_met for non-default q-method
  pycontrails/core/models.py
Due: ruff, black

add unit test for ISSR.eval with cubic-spline q method
  tests/unit/test_sac_issr.py
Due: ruff, black

cleanup MetDataset.from_coords
  pycontrails/core/met.py
Due: ruff, black

pass met_key into _interp_grid_to_grid
  pycontrails/core/models.py
Due: ruff, black

fix type hints
  pycontrails/core/met.py
Due: ruff, black

update changelog
  CHANGELOG.md
Due: none

Bug fix: Functions to increase spatial resolution of natural cirrus properties
  pycontrails/models/cocip/output/grid_cirrus.py
Due: ruff, black

Bug fix `geo.py`
  pycontrails/physics/geo.py
Due: ruff, black

Rearrange functions
  pycontrails/models/cocip/output_formats.py
Due: ruff, black
