Repository contrailcirrus/pycontrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, doc8, nb-clean

ruff-format:
  name: ruff format
  language_version: python3
  language: python
  entry: ruff format

ruff-lint:
  name: ruff lint
  language_version: python3
  language: python
  entry: ruff check
  args:
  - --fix
  - --exit-non-zero-on-fix

doc8:
  name: doc8
  language_version: python3
  language: python
  entry: doc8

nb-clean:
  name: nb-clean
  language_version: python3
  language: python
  entry: nb-clean
  args:
  - clean
  - --remove-empty-cells
  - --preserve-cell-metadata
  - tags
  - --preserve-cell-outputs
  - --preserve-execution-counts

more pep 695
  pycontrails/core/aircraft_performance.py
  pycontrails/core/models.py
Due: ruff-format, ruff-lint

render PEP 695 syntax in built docs
  docs/conf.py
  pyproject.toml
Due: ruff-format, ruff-lint

fix types for latest xarray
  pycontrails/datalib/geo_utils.py
Due: ruff-format, ruff-lint

import override from typing
  pycontrails/core/cache.py
  pycontrails/core/fleet.py
  pycontrails/core/flight.py
  pycontrails/core/met.py
  pycontrails/core/vector.py
  pycontrails/datalib/dwd/icon.py
  pycontrails/datalib/ecmwf/arco_era5.py
  pycontrails/datalib/ecmwf/common.py
  pycontrails/datalib/ecmwf/era5.py
  pycontrails/datalib/ecmwf/era5_model_level.py
  pycontrails/datalib/ecmwf/hres.py
  pycontrails/datalib/ecmwf/hres_model_level.py
  pycontrails/datalib/ecmwf/ifs.py
  pycontrails/datalib/gfs/gfs.py
  pycontrails/models/cocip/cocip.py
  pycontrails/models/dry_advection.py
  pycontrails/models/humidity_scaling/humidity_scaling.py
  pycontrails/models/ps_model/ps_model.py
  tests/unit/test_humidity_scaling.py
Due: ruff-format, ruff-lint

warn if altitude exceeds 20000 m for pressure level <-> altitude conversion
  CHANGELOG.md
  pycontrails/physics/units.py
  tests/unit/test_cocip.py
  tests/unit/test_cocip_grid.py
  tests/unit/test_dtypes.py
  tests/unit/test_met.py
  tests/unit/test_sac_issr.py
  tests/unit/test_units.py
Due: ruff-format, ruff-lint

more pep 695
  pycontrails/core/met.py
  pycontrails/core/vector.py
  pycontrails/datalib/_met_utils/metsource.py
  pycontrails/physics/thermo.py
  pycontrails/utils/types.py
Due: ruff-format, ruff-lint

include one more annotation omitted in afad82720
  pycontrails/core/vector.py
Due: ruff-format, ruff-lint

drop python 3.11 support, add python 3.15 testing
  .github/workflows/test.yaml
  README.md
  docs/install.rst
  pyproject.toml
Due: doc8

update some annotations for pep 695
  pycontrails/core/aircraft_performance.py
  pycontrails/core/flightplan.py
  pycontrails/core/met.py
  pycontrails/datalib/_met_utils/metsource.py
  pycontrails/models/cocipgrid/cocip_grid.py
  pycontrails/physics/thermo.py
  pycontrails/utils/coroutines.py
  pycontrails/utils/types.py
Due: ruff-format, ruff-lint

fix mypy issues
  pycontrails/core/models.py
  pycontrails/physics/units.py
  pycontrails/utils/types.py
Due: ruff-format, ruff-lint

stay in sync with github runner migration
  .github/workflows/release.yaml
Due: none

format
  pycontrails/models/apcemm/utils.py
Due: ruff-format, ruff-lint

fix removed ArrayLike
  tests/_deprecated.py
Due: ruff-format, ruff-lint

make pycontrails-bada install consistent
  .github/workflows/doctest.yaml
  .github/workflows/test.yaml
Due: none

Additional consistency check
  pycontrails/datalib/ch_aviation.py
  tests/unit/test_ch_aviation.py
Due: ruff-format, ruff-lint

fix tests, update changelog
  CHANGELOG.md
  pycontrails/datalib/ch_aviation.py
Due: ruff-format, ruff-lint

add warning
  pycontrails/datalib/ch_aviation.py
  tests/unit/test_ch_aviation.py
Due: ruff-format, ruff-lint

updating notebooks and adding era5 download script
  docs/notebooks/ARCO-ERA5.ipynb
  docs/notebooks/ECMWF.ipynb
  docs/notebooks/ISSR.ipynb
  docs/notebooks/UPCoM.ipynb
  docs/notebooks/run-cocip-on-flight.ipynb
  era5_download.py
  pycontrails/datalib/ecmwf/common.py
  pycontrails/datalib/ecmwf/era5.py
Due: ruff-format, ruff-lint, nb-clean

Update UPCOM notebook comparisons
  docs/notebooks/UPCoM.ipynb
Due: ruff-format, ruff-lint, nb-clean

Modularize UPCOM SAC calculation
  docs/notebooks/UPCoM.ipynb
  pycontrails/models/upcom/__init__.py
  pycontrails/models/upcom/upcom.py
  test_upcom_basic.py
Due: ruff-format, ruff-lint, nb-clean

Default-engine-uids.csv: Update superseded engines
  pycontrails/models/emissions/static/default-engine-uids.csv
Due: none

Default-engine-uids.csv: Fix wrong information and pairings
  pycontrails/models/emissions/static/default-engine-uids.csv
Due: none

Default-engine-uids.csv: Remove turboprops
  pycontrails/models/emissions/static/default-engine-uids.csv
Due: none

Default-engine-uids.csv: Fix additional errors identified
  pycontrails/models/emissions/static/default-engine-uids-v32.csv
Due: none

Add versioning for tracking purposes
  pycontrails/models/emissions/emissions.py
Due: ruff-format, ruff-lint

Minor bug fix
  pycontrails/models/emissions/static/default-engine-uids-v32.csv
Due: none

update changelog
  CHANGELOG.md
Due: none

skip gruan unit tests if ftp unreachable
  CHANGELOG.md
  tests/unit/test_gruan.py
Due: ruff-format, ruff-lint

Corrected SAC calculation and modified upcom.ipynb to interpolate emissions to met grid.
  docs/notebooks/UPCoM.ipynb
  pycontrails/models/upcom/upcom.py
Due: ruff-format, ruff-lint, nb-clean

Path conditions:
  ruff-format: any of: \.(py|ipynb)$
  ruff-lint: any of: \.(py|ipynb)$
  doc8: any of: \.(rst)$
  nb-clean: any of: \.(ipynb)$
