Repository contrailcirrus/pycontrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, doc8, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        language_version: python3
        language: python
        entry: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]
      - id: doc8
        name: doc8
        language_version: python3
        language: python
        entry: doc8
        types: [file]
        files: \.(rst)$
      - id: black
        name: black
        language_version: python3
        language: python
        entry: black
        types: [file]
        files: \.(py|ipynb)$

fix doctest
  pycontrails/datalib/gfs/gfs.py
Due: ruff, black

clean up notebook
  docs/notebooks/ARCO-ERA5.ipynb
Due: black

rewrite notebook utilizing ARCOERA5 interface
  docs/notebooks/specific-humidity-interpolation.ipynb
Due: black

support ETL in parallel
  pycontrails/datalib/ecmwf/arco_era5.py
Due: ruff, black

add ARCOERA5 interface to ecmwf module
  pycontrails/datalib/ecmwf/__init__.py
Due: ruff, black

include versionadded directive
  pycontrails/core/datalib.py
  pycontrails/datalib/ecmwf/arco_era5.py
Due: ruff, black

don't run nb-test on ARCO-ERA5 notebook
  Makefile
Due: none

split test_parse_timesteps into multiple smaller tests
  tests/unit/test_datalib.py
Due: ruff, black

Add carverARCOERA5AnalysisReadyCloudOptimized2023 citation to the pycontrails zotero
  docs/_static/pycontrails.bib
Due: none

add link to cc relation and fix typos
  docs/notebooks/specific-humidity-interpolation.ipynb
Due: black

import anntations
  pycontrails/datalib/ecmwf/arco_era5.py
Due: ruff, black

better handle arco-era5 dependencies
  pycontrails/datalib/ecmwf/arco_era5.py
  pyproject.toml
Due: ruff, black

don't run in parallel if times has length 1, change mp context to 'spawn'
  pycontrails/datalib/ecmwf/arco_era5.py
Due: ruff, black

removed hardcoded altitude limits
  pycontrails/datalib/ecmwf/arco_era5.py
Due: ruff, black

BREAKING: decrease met_level_buffer from 200 to 40
  pycontrails/models/cocip/cocip_params.py
Due: ruff, black

set path attr so ARCOERA5 __repr__ works
  pycontrails/datalib/ecmwf/arco_era5.py
Due: ruff, black

fix docstrings for CocipGridParams for sphinx rendering
  pycontrails/models/cocipgrid/cocip_grid_params.py
Due: ruff, black

rename variable for consistency
  pycontrails/core/met.py
  pycontrails/core/vector.py
Due: ruff, black

add ARCO ERA5 demo notebook
  docs/meteorology.rst
  docs/notebooks/ARCO-ERA5.ipynb
Due: doc8, black

ruff -> ruff check
  Makefile
Due: none

integrate PR feedback into notebook
  docs/notebooks/ARCO-ERA5.ipynb
Due: black

clean up default pressure levels
  pycontrails/datalib/ecmwf/arco_era5.py
Due: ruff, black

simplify description of divergence
  pycontrails/datalib/ecmwf/variables.py
Due: ruff, black

isolate metview code and ignore pandas warnings
  pycontrails/datalib/ecmwf/arco_era5.py
Due: ruff, black

rerun notebook replace pd.read_csv -> pd.read_html
  docs/notebooks/model-levels.ipynb
Due: black

fix type hints
  pycontrails/core/datalib.py
  pycontrails/datalib/ecmwf/arco_era5.py
Due: ruff, black

define exception message outside exception
  pycontrails/models/cocip/cocip.py
Due: ruff, black

fix tests for breaking changes in datalib, update docstrings:
  pycontrails/core/datalib.py
  tests/unit/test_datalib.py
Due: ruff, black

Fix merge conflicts (take 2)
  CHANGELOG.md
Due: none

verify when temp file cleanup occurs
  pycontrails/datalib/ecmwf/arco_era5.py
Due: ruff, black

fix sphinx issues
  pycontrails/models/cocipgrid/cocip_grid_params.py
Due: ruff, black

fix docstrings in arco-era5, degrees -> \deg
  pycontrails/core/met.py
  pycontrails/datalib/ecmwf/arco_era5.py
Due: ruff, black

update dependencies in docstring
  pycontrails/datalib/ecmwf/arco_era5.py
Due: ruff, black

clean temporary metview tmp*.grib files
  pycontrails/datalib/ecmwf/arco_era5.py
Due: ruff, black

WIP: stub on ARCOERA5 interface
  pycontrails/core/datalib.py
  pycontrails/core/met_var.py
  pycontrails/datalib/ecmwf/arco_era5.py
  pycontrails/datalib/ecmwf/common.py
  pycontrails/datalib/ecmwf/era5.py
  pycontrails/datalib/ecmwf/variables.py
Due: ruff, black

streamline contexts
  pycontrails/datalib/ecmwf/arco_era5.py
Due: ruff, black

add ARCOERA5 module to sphinx docs
  docs/api.rst
Due: doc8

draft of aircraft class implementation
  pycontrails/models/emissions/emissions.py
  pycontrails/models/emissions/static/edb-gaseous-v28c-engines-classes-20240229.csv
  pycontrails/models/emissions/static/edb-nvpm-v28c-engines-classes-20240229.csv
  pycontrails/models/ps_model/ps_aircraft_params.py
  pycontrails/models/ps_model/static/ps-aircraft-class-params-20240229.csv
Due: ruff, black

bump pytest to >= 8.1
  pyproject.toml
Due: none

change ignored warning
  pyproject.toml
Due: none
