Repository contrailcirrus/pycontrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, doc8, nb-clean

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        language_version: python3
        language: python
        entry: ruff format
        types: [file]
        files: \.(py|ipynb)$
      - id: ruff-lint
        name: ruff lint
        language_version: python3
        language: python
        entry: ruff check
        args: [--fix, --exit-non-zero-on-fix]
        types: [file]
        files: \.(py|ipynb)$
      - id: doc8
        name: doc8
        language_version: python3
        language: python
        entry: doc8
        types: [file]
        files: \.(rst)$
      - id: nb-clean
        name: nb-clean
        language_version: python3
        language: python
        entry: nb-clean
        types: [file]
        files: \.(ipynb)$
        args:
          - clean
          - --remove-empty-cells
          - --preserve-cell-metadata
          - tags
          - --preserve-cell-outputs
          - --preserve-execution-counts

Update pycontrails.bib for new BetterBibTex citation format. Does not include new citations
  docs/_static/pycontrails.bib
Due: none

tweak default vpm particle type
  pycontrails/models/emissions/vpm.py
Due: ruff-format, ruff-lint

update type hint for min_ice_particle_number_nvpm_ei_n
  pycontrails/models/cocip/cocip_params.py
Due: ruff-format, ruff-lint

rename parameter
  pycontrails/models/cocip/cocip_params.py
  pycontrails/models/cocipgrid/cocip_grid.py
Due: ruff-format, ruff-lint

tweak language
  CHANGELOG.md
Due: none

add pydoclint config
  pyproject.toml
Due: none

include bib references
  pycontrails/models/extended_k15.py
Due: ruff-format, ruff-lint

StrEnum -> Enum
  pycontrails/models/extended_k15.py
Due: ruff-format, ruff-lint

update the T_plume calculation
  pycontrails/models/emissions/vpm.py
Due: ruff-format, ruff-lint

update comments
  pycontrails/models/emissions/vpm.py
Due: ruff-format, ruff-lint

disable warning in tests
  tests/__init__.py
Due: ruff-format, ruff-lint

expose n_plume_points
  pycontrails/models/emissions/vpm.py
Due: ruff-format, ruff-lint

docstring fix
  pycontrails/models/cocip/cocip_params.py
Due: ruff-format, ruff-lint

refactor contrail_properties.initial_ice_particle_number, integration vpm_activation into Cocip
  pycontrails/models/cocip/cocip.py
  pycontrails/models/cocip/contrail_properties.py
  pycontrails/models/cocipgrid/cocip_grid.py
Due: ruff-format, ruff-lint

rewrite hard-coded constants, approximate density liquid water
  pycontrails/models/extended_k15.py
  pycontrails/physics/constants.py
  tests/unit/test_cocip.py
  tests/unit/test_vpm.py
Due: ruff-format, ruff-lint

float64 -> floating
  pycontrails/models/emissions/vpm.py
Due: ruff-format, ruff-lint

update changelog
  CHANGELOG.md
Due: none

include extended_k15 module in api reference
  docs/api.rst
Due: doc8

Fix two publications that were pre-prints but are now published
  docs/_static/pycontrails.bib
  docs/literature.rst
Due: doc8

use numpy polyval for performance
  pycontrails/models/extended_k15.py
Due: ruff-format, ruff-lint

fix type hints
  pycontrails/models/emissions/vpm.py
Due: ruff-format, ruff-lint

update classifiers, update requires-python
  pyproject.toml
Due: none

use Self type from typing (PEP 673)
  pycontrails/core/fleet.py
  pycontrails/core/flight.py
  pycontrails/core/met.py
  pycontrails/core/vector.py
Due: ruff-format, ruff-lint

update CHANGELOG
  CHANGELOG.md
Due: none

drop support for python 3.10, build wheels for 3.14 but don't test
  .github/workflows/release.yaml
  .github/workflows/test.yaml
Due: none

update min python version in documentation
  README.md
  docs/install.rst
Due: doc8

require scipy>=1.12
  pycontrails/core/interpolation.py
  pycontrails/core/rgi_cython.pyx
  pyproject.toml
Due: ruff-format, ruff-lint

utils for opening LANDSAT_OT_C2_L1 metadata
  pycontrails/datalib/_leo_utils/landsat_metadata.py
Due: ruff-format, ruff-lint

use shapely.get_coordinates to avoid degenerate case
  pycontrails/datalib/_leo_utils/correction.py
Due: ruff-format, ruff-lint

prototype landsat correction ideas
  pycontrails/datalib/_leo_utils/correction.py
Due: ruff-format, ruff-lint

add colocation function on a pycontrails Flight object
  pycontrails/datalib/_leo_utils/correction.py
  pycontrails/datalib/_leo_utils/sentinel_metadata.py
  pycontrails/datalib/sentinel.py
Due: ruff-format, ruff-lint

fix stylistic & performance errors per Zeb's comments
  pycontrails/datalib/_leo_utils/correction.py
  pycontrails/datalib/_leo_utils/sentinel_metadata.py
  pycontrails/datalib/landsat.py
  pycontrails/datalib/sentinel.py
Due: ruff-format, ruff-lint

try again to avoid numpy all nan slice error
  pycontrails/datalib/_leo_utils/correction.py
Due: ruff-format, ruff-lint

split polygons spanning anti-meridian
  pycontrails/datalib/_leo_utils/landsat_metadata.py
Due: ruff-format, ruff-lint

avoid degenerate all-nan case
  pycontrails/datalib/_leo_utils/correction.py
Due: ruff-format, ruff-lint

resolve all linting issues...
  pycontrails/datalib/_leo_utils/correction.py
  pycontrails/datalib/_leo_utils/landsat_metadata.py
  pycontrails/datalib/_leo_utils/sentinel_metadata.py
  pycontrails/datalib/landsat.py
  pycontrails/datalib/sentinel.py
Due: ruff-format, ruff-lint

add some small comments about Landsat implementation
  pycontrails/datalib/_leo_utils/correction.py
  pycontrails/datalib/_leo_utils/sentinel_metadata.py
  pycontrails/datalib/landsat.py
  pycontrails/datalib/sentinel.py
Due: ruff-format, ruff-lint

confirm coordinate assumptions, load ds_chunk
  pycontrails/datalib/_leo_utils/correction.py
Due: ruff-format, ruff-lint
