Repository contrailcirrus/pycontrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, doc8, black

ruff:
  name: ruff
  language_version: python3
  language: python
  entry: ruff
  args:
  - --fix
  - --exit-non-zero-on-fix

doc8:
  name: doc8
  language_version: python3
  language: python
  entry: doc8

black:
  name: black
  language_version: python3
  language: python
  entry: black

Bump minimum pandas version to 2.2
  pyproject.toml
Due: none

remove duplicate antimeridian splitting logic
  CHANGELOG.md
  pycontrails/core/flight.py
  pycontrails/datalib/_leo_utils/search.py
  tests/unit/test_flight.py
  tests/unit/test_leo.py
Due: ruff, black

Re-run Sentinel notebook clean
  docs/notebooks/Sentinel.ipynb
Due: black

import ElementTree at the top level
  pycontrails/datalib/sentinel.py
Due: ruff, black

Fix spire tests
  tests/unit/test_spire.py
Due: ruff, black

Move landsat and sentinel modules out of 'leo' sub-module
  docs/api.rst
  docs/notebooks/Landsat.ipynb
  docs/notebooks/Sentinel.ipynb
  pycontrails/datalib/_leo_utils/search.py
  pycontrails/datalib/_leo_utils/static/bq_roi_query.sql
  pycontrails/datalib/_leo_utils/vis.py
  pycontrails/datalib/goes.py
  pycontrails/datalib/landsat.py
  pycontrails/datalib/leo/__init__.py
  pycontrails/datalib/sentinel.py
  pyproject.toml
Due: ruff, doc8, black

fix y coordinate
  pycontrails/datalib/landsat.py
Due: ruff, black

Move core.datalib -> datalib._met_utils.metsource
  pycontrails/__init__.py
  pycontrails/core/__init__.py
  pycontrails/datalib/_met_utils/metsource.py
  pycontrails/datalib/ecmwf/arco_era5.py
  pycontrails/datalib/ecmwf/common.py
  pycontrails/datalib/ecmwf/era5.py
  pycontrails/datalib/ecmwf/era5_model_level.py
  pycontrails/datalib/ecmwf/hres.py
  pycontrails/datalib/ecmwf/hres_model_level.py
  pycontrails/datalib/ecmwf/ifs.py
  pycontrails/datalib/gfs/gfs.py
  tests/unit/test_datalib_metsource.py
Due: ruff, black

Require bigquery-storage dependency
  pyproject.toml
Due: none

Update pycontrails/datalib/landsat.py
  pycontrails/datalib/landsat.py
Due: ruff, black

Remove empty lines in docstrings
  pycontrails/datalib/_leo_utils/search.py
  pycontrails/datalib/_leo_utils/vis.py
  pycontrails/datalib/landsat.py
  pycontrails/datalib/sentinel.py
Due: ruff, black

create Landsat and Sentinel tutorial notebooks
  docs/api.rst
  docs/notebooks/Landsat.ipynb
  docs/notebooks/Sentinel.ipynb
  docs/notebooks/data/iagos-flight-landsat.csv
  docs/notebooks/data/iagos-flight-sentinel.csv
  docs/observations.rst
  pycontrails/datalib/leo/__init__.py
  pycontrails/datalib/leo/landsat.py
  pycontrails/datalib/leo/sentinel.py
  pyproject.toml
Due: ruff, doc8, black

update notebook
  docs/integrations/APCEMM.ipynb
Due: black

stub out apcemm unit test
  tests/unit/test_apcemm.py
Due: ruff, black

update apcemm cache dir and fix unit test
  pycontrails/models/apcemm/adapter.py
  tests/unit/test_apcemm.py
Due: ruff, black

add apcemm unit tests
  pycontrails/models/apcemm/adapter.py
  tests/unit/test_apcemm.py
Due: ruff, black

clarify why apcemm_root is needed
  pycontrails/models/apcemm/interface.py
Due: ruff, black

draft pycontrails apcemm interface
  docs/api.rst
  docs/integrations/APCEMM.ipynb
  docs/models.rst
  pycontrails/models/apcemm/__init__.py
  pycontrails/models/apcemm/adapter.py
  pycontrails/models/apcemm/interface.py
  pycontrails/models/apcemm/utils.py
  pycontrails/models/dry_advection.py
Due: ruff, doc8, black

update changelog
  CHANGELOG.md
Due: none

exclude APCEMM notebook from tests
  CHANGELOG.md
  Makefile
Due: none

set output directory in adapter
  pycontrails/models/apcemm/adapter.py
  pycontrails/models/apcemm/interface.py
  pycontrails/models/apcemm/static/apcemm_yaml_template.yaml
Due: ruff, black

Few small updates to APCEMM notebook on first review
  docs/integrations/APCEMM.ipynb
Due: black

clean up APCEMMYaml class
  pycontrails/models/apcemm/adapter.py
  pycontrails/models/apcemm/interface.py
  pycontrails/models/apcemm/static/apcemm_yaml_template.yaml
  pyproject.toml
  tests/unit/test_apcemm.py
Due: ruff, black

Update pycontrails/models/apcemm/adapter.py
  pycontrails/models/apcemm/adapter.py
Due: ruff, black

allow | for unions in python 3.9
  tests/unit/test_apcemm.py
Due: ruff, black

allow | for unions in python 3.9
  pycontrails/models/apcemm/adapter.py
  pycontrails/models/apcemm/interface.py
Due: ruff, black

Update docs/api.rst
  docs/api.rst
Due: doc8

fix dry advection sedimentation
  pycontrails/models/dry_advection.py
Due: ruff, black

note addition to DryAdvection model
  CHANGELOG.md
Due: none

clean up numerics and input parameter setting
  CHANGELOG.md
  docs/integrations/APCEMM.ipynb
  pycontrails/models/apcemm/apcemm.py
  pycontrails/models/apcemm/inputs.py
  pycontrails/models/apcemm/utils.py
  pycontrails/models/dry_advection.py
  tests/unit/test_apcemm.py
Due: ruff, black

add missing link
  pycontrails/models/apcemm/apcemm.py
Due: ruff, black

bug fixes in apcemm netcdf generation
  pycontrails/models/apcemm/utils.py
Due: ruff, black

Disable reading vertical velocities from netCDF input
  pycontrails/models/apcemm/apcemm.py
  pycontrails/models/apcemm/static/apcemm_yaml_template.yaml
Due: ruff, black

add parameter to control levels in APCEMM netcdf files
  pycontrails/models/apcemm/apcemm.py
Due: ruff, black

change default altitudes in APCEMM met input
  pycontrails/models/apcemm/apcemm.py
Due: ruff, black

promote skips to errors
  tests/unit/test_apcemm.py
Due: ruff, black

bugfixes
  pycontrails/models/apcemm/utils.py
Due: ruff, black

update APCEMM meteoroloy file generation
  CHANGELOG.md
  docs/integrations/APCEMM.ipynb
  pycontrails/models/apcemm/apcemm.py
  pycontrails/models/apcemm/inputs.py
  pycontrails/models/apcemm/static/apcemm_yaml_template.yaml
  pycontrails/models/apcemm/utils.py
  tests/unit/test_apcemm.py
Due: ruff, black

add check for all-nan profiles
  pycontrails/models/apcemm/utils.py
Due: ruff, black

reorganize code
  pycontrails/models/apcemm/__init__.py
  pycontrails/models/apcemm/apcemm.py
  pycontrails/models/apcemm/input.py
  pycontrails/models/apcemm/interface.py
  pycontrails/models/apcemm/utils.py
  tests/unit/test_apcemm.py
Due: ruff, black

Path conditions:
  ruff: any of: \.py$
  doc8: any of: \.(rst)$
  black: any of: \.(py|ipynb)$
