Repository contrailcirrus/pycontrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, doc8, nb-clean

ruff-format:
  name: ruff format
  language_version: python3
  language: python
  entry: ruff format

ruff-lint:
  name: ruff lint
  language_version: python3
  language: python
  entry: ruff check
  args:
  - --fix
  - --exit-non-zero-on-fix

doc8:
  name: doc8
  language_version: python3
  language: python
  entry: doc8

nb-clean:
  name: nb-clean
  language_version: python3
  language: python
  entry: nb-clean
  args:
  - clean
  - --remove-empty-cells
  - --preserve-cell-metadata
  - tags
  - --preserve-cell-outputs
  - --preserve-execution-counts

Update static files: Oct-2024 to Dec-2024
  pycontrails/physics/static/iata-cargo-load-factors-20241115.csv
  pycontrails/physics/static/iata-passenger-load-factors-20241115.csv
Due: none

Update unit test
  tests/unit/test_flight.py
Due: ruff-format, ruff-lint

Bug fix in `aircraft_load_factor` function
  pycontrails/physics/jet.py
Due: ruff-format, ruff-lint

better handle all None np.ndarray
  pycontrails/core/vector.py
Due: ruff-format, ruff-lint

include n_ice_per_m_0 and f_surv in downwash data
  CHANGELOG.md
  pycontrails/models/cocip/cocip.py
  pycontrails/models/cocip/contrail_properties.py
  pycontrails/models/cocipgrid/cocip_grid.py
  tests/unit/test_cocip_grid_parity.py
Due: ruff-format, ruff-lint

copy when creating intermediate MetDataArray, MetDataset
  pycontrails/models/cocip/radiative_forcing.py
Due: ruff-format, ruff-lint

add model level support to Teoh humidity scaling
  pycontrails/models/humidity_scaling/humidity_scaling.py
  tests/unit/test_humidity_scaling.py
Due: ruff-format, ruff-lint

remove redundant PS_SYNONYM_FILE_PATH
  pycontrails/models/ps_model/ps_model.py
Due: ruff-format, ruff-lint

Parse DOF from flightplan
  pycontrails/core/flightplan.py
  tests/unit/test_flightplan.py
Due: ruff-format, ruff-lint

Fix unit test
  pycontrails/core/flightplan.py
  tests/unit/test_flightplan.py
Due: ruff-format, ruff-lint

Format change
  pycontrails/core/flightplan.py
Due: ruff-format, ruff-lint

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix condition
  cache/test/file.md
  pycontrails/models/humidity_scaling/humidity_scaling.py
Due: ruff-format, ruff-lint

fix type annotation
  pycontrails/models/humidity_scaling/humidity_scaling.py
Due: ruff-format, ruff-lint

silence xarray warning
  tests/unit/test_grid_to_netcdf.py
Due: ruff-format, ruff-lint

no longer use wrap_longitude in contrail overlapping functions
  pycontrails/models/cocip/radiative_forcing.py
Due: ruff-format, ruff-lint

1 -> 1.0
  pycontrails/models/cocip/output_formats.py
Due: ruff-format, ruff-lint

tweak downselect to compatibility with lazily-loaded met
  pycontrails/core/met.py
Due: ruff-format, ruff-lint

fix mypy issues
  pycontrails/models/cocipgrid/cocip_grid.py
Due: ruff-format, ruff-lint

avoid unnecessary interpolation
  pycontrails/models/cocip/output_formats.py
Due: ruff-format, ruff-lint

Update favicon in docs
  docs/_static/img/favicon.png
Due: none

(Small doc label change)
  docs/index.rst
Due: doc8

prototype fix
  pycontrails/models/cocip/cocip.py
  pycontrails/models/cocip/contrail_properties.py
  pycontrails/models/cocipgrid/cocip_grid.py
Due: ruff-format, ruff-lint

add from_function helper
  pycontrails/core/met.py
Due: ruff-format, ruff-lint

draft function-based MetDataArray constructor
  pycontrails/core/met.py
Due: ruff-format, ruff-lint

add tests
  pycontrails/core/met.py
  tests/unit/conftest.py
  tests/unit/test_met.py
Due: ruff-format, ruff-lint

Update static file dates
  pycontrails/models/ps_model/static/ps-aircraft-params-20250328.csv
  pycontrails/models/ps_model/static/ps-synonym-list-20250328.csv
Due: none

Include coefficients for Boeing 737 MAX 10
  pycontrails/models/ps_model/static/ps-aircraft-params-20250328.csv
  pycontrails/models/ps_model/static/ps-synonym-list-20250328.csv
Due: none

Update aircraft masses
  pycontrails/models/ps_model/static/ps-aircraft-params-20250328.csv
Due: none

Update static file directories
  pycontrails/models/ps_model/ps_aircraft_params.py
  pycontrails/models/ps_model/ps_model.py
Due: ruff-format, ruff-lint

Update unit test - Basic
  tests/unit/test_ps_model.py
Due: ruff-format, ruff-lint

Update unit test `test_total_fuel_burn` as max payload for A320 increased slightly
  tests/unit/test_ps_model.py
Due: ruff-format, ruff-lint

fix doctest
  pycontrails/models/ps_model/ps_grid.py
Due: ruff-format, ruff-lint

update CHANGELOG
  CHANGELOG.md
Due: none

Path conditions:
  ruff-format: any of: \.(py|ipynb)$
  ruff-lint: any of: \.(py|ipynb)$
  doc8: any of: \.(rst)$
  nb-clean: any of: \.(ipynb)$
