Repository contrailcirrus/pycontrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, doc8, nb-clean

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        language_version: python3
        language: python
        entry: ruff format
        types: [file]
        files: \.(py|ipynb)$
      - id: ruff-lint
        name: ruff lint
        language_version: python3
        language: python
        entry: ruff check
        args: [--fix, --exit-non-zero-on-fix]
        types: [file]
        files: \.(py|ipynb)$
      - id: doc8
        name: doc8
        language_version: python3
        language: python
        entry: doc8
        types: [file]
        files: \.(rst)$
      - id: nb-clean
        name: nb-clean
        language_version: python3
        language: python
        entry: nb-clean
        types: [file]
        files: \.(ipynb)$
        args:
          - clean
          - --remove-empty-cells
          - --preserve-cell-metadata
          - tags
          - --preserve-cell-outputs
          - --preserve-execution-counts

tweak language
  pycontrails/datalib/ecmwf/hres.py
Due: ruff-format, ruff-lint

allow stream='scda'
  pycontrails/datalib/_met_utils/metsource.py
  pycontrails/datalib/ecmwf/hres.py
Due: ruff-format, ruff-lint

improve docstring language
  pycontrails/datalib/ecmwf/hres.py
Due: ruff-format, ruff-lint

remove unused param
  pycontrails/datalib/ecmwf/hres.py
Due: ruff-format, ruff-lint

update CHANGELOG
  CHANGELOG.md
Due: none

tweak error message
  pycontrails/datalib/ecmwf/hres.py
Due: ruff-format, ruff-lint

document env variables
  pycontrails/datalib/ecmwf/hres.py
  pycontrails/datalib/ecmwf/hres_model_level.py
Due: ruff-format, ruff-lint

prototype landsat correction ideas
  pycontrails/datalib/_leo_utils/correction.py
Due: ruff-format, ruff-lint

fix dry advection bug
  pycontrails/models/dry_advection.py
  tests/unit/test_dry_advection.py
Due: ruff-format, ruff-lint

use shapely.get_coordinates to avoid degenerate case
  pycontrails/datalib/_leo_utils/correction.py
Due: ruff-format, ruff-lint

Replace newlines with spaces instead of empty strings
  pycontrails/core/flightplan.py
Due: ruff-format, ruff-lint

Update flightplan.py
  pycontrails/core/flightplan.py
Due: ruff-format, ruff-lint

utils for opening LANDSAT_OT_C2_L1 metadata
  pycontrails/datalib/_leo_utils/landsat_metadata.py
Due: ruff-format, ruff-lint

fix type hints after mypy upgrade
  pycontrails/core/polygon.py
  pycontrails/datalib/ecmwf/hres.py
  pycontrails/models/cocipgrid/cocip_grid.py
Due: ruff-format, ruff-lint

ignore pyproj warning
  pyproject.toml
Due: none

tweak import (cosmetic)
  pycontrails/models/cocip/output_formats.py
Due: ruff-format, ruff-lint

fix latest ruff issue in tests
  tests/unit/test_cocip_grid.py
  tests/unit/test_coordinates.py
  tests/unit/test_geo.py
  tests/unit/test_vector.py
Due: ruff-format, ruff-lint

ignore PLW1641
  pycontrails/core/vector.py
Due: ruff-format, ruff-lint

ignore PLC0415 globally
  pyproject.toml
Due: none

Replace newlines and carriage returns with spaces instead of empty strings
  pycontrails/core/flightplan.py
Due: ruff-format, ruff-lint

split polygons spanning anti-meridian
  pycontrails/datalib/_leo_utils/landsat_metadata.py
Due: ruff-format, ruff-lint

Update changelog to document flightplan parser fix
  CHANGELOG.md
Due: none

Calculate the effective radius when we calculate contrail radiative properties (to allow to have the effective radius in CoCiPGrid too) only if output_effective_radius is True
  pycontrails/models/cocip/cocip.py
  pycontrails/models/cocip/cocip_params.py
  tests/unit/static/cocip-contrail-output.json
  tests/unit/static/cocip-contrail-output2.json
  tests/unit/test_cocip.py
Due: ruff-format, ruff-lint

add pycontrails[accf] extra optional dependency
  CHANGELOG.md
  docs/api.rst
  docs/install.rst
  pyproject.toml
Due: doc8
