Repository contrailcirrus/pycontrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, doc8, black

ruff:
  name: ruff
  language_version: python3
  language: python
  entry: ruff
  args:
  - --fix
  - --exit-non-zero-on-fix

doc8:
  name: doc8
  language_version: python3
  language: python
  entry: doc8

black:
  name: black
  language_version: python3
  language: python
  entry: black

run ECMWF notebook
  docs/notebooks/ECMWF.ipynb
Due: black

use static file for model-level lookup
  pycontrails/datalib/ecmwf/model_levels.py
  pycontrails/datalib/ecmwf/static/model_level_dataframe_v20240418.csv
Due: ruff, black

update ECMWF datalib unit tests
  pycontrails/datalib/ecmwf/model_level_era5.py
  pycontrails/datalib/ecmwf/model_level_hres.py
  tests/unit/test_ecmwf.py
Due: ruff, black

Update CHANGELOG
  CHANGELOG.md
Due: none

add test for datalib timestep frequency validation
  tests/unit/test_datalib.py
Due: ruff, black

Revert "provide pressure levels explicitly in ARCO-ERA5 notebook"
  docs/notebooks/ARCO-ERA5.ipynb
Due: black

unpin mypy and disable on line producing error
  pycontrails/utils/types.py
  pyproject.toml
Due: ruff, black

Update ECMWF notebook
  docs/notebooks/ECMWF.ipynb
Due: black

fixes to satisfy mypy
  pycontrails/datalib/ecmwf/model_level_era5.py
  pycontrails/datalib/ecmwf/model_level_hres.py
Due: ruff, black

pin mypy, bump black and ruff
  CHANGELOG.md
  pyproject.toml
Due: none

use doctest cache in local tests
  Makefile
Due: none

update typedefs for python 3.9 compatibility
  tests/unit/test_ecmwf.py
Due: ruff, black

remove lxml dependency from era5 docstring
  pycontrails/datalib/ecmwf/arco_era5.py
Due: ruff, black

add data file with model level quantiles
  pycontrails/models/humidity_scaling/humidity_scaling.py
  pycontrails/models/humidity_scaling/quantiles/era5-model-level-quantiles.pq
  pycontrails/models/humidity_scaling/quantiles/era5-pressure-level-quantiles.pq
Due: ruff, black

add histogram matching using model-level quantiles
  pycontrails/models/humidity_scaling/humidity_scaling.py
Due: ruff, black

update tests
  pycontrails/models/humidity_scaling/humidity_scaling.py
  pyproject.toml
  tests/unit/test_humidity_scaling.py
Due: ruff, black

Update changelog
  CHANGELOG.md
Due: none

add type annotation
  pycontrails/models/humidity_scaling/humidity_scaling.py
Due: ruff, black

add test for bug
  tests/unit/test_flight.py
Due: ruff, black

decide to use geodesic interp based on great circle distance
  pycontrails/core/flight.py
Due: ruff, black

update changelog
  CHANGELOG.md
Due: none

Update zenodo to include Tristan
  .zenodo.json
Due: none

Fix docstring typo
  pycontrails/core/flight.py
Due: ruff, black

add test for bug
  tests/unit/test_thermo_sac.py
Due: ruff, black

fix bug
  pycontrails/physics/thermo.py
Due: ruff, black

update pinned cocip values
  CHANGELOG.md
  tests/unit/static/cocip-contrail-output.json
  tests/unit/static/cocip-contrail-output2.json
  tests/unit/static/cocip-flight-output.json
  tests/unit/static/cocip-flight-output2.json
  tests/unit/static/cocip-output-contrail-edges.json
Due: none

Initial commit of optimizer code
  pycontrails/models/ps_model/ps_optimizer.py
Due: ruff, black

Initial commit of test cases
  tests/unit/test_ps_optimizer.py
Due: ruff, black

Adds new assertion, seg_time to int
  pycontrails/models/ps_model/ps_optimizer.py
Due: ruff, black

Adds more test cases
  tests/unit/test_ps_optimizer.py
Due: ruff, black

Path conditions:
  ruff: any of: \.py$
  doc8: any of: \.(rst)$
  black: any of: \.(py|ipynb)$
