Repository contrailcirrus/pycontrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, doc8, nb-clean

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        language_version: python3
        language: python
        entry: ruff format
        types: [file]
        files: \.(py|ipynb)$
      - id: ruff-lint
        name: ruff lint
        language_version: python3
        language: python
        entry: ruff check
        args: [--fix, --exit-non-zero-on-fix]
        types: [file]
        files: \.(py|ipynb)$
      - id: doc8
        name: doc8
        language_version: python3
        language: python
        entry: doc8
        types: [file]
        files: \.(rst)$
      - id: nb-clean
        name: nb-clean
        language_version: python3
        language: python
        entry: nb-clean
        types: [file]
        files: \.(ipynb)$
        args:
          - clean
          - --remove-empty-cells
          - --preserve-cell-metadata
          - tags
          - --preserve-cell-outputs
          - --preserve-execution-counts

update changelog
  CHANGELOG.md
Due: none

include both murphy & koop and sonntag formulas for SVP
  pycontrails/models/sac.py
  pycontrails/physics/thermo.py
  tests/unit/test_sac_issr.py
Due: ruff-format, ruff-lint

regenerate cocip test values after updating e_sat_liquid
  tests/unit/static/cocip-contrail-output.json
  tests/unit/static/cocip-flight-output.json
  tests/unit/static/cocip-flight-output2.json
Due: none

fix future warning
  pycontrails/datalib/goes.py
Due: ruff-format, ruff-lint

bump setup-gcloud
  .github/workflows/doctest.yaml
  .github/workflows/test.yaml
Due: none

consolidate several type variables
  CHANGELOG.md
  pycontrails/models/issr.py
  pycontrails/models/pcr.py
  pycontrails/models/sac.py
  pycontrails/physics/geo.py
  pycontrails/utils/types.py
Due: ruff-format, ruff-lint

fix tag
  .github/workflows/doctest.yaml
  .github/workflows/test.yaml
Due: none

update thermo.e_sat_liquid and tweak tests accordingly
  CHANGELOG.md
  pycontrails/models/sac.py
  pycontrails/physics/thermo.py
  tests/unit/test_cocip.py
  tests/unit/test_cocip_grid.py
  tests/unit/test_sac_issr.py
Due: ruff-format, ruff-lint

fix docstring
  pycontrails/datalib/ecmwf/hres.py
Due: ruff-format, ruff-lint

use floating tag
  .github/workflows/doctest.yaml
  .github/workflows/test.yaml
Due: none

update the T_plume calculation
  pycontrails/models/emissions/vpm.py
Due: ruff-format, ruff-lint

expose n_plume_points
  pycontrails/models/emissions/vpm.py
Due: ruff-format, ruff-lint

fix type hints
  pycontrails/models/emissions/vpm.py
Due: ruff-format, ruff-lint

cosmetic
  pycontrails/models/emissions/vpm.py
Due: ruff-format, ruff-lint

remove warning
  pycontrails/models/emissions/vpm.py
Due: ruff-format, ruff-lint

update comments
  pycontrails/models/emissions/vpm.py
Due: ruff-format, ruff-lint

WIP: draft of vpm model
  pycontrails/models/emissions/vpm.py
Due: ruff-format, ruff-lint

add simple smoke tests for the vpm module
  tests/unit/test_vpm.py
Due: ruff-format, ruff-lint

Update pycontrails.bib for new BetterBibTex citation format. Does not include new citations
  docs/_static/pycontrails.bib
Due: none

StrEnum -> Enum
  pycontrails/models/extended_k15.py
Due: ruff-format, ruff-lint

rename parameter
  pycontrails/models/cocip/cocip_params.py
  pycontrails/models/cocipgrid/cocip_grid.py
Due: ruff-format, ruff-lint

refactor contrail_properties.initial_ice_particle_number, integration vpm_activation into Cocip
  pycontrails/models/cocip/cocip.py
  pycontrails/models/cocip/contrail_properties.py
  pycontrails/models/cocipgrid/cocip_grid.py
Due: ruff-format, ruff-lint

tweak default vpm particle type
  pycontrails/models/emissions/vpm.py
Due: ruff-format, ruff-lint

add pydoclint config
  pyproject.toml
Due: none

add particle_nucleation_model parameter
  pycontrails/models/cocip/cocip_params.py
Due: ruff-format, ruff-lint

add cocip vpm_activation test
  tests/unit/test_cocip.py
Due: ruff-format, ruff-lint

rewrite hard-coded constants, approximate density liquid water
  pycontrails/models/extended_k15.py
  pycontrails/physics/constants.py
  tests/unit/test_cocip.py
  tests/unit/test_vpm.py
Due: ruff-format, ruff-lint

Fix two publications that were pre-prints but are now published
  docs/_static/pycontrails.bib
  docs/literature.rst
Due: doc8

raise error if enabled in CocipGrid
  pycontrails/models/cocip/cocip_params.py
  pycontrails/models/cocipgrid/cocip_grid.py
  tests/unit/test_cocip_grid.py
Due: ruff-format, ruff-lint

enable vpm_activation in CocipGrid
  CHANGELOG.md
  pycontrails/models/cocip/cocip.py
  pycontrails/models/cocipgrid/cocip_grid.py
  pycontrails/models/extended_k15.py
  tests/unit/test_cocip_grid.py
Due: ruff-format, ruff-lint

remove summing over the lognormal distribution
  pycontrails/models/extended_k15.py
Due: ruff-format, ruff-lint

docstring fix
  pycontrails/models/cocip/cocip_params.py
Due: ruff-format, ruff-lint
