Repository contrailcirrus/pycontrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, doc8, black

ruff:
  name: ruff
  language_version: python3
  language: python
  entry: ruff
  args:
  - --fix
  - --exit-non-zero-on-fix

doc8:
  name: doc8
  language_version: python3
  language: python
  entry: doc8

black:
  name: black
  language_version: python3
  language: python
  entry: black

Update unit tests
  tests/unit/test_ps_model.py
Due: ruff, black

Add static columns for engine parameters
  pycontrails/models/ps_model/static/ps-aircraft-params-20240209.csv
Due: none

Delete old static file
  pycontrails/models/ps_model/static/ps-aircraft-params-20240209.csv
Due: none

Update static file date
  pycontrails/models/ps_model/ps_aircraft_params.py
  pycontrails/models/ps_model/static/ps-aircraft-params-20240322.csv
Due: ruff, black

Bump date of PS static file
  pycontrails/models/ps_model/ps_aircraft_params.py
  pycontrails/models/ps_model/static/ps-aircraft-params-20240417.csv
Due: ruff, black

Fix bug in PS model static files
  pycontrails/models/ps_model/static/ps-aircraft-params-20240322.csv
Due: none

Update pinned unit test value
  tests/unit/test_cocip_grid.py
Due: ruff, black

Revert CTmax buffer to 0.1 after updating year of first flight
  pycontrails/models/ps_model/ps_operational_limits.py
Due: ruff, black

Update year of first flight for B763 and B77W
  pycontrails/models/ps_model/static/ps-aircraft-params-20240417.csv
Due: none

Support E190 aircraft type
  pycontrails/models/ps_model/static/ps-aircraft-params-20240322.csv
Due: none

Update aircraft coefficients
  pycontrails/models/ps_model/static/ps-aircraft-params-20240209.csv
Due: none

Update latest aircraft coefficients from Ian
  pycontrails/models/ps_model/static/ps-aircraft-params-20240417.csv
Due: none

Add buffer for CT,max and remove redundant paranthesis
  pycontrails/models/ps_model/ps_model.py
  pycontrails/models/ps_model/ps_operational_limits.py
Due: ruff, black

Further increase buffer for CT,max, informed by FDR data
  pycontrails/models/ps_model/ps_operational_limits.py
Due: ruff, black

Load new engine parameters to dictionary
  pycontrails/models/ps_model/ps_aircraft_params.py
Due: ruff, black

Update CHANGELOG
  CHANGELOG.md
Due: none

Update pinned docstring values
  pycontrails/models/ps_model/ps_grid.py
Due: ruff, black

Increase significant figures in static files
  pycontrails/models/ps_model/static/ps-aircraft-params-20240322.csv
Due: none

implement model-level ERA5 and HRES datalibs
  pycontrails/core/datalib.py
  pycontrails/datalib/ecmwf/__init__.py
  pycontrails/datalib/ecmwf/arco_era5.py
  pycontrails/datalib/ecmwf/model_level_era5.py
  pycontrails/datalib/ecmwf/model_level_hres.py
  pycontrails/datalib/ecmwf/model_levels.py
Due: ruff, black

update documentation
  docs/api.rst
  pycontrails/datalib/ecmwf/model_level_era5.py
  pycontrails/datalib/ecmwf/model_level_hres.py
Due: ruff, doc8, black

add model-level datalibs to ECMWF notebook
  docs/notebooks/ECMWF.ipynb
Due: black

Path conditions:
  ruff: any of: \.py$
  doc8: any of: \.(rst)$
  black: any of: \.(py|ipynb)$
