Repository contrailcirrus/pycontrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, doc8, black, nb-clean

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        language_version: python3
        language: python
        entry: ruff check
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]
      - id: doc8
        name: doc8
        language_version: python3
        language: python
        entry: doc8
        types: [file]
        files: \.(rst)$
      - id: black
        name: black
        language_version: python3
        language: python
        entry: black
        types: [file]
        files: \.(py|ipynb)$
      - id: nb-clean
        name: nb-clean
        language_version: python3
        language: python
        entry: nb-clean
        types: [file]
        files: \.(ipynb)$
        args:
          - clean
          - --remove-empty-cells
          - --preserve-cell-metadata
          - tags
          - --preserve-cell-outputs
          - --preserve-execution-counts

extract duplicated downselection code
  pycontrails/models/cocip/cocip.py
Due: ruff, black

fix docstring
  pycontrails/core/met.py
Due: ruff, black

Update CHANGELOG.md
  CHANGELOG.md
Due: none

defer a few imports
  pycontrails/datalib/_leo_utils/vis.py
  pycontrails/datalib/landsat.py
Due: ruff, black

0 -> 0.0
  pycontrails/datalib/_leo_utils/vis.py
Due: ruff, black

add ._spline = None attribute (not yet enabled)
  pycontrails/core/interpolation.py
Due: ruff, black

build wheels for python 3.13, no longer build wheels for python 3.9
  .github/workflows/release.yaml
Due: none

add DryAdvection model to API reference
  docs/api.rst
Due: doc8

pass strict=True into zip
  tests/unit/test_fleet.py
  tests/unit/test_flight.py
  tests/unit/test_ps_model.py
  tests/unit/test_vector.py
Due: ruff, black

no longer test on python 3.9
  .github/workflows/test.yaml
Due: none

specify python >= 3.10 in documentation
  README.md
  docs/install.rst
Due: doc8

drop python 3.9 support in pyproject.toml
  pyproject.toml
Due: none

pass strict=True into zip
  pycontrails/core/cache.py
  pycontrails/core/flight.py
  pycontrails/core/met.py
  pycontrails/datalib/ecmwf/hres_model_level.py
  pycontrails/ext/synthetic_flight.py
  pycontrails/models/cocip/radiative_forcing.py
Due: ruff, black

make ruff --select UP fixes
  pycontrails/core/met.py
  pycontrails/core/models.py
  pycontrails/core/vector.py
  pycontrails/datalib/_met_utils/metsource.py
  pycontrails/datalib/gfs/gfs.py
  pycontrails/models/cocipgrid/cocip_grid.py
  pycontrails/models/ps_model/ps_model.py
  pycontrails/models/sac.py
  pycontrails/utils/json.py
  pycontrails/utils/types.py
  tests/_deprecated.py
  tests/unit/test_tau_cirrus.py
  tests/unit/test_units.py
Due: ruff, black

bump black
  pyproject.toml
Due: none

update CHANGELOG
  CHANGELOG.md
Due: none

fix mypy issue
  pycontrails/datalib/_met_utils/metsource.py
Due: ruff, black

add CIBW_BEFORE_BUILD directive for python 3.13
  .github/workflows/release.yaml
Due: none

try again
  .github/workflows/release.yaml
Due: none

add numpy>=2.1.0rc1 to build requirements for python 3.13
  pyproject.toml
Due: none

add python 3.13 note to install docs
  docs/install.rst
Due: doc8

change MetDataset.dim_order from list to tuple
  pycontrails/core/met.py
  tests/unit/test_met.py
  tests/unit/test_tau_cirrus.py
Due: ruff, black

make class variables immutable
  pycontrails/models/accf.py
  tests/unit/test_models.py
Due: ruff, black

fix ruff --select RUF issues in pycontrails/core
  pycontrails/core/flight.py
  pycontrails/core/flightplan.py
  pycontrails/core/met.py
  pycontrails/core/met_var.py
  pycontrails/core/models.py
  pycontrails/core/vector.py
Due: ruff, black

fix ruff --select RUF issues in pycontrails/datalib
  pycontrails/datalib/_met_utils/metsource.py
  pycontrails/datalib/ecmwf/era5.py
  pycontrails/datalib/ecmwf/era5_model_level.py
  pycontrails/datalib/ecmwf/hres_model_level.py
  pycontrails/datalib/ecmwf/variables.py
  pycontrails/datalib/gfs/gfs.py
Due: ruff, black

fix more ruff RUF rules
  pycontrails/physics/thermo.py
  pycontrails/utils/json.py
Due: ruff, black

fix ruff --select RUF in pycontrails/models
  pycontrails/models/apcemm/apcemm.py
  pycontrails/models/cocip/cocip.py
  pycontrails/models/cocip/output_formats.py
  pycontrails/models/cocip/radiative_forcing.py
  pycontrails/models/cocipgrid/cocip_grid.py
  pycontrails/models/sac.py
Due: ruff, black

run 'make taplo'
  pyproject.toml
Due: none

np.concat -> np.concatenate
  pycontrails/models/cocip/cocip.py
Due: ruff, black

fix test failure from numpy 2.0 upgrade
  tests/unit/test_sac_issr.py
Due: ruff, black

bump ruff
  pyproject.toml
Due: none

require numpy 2.0 when running doctests
  .github/workflows/doctest.yaml
Due: none

remove (unreleased)
  CHANGELOG.md
Due: none
