Repository contrailcirrus/pycontrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, doc8, black, nb-clean

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        language_version: python3
        language: python
        entry: ruff check
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]
      - id: doc8
        name: doc8
        language_version: python3
        language: python
        entry: doc8
        types: [file]
        files: \.(rst)$
      - id: black
        name: black
        language_version: python3
        language: python
        entry: black
        types: [file]
        files: \.(py|ipynb)$
      - id: nb-clean
        name: nb-clean
        language_version: python3
        language: python
        entry: nb-clean
        types: [file]
        files: \.(ipynb)$
        args:
          - clean
          - --remove-empty-cells
          - --preserve-cell-metadata
          - tags
          - --preserve-cell-outputs
          - --preserve-execution-counts

address ruff suggestion
  tests/unit/test_cocip.py
Due: ruff, black

tweak _add_vertical_coords to ensure correct dtype
  pycontrails/core/met.py
Due: ruff, black

data -> data.coords for xr.DataArray types
  pycontrails/core/met.py
Due: ruff, black

add conda-forge badge
  README.md
Due: none

include conda install instructions
  README.md
Due: none

include conda install instructions
  docs/index.rst
  docs/install.rst
Due: doc8

update CHANGELOG
  CHANGELOG.md
  pycontrails/core/met.py
Due: ruff, black

Update tests/unit/test_sac_issr.py
  tests/unit/test_sac_issr.py
Due: ruff, black

Update README.md
  README.md
Due: none

Update docs/index.rst
  docs/index.rst
Due: doc8

simplify vertical coord creation logic
  pycontrails/core/met.py
Due: ruff, black

DeprecationWarning -> warnings.warn
  pycontrails/core/met.py
Due: ruff, black

tweak ruff entrypoint
  .pre-commit-config.yaml
Due: none

add new unit test for vertical coordinates
  tests/unit/test_met.py
Due: ruff, black

include additional assertions for dtypes in ISSR and downstream grid models
  tests/unit/test_sac_issr.py
Due: ruff, black

Perf optimization
  pycontrails/core/met.py
Due: ruff, black

Fix edb-gaseous-v29b static file: 1ZM001
  pycontrails/models/emissions/static/edb-gaseous-v29b-engines.csv
Due: none

Update Changelog (with two small formatter changes as well)
  CHANGELOG.md
Due: none

Grab the Docs action badge from the "push" event
  README.md
Due: none

skip leo download tests if PYCONTRAILS_SKIP_LEO_TESTS is set
  tests/unit/test_leo.py
Due: ruff, black

cleanup the leo cachestores within the fixture
  tests/unit/test_leo.py
Due: ruff, black

make helper method to determine variables in set_source_met
  pycontrails/core/models.py
Due: ruff, black

add and implement new 'interpolation_fill_low_alt_with_isa_temperature' model parameter
  pycontrails/core/models.py
Due: ruff, black

write simple test for interpolation_fill_low_alt_with_isa_temperature
  tests/unit/test_models.py
Due: ruff, black

fix interp_kwargs in humidity scaling
  pycontrails/models/humidity_scaling/humidity_scaling.py
Due: ruff, black

bump ruff, black
  pyproject.toml
Due: none

update changelog
  CHANGELOG.md
Due: none

combine both hash tests into a single test, update pinned hashes
  tests/unit/test_models.py
Due: ruff, black
