Repository contrailcirrus/pycontrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, doc8, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        language_version: python3
        language: python
        entry: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]
      - id: doc8
        name: doc8
        language_version: python3
        language: python
        entry: doc8
        types: [file]
        files: \.(rst)$
      - id: black
        name: black
        language_version: python3
        language: python
        entry: black
        types: [file]
        files: \.(py|ipynb)$

don't allow copy_source=False for list[Flight] source
  pycontrails/core/models.py
Due: ruff, black

add ARCO ERA5 demo notebook
  docs/meteorology.rst
  docs/notebooks/ARCO-ERA5.ipynb
Due: doc8, black

fix type hints
  pycontrails/core/datalib.py
  pycontrails/datalib/ecmwf/arco_era5.py
Due: ruff, black

add ARCOERA5 interface to ecmwf module
  pycontrails/datalib/ecmwf/__init__.py
Due: ruff, black

fix docstrings for CocipGridParams for sphinx rendering
  pycontrails/models/cocipgrid/cocip_grid_params.py
Due: ruff, black

ruff -> ruff check
  Makefile
Due: none

define exception message outside exception
  pycontrails/models/cocip/cocip.py
Due: ruff, black

BREAKING: decrease met_level_buffer from 200 to 40
  pycontrails/models/cocip/cocip_params.py
Due: ruff, black

expand docstrings and comments in arco_era5 module
  pycontrails/datalib/ecmwf/arco_era5.py
Due: ruff, black

rewrite notebook utilizing ARCOERA5 interface
  docs/notebooks/specific-humidity-interpolation.ipynb
Due: black

fix tests for breaking changes in datalib, update docstrings:
  pycontrails/core/datalib.py
  tests/unit/test_datalib.py
Due: ruff, black

WIP: stub on ARCOERA5 interface
  pycontrails/core/datalib.py
  pycontrails/core/met_var.py
  pycontrails/datalib/ecmwf/arco_era5.py
  pycontrails/datalib/ecmwf/common.py
  pycontrails/datalib/ecmwf/era5.py
  pycontrails/datalib/ecmwf/variables.py
Due: ruff, black

rerun notebook replace pd.read_csv -> pd.read_html
  docs/notebooks/model-levels.ipynb
Due: black

include versionadded directive
  pycontrails/core/datalib.py
  pycontrails/datalib/ecmwf/arco_era5.py
Due: ruff, black

Fix merge conflicts (take 2)
  CHANGELOG.md
Due: none

simplify description of divergence
  pycontrails/datalib/ecmwf/variables.py
Due: ruff, black

fix docstrings in arco-era5, degrees -> \deg
  pycontrails/core/met.py
  pycontrails/datalib/ecmwf/arco_era5.py
Due: ruff, black

removed hardcoded altitude limits
  pycontrails/datalib/ecmwf/arco_era5.py
Due: ruff, black

clean up default pressure levels
  pycontrails/datalib/ecmwf/arco_era5.py
Due: ruff, black

fix doctest
  pycontrails/datalib/gfs/gfs.py
Due: ruff, black

verify when temp file cleanup occurs
  pycontrails/datalib/ecmwf/arco_era5.py
Due: ruff, black

don't run in parallel if times has length 1, change mp context to 'spawn'
  pycontrails/datalib/ecmwf/arco_era5.py
Due: ruff, black

fix type hints
  pycontrails/utils/dependencies.py
Due: ruff, black

support ETL in parallel
  pycontrails/datalib/ecmwf/arco_era5.py
Due: ruff, black

import anntations
  pycontrails/datalib/ecmwf/arco_era5.py
Due: ruff, black

don't run nb-test on ARCO-ERA5 notebook
  Makefile
Due: none

set path attr so ARCOERA5 __repr__ works
  pycontrails/datalib/ecmwf/arco_era5.py
Due: ruff, black

Add carverARCOERA5AnalysisReadyCloudOptimized2023 citation to the pycontrails zotero
  docs/_static/pycontrails.bib
Due: none

clean up notebook
  docs/notebooks/ARCO-ERA5.ipynb
Due: black

better handle arco-era5 dependencies
  pycontrails/datalib/ecmwf/arco_era5.py
  pyproject.toml
Due: ruff, black

update dependencies in docstring
  pycontrails/datalib/ecmwf/arco_era5.py
Due: ruff, black

clean temporary metview tmp*.grib files
  pycontrails/datalib/ecmwf/arco_era5.py
Due: ruff, black

add lxml dependency for ECMWF datalib
  pyproject.toml
Due: none

add link to cc relation and fix typos
  docs/notebooks/specific-humidity-interpolation.ipynb
Due: black

integrate PR feedback into notebook
  docs/notebooks/ARCO-ERA5.ipynb
Due: black

streamline contexts
  pycontrails/datalib/ecmwf/arco_era5.py
Due: ruff, black
