Repository contrailcirrus/pycontrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, doc8, black

ruff:
  name: ruff
  language_version: python3
  language: python
  entry: ruff
  args:
  - --fix
  - --exit-non-zero-on-fix

doc8:
  name: doc8
  language_version: python3
  language: python
  entry: doc8

black:
  name: black
  language_version: python3
  language: python
  entry: black

explicitly support python 3.12 in build backend
  CHANGELOG.md
  pyproject.toml
  tests/unit/test_models.py
Due: ruff, black

delay pyproj import
  pycontrails/core/flight.py
  pycontrails/core/vector.py
  pyproject.toml
Due: ruff, black

update changelog for v0.47.1 release
  CHANGELOG.md
Due: none

replace deprecated fillna with ffill and bfill
  pycontrails/core/flight.py
  pycontrails/datalib/spire/spire.py
Due: ruff, black

fix test workflow for python < 3.11
  .github/workflows/test.yaml
  pycontrails/datalib/ecmwf/common.py
Due: ruff, black

include dev,docs dependencies in test workflow
  .github/workflows/test.yaml
Due: none

consolidate cache_dataset
  pycontrails/datalib/ecmwf/common.py
  pycontrails/datalib/ecmwf/era5.py
  pycontrails/datalib/ecmwf/hres.py
Due: ruff, black

add dependabot.yaml to check for action updates
  .github/dependabot.yaml
Due: none

reformat pycontrails for breaking changes in black 23.9
  pycontrails/core/aircraft_performance.py
  pycontrails/core/datalib.py
  pycontrails/core/interpolation.py
  pycontrails/core/met.py
  pycontrails/core/models.py
  pycontrails/core/vector.py
  pycontrails/ext/empirical_grid.py
  pycontrails/models/accf.py
  pycontrails/models/cocip/cocip.py
  pycontrails/models/cocipgrid/cocip_grid.py
  pycontrails/models/dry_advection.py
  pycontrails/models/emissions/emissions.py
  pycontrails/models/humidity_scaling/humidity_scaling.py
  pycontrails/models/issr.py
  pycontrails/models/pcr.py
  pycontrails/models/ps_model/ps_grid.py
  pycontrails/models/ps_model/ps_model.py
  pycontrails/models/sac.py
  pyproject.toml
Due: ruff, black

remove patch version
  .github/workflows/release.yaml
Due: none

add cp312
  .github/workflows/release.yaml
Due: none

skip cp312 tests
  .github/workflows/release.yaml
Due: none

Formatting changes
  pycontrails/core/flight.py
  tests/unit/test_flight.py
Due: ruff, black

Geodestic interpolation only tests against flat flight
  tests/unit/test_flight.py
Due: ruff, black

Cosmetic changes, add comments
  pycontrails/core/flight.py
Due: ruff, black

Fixes doc test
  pycontrails/core/flight.py
Due: ruff, black

Update 14/09/23
  pycontrails/models/chem/plume_chem/0.png
  pycontrails/models/chem/plume_chem/1.png
  pycontrails/models/chem/plume_chem/2.png
  pycontrails/models/chem/plume_chem/3.png
  pycontrails/models/chem/plume_chem/4.png
  pycontrails/models/chem/plume_chem/5.png
  pycontrails/models/chem/plume_chem/6.png
  pycontrails/models/chem/plume_chem/7.png
  pycontrails/models/chem/plume_chem/advection.gif
  pycontrails/models/chem/plume_chem/advection2.gif
  pycontrails/models/chem/plume_chem/boxm.py
  pycontrails/models/chem/plume_chem/boxm_test.ipynb
  pycontrails/models/chem/plume_chem/fleet-animation.ipynb
Due: ruff, black

add taplo recipe
  Makefile
Due: none

Removes math import, use of enumerate, and adds parentheses grouping
  pycontrails/core/flight.py
Due: ruff, black

Uses rather than computing difference
  tests/unit/test_flight.py
Due: ruff, black

Separates out '_altitude_interpolation' into three seperate functions
  pycontrails/core/flight.py
Due: ruff, black

Extract species script added and chem dataset now chunked to load in memory
  pycontrails/models/chem/plume_chem/boxm_test.ipynb
  pycontrails/models/chem/plume_chem/boxm_test.py
  pycontrails/models/chem/plume_chem/species/extract_species.sh
Due: ruff, black

FIX: use parameter E in hres.get_forecast_filename, update logic for parameter S
  CHANGELOG.md
  docs/api.rst
  pycontrails/datalib/ecmwf/hres.py
Due: ruff, doc8, black

Converted test script to python from ipynb
  pycontrails/models/plume_chem/boxm_test.py
Due: ruff, black

move synthetic_flight module from pycontrails/utis to pycontrails/ext
  pycontrails/ext/synthetic_flight.py
  tests/unit/test_cocip_grid.py
  tests/unit/test_cocip_grid_parity.py
  tests/unit/test_fleet.py
  tests/unit/test_utils.py
Due: ruff, black

issue consistent ModuleNotFoundErrors for missing dependencies
  CHANGELOG.md
  pycontrails/core/cache.py
  pycontrails/core/flight.py
  pycontrails/core/met.py
  pycontrails/core/polygon.py
  pycontrails/core/vector.py
  pycontrails/datalib/ecmwf/era5.py
  pycontrails/datalib/ecmwf/hres.py
  pycontrails/datalib/gfs/gfs.py
  pycontrails/ext/bada.py
  pycontrails/ext/cirium.py
  pycontrails/models/accf.py
  pycontrails/models/cocip/output_formats.py
  pycontrails/models/cocipgrid/cocip_time_handling.py
  pycontrails/utils/dependencies.py
Due: ruff, black

fix type annotation
  pycontrails/utils/dependencies.py
Due: ruff, black

Path conditions:
  ruff: any of: \.py$
  doc8: any of: \.(rst)$
  black: any of: \.(py|ipynb)$
