Repository contrailcirrus/pycontrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, doc8, nb-clean

ruff-format:
  name: ruff format
  language_version: python3
  language: python
  entry: ruff format

ruff-lint:
  name: ruff lint
  language_version: python3
  language: python
  entry: ruff check
  args:
  - --fix
  - --exit-non-zero-on-fix

doc8:
  name: doc8
  language_version: python3
  language: python
  entry: doc8

nb-clean:
  name: nb-clean
  language_version: python3
  language: python
  entry: nb-clean
  args:
  - clean
  - --remove-empty-cells
  - --preserve-cell-metadata
  - tags
  - --preserve-cell-outputs
  - --preserve-execution-counts

Fix index of static file
  pycontrails/physics/static/pax-aircraft-n-seats-ref-values-20260407.csv
Due: none

Function to query cargo database
  pycontrails/core/airports.py
  pycontrails/physics/jet.py
Due: ruff-format, ruff-lint

Default to passenger aircraft, as they are mainly used for contrail modelling
  pycontrails/physics/jet.py
Due: ruff-format, ruff-lint

Remove unused function
  pycontrails/physics/jet.py
Due: ruff-format, ruff-lint

Skeleton function for updated payload estimates
  pycontrails/datalib/ch_aviation.py
Due: ruff-format, ruff-lint

add ch-aviation ps-flight test
  tests/unit/test_ch_aviation.py
Due: ruff-format, ruff-lint

Discontinue use of IATA cargo database as it does not break down between belly vs dedicated freighters
  pycontrails/physics/jet.py
  tests/unit/test_flight.py
Due: ruff-format, ruff-lint

update changelog
  CHANGELOG.md
Due: none

Update initial aircraft mass function
  pycontrails/physics/jet.py
Due: ruff-format, ruff-lint

fix test for changes to pycontrails-bada (not released)
  tests/unit/test_cocip.py
Due: ruff-format, ruff-lint

BREAKING: replace load_factor-based methodology with payload
  pycontrails/core/aircraft_performance.py
  pycontrails/core/flight.py
  pycontrails/datalib/ch_aviation.py
  pycontrails/models/ps_model/ps_model.py
  pycontrails/physics/jet.py
  tests/unit/test_cocip.py
  tests/unit/test_flight.py
  tests/unit/test_ps_model.py
Due: ruff-format, ruff-lint

Add tests, improve docs for intersect_met_cross_section.
  pycontrails/core/vector.py
  tests/unit/test_vector.py
Due: ruff-format, ruff-lint

Implement plotting forecasts as curtain in the profile chart.
  docs/integrations/GoogleForecast.ipynb
  pycontrails/core/vector.py
Due: ruff-format, ruff-lint, nb-clean

Remove unnecessary .keys()
  pycontrails/core/vector.py
Due: ruff-format, ruff-lint

ignore mypy, update changelog
  CHANGELOG.md
  pycontrails/core/vector.py
Due: ruff-format, ruff-lint

temporarily don't install pycontrails-bada
  .github/workflows/test.yaml
Due: none

add to doctest as well
  .github/workflows/doctest.yaml
Due: none

make convective velocity scale a user-configurable parameter
  pycontrails/models/cocip/cocip.py
  pycontrails/models/cocip/cocip_params.py
  pycontrails/models/cocip/contrail_properties.py
  pycontrails/models/cocipgrid/cocip_grid.py
Due: ruff-format, ruff-lint

set default value for convective velocity scale in dry advection model
  pycontrails/models/dry_advection.py
Due: ruff-format, ruff-lint

add link to changelog
  CHANGELOG.md
Due: none

fix docstring
  pycontrails/models/cocip/contrail_properties.py
Due: ruff-format, ruff-lint

convective velocity scale -> turbulent vertical velocity scale
  CHANGELOG.md
  pycontrails/models/cocip/cocip.py
  pycontrails/models/cocip/cocip_params.py
  pycontrails/models/cocip/contrail_properties.py
  pycontrails/models/cocipgrid/cocip_grid.py
  pycontrails/models/dry_advection.py
Due: ruff-format, ruff-lint

update test after bugfix
  tests/unit/test_cocip.py
Due: ruff-format, ruff-lint

fix typo
  pycontrails/models/cocipgrid/cocip_grid.py
Due: ruff-format, ruff-lint

ready changelog
  CHANGELOG.md
Due: none

use latest pycontrails-bada for testing
  .github/workflows/doctest.yaml
  .github/workflows/test.yaml
Due: none

ambient particle gsd 2-3 -> 2.2
  CHANGELOG.md
  pycontrails/models/cocip/cocip_params.py
Due: ruff-format, ruff-lint

Revert "Bug fixes and disable warning message"
  pycontrails/models/cocip/cocip.py
  pycontrails/models/extended_k15.py
Due: ruff-format, ruff-lint

Path conditions:
  ruff-format: any of: \.(py|ipynb)$
  ruff-lint: any of: \.(py|ipynb)$
  doc8: any of: \.(rst)$
  nb-clean: any of: \.(ipynb)$
