Repository contrailcirrus/pycontrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, doc8, nb-clean

ruff-format:
  name: ruff format
  language_version: python3
  language: python
  entry: ruff format

ruff-lint:
  name: ruff lint
  language_version: python3
  language: python
  entry: ruff check
  args:
  - --fix
  - --exit-non-zero-on-fix

doc8:
  name: doc8
  language_version: python3
  language: python
  entry: doc8

nb-clean:
  name: nb-clean
  language_version: python3
  language: python
  entry: nb-clean
  args:
  - clean
  - --remove-empty-cells
  - --preserve-cell-metadata
  - tags
  - --preserve-cell-outputs
  - --preserve-execution-counts

update changelog
  CHANGELOG.md
Due: none

fix cumul_heat added twice
  pycontrails/models/cocip/cocip.py
  tests/unit/test_cocip.py
Due: ruff-format, ruff-lint

Support OAuth for GoogleForecast datalib.
  pycontrails/datalib/google_forecast.py
  tests/unit/test_google_forecast.py
Due: ruff-format, ruff-lint

Raise helpful ImportError when missing google-auth.
  pycontrails/datalib/google_forecast.py
Due: ruff-format, ruff-lint

update changelog, fix type
  .zenodo.json
  CHANGELOG.md
Due: none

BREAKING (refactor): use engine_deterioration_factor at runtime instead of coeff load
  pycontrails/models/ps_model/ps_aircraft_params.py
  pycontrails/models/ps_model/ps_grid.py
  pycontrails/models/ps_model/ps_model.py
  tests/unit/test_ps_model.py
Due: ruff-format, ruff-lint

Add example to intersect and plot Google forecast for a flight.
  docs/integrations/GoogleForecast.ipynb
Due: ruff-format, ruff-lint, nb-clean

scaffold dynamic engine_deterioration_factor based on age
  pycontrails/core/aircraft_performance.py
  pycontrails/models/ps_model/ps_model.py
Due: ruff-format, ruff-lint

Update notebook.
  docs/integrations/GoogleForecast.ipynb
Due: ruff-format, ruff-lint, nb-clean

Work in progress
  pycontrails/datalib/ch-aviation.py
Due: ruff-format, ruff-lint

Manually patch radiative heating bug
  pycontrails/models/cocip/cocip.py
  tests/unit/test_cocip.py
Due: ruff-format, ruff-lint

Major bug fix into LU25 inputs
  pycontrails/models/cocip/cocip.py
Due: ruff-format, ruff-lint

convenience kwargs
  pycontrails/core/met.py
Due: ruff-format, ruff-lint

update ice budget calculation
  pycontrails/models/cocip/contrail_properties.py
Due: ruff-format, ruff-lint

fix dtype promotion
  pycontrails/models/cocip/cocip.py
Due: ruff-format, ruff-lint

rerun google forecast notebook, fix plot_profile with scatter plot
  docs/integrations/GoogleForecast.ipynb
  pycontrails/core/flight.py
Due: ruff-format, ruff-lint, nb-clean

format
  docs/integrations/GoogleForecast.ipynb
Due: ruff-format, ruff-lint, nb-clean

fix Flight.plot_profile
  pycontrails/core/flight.py
Due: ruff-format, ruff-lint

update CHANGELOG
  CHANGELOG.md
Due: none

prototype fix
  pycontrails/models/cocip/cocip.py
  pycontrails/models/cocip/contrail_properties.py
  pycontrails/models/cocipgrid/cocip_grid.py
Due: ruff-format, ruff-lint

add param to switch between ice budgets
  pycontrails/models/cocip/cocip.py
  pycontrails/models/cocip/cocip_params.py
  pycontrails/models/cocip/contrail_properties.py
Due: ruff-format, ruff-lint

add missing term
  pycontrails/models/cocip/cocip.py
  pycontrails/models/cocip/contrail_properties.py
  pycontrails/physics/thermo.py
Due: ruff-format, ruff-lint

clean up ice budget fix
  pycontrails/models/cocip/cocip.py
  pycontrails/models/cocip/contrail_properties.py
  pycontrails/physics/geo.py
Due: ruff-format, ruff-lint

implement revised ice budget in gridded cocip
  pycontrails/models/cocip/cocip.py
  pycontrails/models/cocipgrid/cocip_grid.py
Due: ruff-format, ruff-lint

Extend passenger and cargo load factor database to Jan-2026
  pycontrails/physics/static/iata-cargo-load-factors-20250221.csv
  pycontrails/physics/static/iata-passenger-load-factors-20250221.csv
Due: none

Update static file names
  pycontrails/physics/jet.py
  pycontrails/physics/static/iata-cargo-load-factors-20250221.csv
  pycontrails/physics/static/iata-passenger-load-factors-20250221.csv
Due: ruff-format, ruff-lint

Stage csv files
  pycontrails/physics/static/iata-cargo-load-factors-20260304.csv
  pycontrails/physics/static/iata-passenger-load-factors-20260304.csv
Due: none

update pinned load factor values
  tests/unit/test_flight.py
Due: ruff-format, ruff-lint

add new exception; disambiguate between no error and unknown/null case
  pycontrails/datalib/spire/exceptions.py
  pycontrails/datalib/spire/spire.py
Due: ruff-format, ruff-lint

Path conditions:
  ruff-format: any of: \.(py|ipynb)$
  ruff-lint: any of: \.(py|ipynb)$
  doc8: any of: \.(rst)$
  nb-clean: any of: \.(ipynb)$
