Repository contrailcirrus/pycontrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, doc8, black

ruff:
  name: ruff
  language_version: python3
  language: python
  entry: ruff
  args:
  - --fix
  - --exit-non-zero-on-fix

doc8:
  name: doc8
  language_version: python3
  language: python
  entry: doc8

black:
  name: black
  language_version: python3
  language: python
  entry: black

Change type to np.intp
  pycontrails/core/flight.py
Due: ruff, black

Adds get_excess_thrust method
  pycontrails/models/ps_model/ps_operational_limits.py
Due: ruff, black

Fixes type issue
  pycontrails/models/ps_model/ps_operational_limits.py
Due: ruff, black

Add type suggestion for seg_idx
  pycontrails/core/flight.py
Due: ruff, black

np.float64 -> float
  pycontrails/models/ps_model/ps_operational_limits.py
Due: ruff, black

Use assert_array_equal rather than assert in test
  tests/unit/test_flight.py
Due: ruff, black

Fix typo in docstring
  pycontrails/core/flight.py
Due: ruff, black

Ensures correct root is found
  pycontrails/models/ps_model/ps_operational_limits.py
Due: ruff, black

Adds maximum_mach_number method
  pycontrails/models/ps_model/ps_operational_limits.py
Due: ruff, black

Adds minimum_mach_number method
  pycontrails/models/ps_model/ps_operational_limits.py
Due: ruff, black

Resolves circular import
  pycontrails/models/ps_model/ps_operational_limits.py
Due: ruff, black

Remove type: ignore
  pycontrails/core/flight.py
Due: ruff, black

Fix changelog type
  CHANGELOG.md
Due: none

Allows unions in ArrayOrFloat
  pycontrails/utils/types.py
Due: ruff, black

Remove type hint
  pycontrails/core/flight.py
Due: ruff, black

Adds unit test for mach limits
  tests/unit/test_ps_model.py
Due: ruff, black

get_excess_thrust_available handles arrays properly now
  pycontrails/models/ps_model/ps_operational_limits.py
Due: ruff, black

Update EDB nvPM static files to v29b
  pycontrails/models/emissions/static/edb-nvpm-v28c-engines.csv
Due: none

Rename EDB nvPM static file
  pycontrails/models/emissions/static/edb-nvpm-v29b-engines.csv
Due: none

Update EDB gaseous static files to v29b
  pycontrails/models/emissions/static/edb-gaseous-v28c-engines.csv
Due: none

Rename EDB gaseous static file
  pycontrails/models/emissions/static/edb-gaseous-v29b-engines.csv
Due: none

Update default engine static files
  pycontrails/models/emissions/static/default-engine-uids.csv
Due: none

Update default engine static file - bug fix
  pycontrails/models/emissions/static/default-engine-uids.csv
Due: none

Update file path
  pycontrails/models/emissions/emissions.py
Due: ruff, black

Re-add some superseded engines to gaseous dataset (because they are in the nvPM dataset)
  pycontrails/models/emissions/static/edb-gaseous-v29b-engines.csv
Due: none

Update unit test
  tests/unit/test_emissions.py
Due: ruff, black

Update changelog
  CHANGELOG.md
Due: none

Update link to GFS documentation
  docs/notebooks/GFS.ipynb
Due: black

Increase significant figures in static files
  pycontrails/models/ps_model/static/ps-aircraft-params-20240322.csv
Due: none

Path conditions:
  ruff: any of: \.py$
  doc8: any of: \.(rst)$
  black: any of: \.(py|ipynb)$
