Repository contrailcirrus/pycontrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, doc8, nb-clean

ruff-format:
  name: ruff format
  language_version: python3
  language: python
  entry: ruff format

ruff-lint:
  name: ruff lint
  language_version: python3
  language: python
  entry: ruff check
  args:
  - --fix
  - --exit-non-zero-on-fix

doc8:
  name: doc8
  language_version: python3
  language: python
  entry: doc8

nb-clean:
  name: nb-clean
  language_version: python3
  language: python
  entry: nb-clean
  args:
  - clean
  - --remove-empty-cells
  - --preserve-cell-metadata
  - tags
  - --preserve-cell-outputs
  - --preserve-execution-counts

Update favicon to by light/dark dynamic
  docs/_static/img/favicon.png
  docs/_static/img/favicon.svg
  docs/conf.py
Due: ruff-format, ruff-lint

BREAKING: change aircraft_performance_model value from PSFlight to PS
  pycontrails/models/ps_model/ps_model.py
  tests/unit/test_ps_model.py
Due: ruff-format, ruff-lint

don't set nan attributes
  pycontrails/datalib/ch_aviation.py
Due: ruff-format, ruff-lint

rename max_takeoff_weight -> amass_mtow and operating_empty_weight -> amass_oew
  pycontrails/core/aircraft_performance.py
  pycontrails/physics/jet.py
Due: ruff-format, ruff-lint

update test accordingly
  tests/unit/test_ch_aviation.py
Due: ruff-format, ruff-lint

fix tests for breaking change to pycontrails-bada
  tests/unit/test_cocip_grid.py
  tests/unit/test_emissions.py
Due: ruff-format, ruff-lint

BREAKING: change max mach buffer from 0.02 to 0
  pycontrails/core/aircraft_performance.py
  pycontrails/models/ps_model/ps_model.py
  pycontrails/models/ps_model/ps_operational_limits.py
  tests/unit/test_ps_model.py
Due: ruff-format, ruff-lint

format
  pycontrails/datalib/_met_utils/metsource.py
Due: ruff-format, ruff-lint

update changelog
  CHANGELOG.md
Due: none

handle timezones
  pycontrails/datalib/_met_utils/metsource.py
Due: ruff-format, ruff-lint

Revert "check for nan aircraft_role and n_seats"
  pycontrails/core/aircraft_performance.py
Due: ruff-format, ruff-lint

ignore icao link
  Makefile
Due: none

numpy float -> python float
  pycontrails/physics/jet.py
Due: ruff-format, ruff-lint

Fix bug in radiative heating module -> Checked with CoCiP Fortran
  pycontrails/models/cocip/contrail_properties.py
Due: ruff-format, ruff-lint

Fix unit test
  tests/unit/test_cocip.py
Due: ruff-format, ruff-lint

updated changelog
  CHANGELOG.md
Due: none

placate type checker
  pycontrails/datalib/met_utils.py
Due: ruff-format, ruff-lint

apply fix
  pycontrails/datalib/met_utils.py
Due: ruff-format, ruff-lint

tweak error message, changelog
  CHANGELOG.md
  pycontrails/datalib/met_utils.py
Due: ruff-format, ruff-lint

exclude non-floating dtypes from np.result_type
  pycontrails/core/met.py
Due: ruff-format, ruff-lint

ps calculation micro-optimizations
  pycontrails/models/ps_model/ps_model.py
Due: ruff-format, ruff-lint

ignore mypy issues
  pycontrails/models/ps_model/ps_model.py
Due: ruff-format, ruff-lint

fix a few links
  Makefile
  docs/integrations/ACCF.ipynb
  docs/integrations/APCEMM.ipynb
  docs/notebooks/CoCiP.ipynb
  docs/notebooks/ECMWF.ipynb
Due: ruff-format, ruff-lint, nb-clean

ignore links
  Makefile
Due: none

update dataframe styling in docs
  docs/_static/css/style.css
Due: none

pass through model param
  pycontrails/models/cocip/cocip.py
  pycontrails/models/cocip/wake_vortex.py
  pycontrails/models/cocipgrid/cocip_grid.py
Due: ruff-format, ruff-lint

Path conditions:
  ruff-format: any of: \.(py|ipynb)$
  ruff-lint: any of: \.(py|ipynb)$
  doc8: any of: \.(rst)$
  nb-clean: any of: \.(ipynb)$
