Repository contrailcirrus/pycontrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, doc8, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        language_version: python3
        language: python
        entry: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]
      - id: doc8
        name: doc8
        language_version: python3
        language: python
        entry: doc8
        types: [file]
        files: \.(rst)$
      - id: black
        name: black
        language_version: python3
        language: python
        entry: black
        types: [file]
        files: \.(py|ipynb)$

fix reference
  pycontrails/models/apcemm/apcemm.py
Due: ruff, black

bugfixes
  pycontrails/models/apcemm/utils.py
Due: ruff, black

remove blank lines in docstring parameter lists
  pycontrails/models/apcemm/adapter.py
  pycontrails/models/apcemm/interface.py
  pycontrails/models/apcemm/utils.py
Due: ruff, black

support pathlib.Path
  pycontrails/models/apcemm/apcemm.py
  pycontrails/models/apcemm/input.py
  pycontrails/models/apcemm/utils.py
  tests/unit/test_apcemm.py
Due: ruff, black

small documentation fixes
  docs/integrations/APCEMM.ipynb
  pycontrails/models/apcemm/apcemm.py
Due: ruff, black

add note about static values
  pycontrails/models/apcemm/apcemm.py
Due: ruff, black

clean up numerics and input parameter setting
  CHANGELOG.md
  docs/integrations/APCEMM.ipynb
  pycontrails/models/apcemm/apcemm.py
  pycontrails/models/apcemm/inputs.py
  pycontrails/models/apcemm/utils.py
  pycontrails/models/dry_advection.py
  tests/unit/test_apcemm.py
Due: ruff, black

add apcemm unit tests
  pycontrails/models/apcemm/adapter.py
  tests/unit/test_apcemm.py
Due: ruff, black

set output directory in adapter
  pycontrails/models/apcemm/adapter.py
  pycontrails/models/apcemm/interface.py
  pycontrails/models/apcemm/static/apcemm_yaml_template.yaml
Due: ruff, black

stub out apcemm unit test
  tests/unit/test_apcemm.py
Due: ruff, black

fix dry advection sedimentation
  pycontrails/models/dry_advection.py
Due: ruff, black

update changelog
  CHANGELOG.md
Due: none

draft pycontrails apcemm interface
  docs/api.rst
  docs/integrations/APCEMM.ipynb
  docs/models.rst
  pycontrails/models/apcemm/__init__.py
  pycontrails/models/apcemm/adapter.py
  pycontrails/models/apcemm/interface.py
  pycontrails/models/apcemm/utils.py
  pycontrails/models/dry_advection.py
Due: ruff, doc8, black

update notebook
  docs/integrations/APCEMM.ipynb
Due: black

note addition to DryAdvection model
  CHANGELOG.md
Due: none

promote skips to errors
  tests/unit/test_apcemm.py
Due: ruff, black

allow | for unions in python 3.9
  pycontrails/models/apcemm/adapter.py
  pycontrails/models/apcemm/interface.py
Due: ruff, black

reorganize code
  pycontrails/models/apcemm/__init__.py
  pycontrails/models/apcemm/apcemm.py
  pycontrails/models/apcemm/input.py
  pycontrails/models/apcemm/interface.py
  pycontrails/models/apcemm/utils.py
  tests/unit/test_apcemm.py
Due: ruff, black

exclude APCEMM notebook from tests
  CHANGELOG.md
  Makefile
Due: none

clean up APCEMMYaml class
  pycontrails/models/apcemm/adapter.py
  pycontrails/models/apcemm/interface.py
  pycontrails/models/apcemm/static/apcemm_yaml_template.yaml
  pyproject.toml
  tests/unit/test_apcemm.py
Due: ruff, black

update APCEMM meteoroloy file generation
  CHANGELOG.md
  docs/integrations/APCEMM.ipynb
  pycontrails/models/apcemm/apcemm.py
  pycontrails/models/apcemm/inputs.py
  pycontrails/models/apcemm/static/apcemm_yaml_template.yaml
  pycontrails/models/apcemm/utils.py
  tests/unit/test_apcemm.py
Due: ruff, black

update apcemm cache dir and fix unit test
  pycontrails/models/apcemm/adapter.py
  tests/unit/test_apcemm.py
Due: ruff, black

add missing link
  pycontrails/models/apcemm/apcemm.py
Due: ruff, black

change default altitudes in APCEMM met input
  pycontrails/models/apcemm/apcemm.py
Due: ruff, black

Update docs/api.rst
  docs/api.rst
Due: doc8

allow | for unions in python 3.9
  tests/unit/test_apcemm.py
Due: ruff, black

clarify why apcemm_root is needed
  pycontrails/models/apcemm/interface.py
Due: ruff, black

add check for all-nan profiles
  pycontrails/models/apcemm/utils.py
Due: ruff, black

Few small updates to APCEMM notebook on first review
  docs/integrations/APCEMM.ipynb
Due: black

bug fixes in apcemm netcdf generation
  pycontrails/models/apcemm/utils.py
Due: ruff, black

Disable reading vertical velocities from netCDF input
  pycontrails/models/apcemm/apcemm.py
  pycontrails/models/apcemm/static/apcemm_yaml_template.yaml
Due: ruff, black

add parameter to control levels in APCEMM netcdf files
  pycontrails/models/apcemm/apcemm.py
Due: ruff, black

Update pycontrails/models/apcemm/adapter.py
  pycontrails/models/apcemm/adapter.py
Due: ruff, black
