Repository contrailcirrus/pycontrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, doc8, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        language_version: python3
        language: python
        entry: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]
      - id: doc8
        name: doc8
        language_version: python3
        language: python
        entry: doc8
        types: [file]
        files: \.(rst)$
      - id: black
        name: black
        language_version: python3
        language: python
        entry: black
        types: [file]
        files: \.(py|ipynb)$

exclude netcdf4 1.7.0 in dependencies
  CHANGELOG.md
  pyproject.toml
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

run taplo formatter
  pyproject.toml
Due: none

require numpy>=2.0.0rc2 when building pycontrails
  pyproject.toml
Due: none

required_version -> required-version
  pyproject.toml
Due: none

np.in1d -> np.isin
  tests/unit/test_flight.py
Due: ruff, black

update dtype patterns for breaking changes in NEP50
  pycontrails/models/cocipgrid/cocip_grid.py
Due: ruff, black

relax tolerance for pinned values
  tests/unit/test_cocip_grid.py
Due: ruff, black

update test for breaking changes in numpy 2.0.0
  tests/unit/test_cocip_uncertainty.py
Due: ruff, black

update changelog
  CHANGELOG.md
Due: none

Update mypy
  pyproject.toml
Due: none

Update Changelog (Re-org 0.52 changelog as Features, Fixes, Internals)
  CHANGELOG.md
Due: none

restrict to numpy 1.x in runtime dependencies
  pyproject.toml
Due: none

create Landsat and Sentinel tutorial notebooks
  docs/api.rst
  docs/notebooks/Landsat.ipynb
  docs/notebooks/Sentinel.ipynb
  docs/notebooks/data/iagos-flight-landsat.csv
  docs/notebooks/data/iagos-flight-sentinel.csv
  docs/observations.rst
  pycontrails/datalib/leo/__init__.py
  pycontrails/datalib/leo/landsat.py
  pycontrails/datalib/leo/sentinel.py
  pyproject.toml
Due: ruff, doc8, black

draft LEO satellite datalibs
  docs/_static/pycontrails.bib
  pycontrails/datalib/leo/landsat.py
  pycontrails/datalib/leo/sentinel.py
  pycontrails/datalib/leo/static/landsat_roi_query.sql
  pycontrails/datalib/leo/static/sentinel_roi_query.sql
  pycontrails/datalib/leo/utils.py
  pycontrails/datalib/leo/vis.py
  pyproject.toml
Due: ruff, black

resolve CHANGELOG conflicts
  CHANGELOG.md
  pycontrails/datalib/leo/landsat.py
  pycontrails/datalib/leo/sentinel.py
  pycontrails/datalib/leo/utils.py
  tests/__init__.py
  tests/unit/test_leo.py
Due: ruff, black

add leo optional dependencies to complete installation
  pyproject.toml
Due: none

de-duplicate code
  CHANGELOG.md
  docs/notebooks/Landsat.ipynb
  docs/notebooks/Sentinel.ipynb
  pycontrails/datalib/leo/landsat.py
  pycontrails/datalib/leo/search.py
  pycontrails/datalib/leo/sentinel.py
  pycontrails/datalib/leo/static/bq_roi_query.sql
  pycontrails/datalib/leo/static/landsat_roi_query.sql
  pycontrails/datalib/leo/utils.py
  tests/unit/test_leo.py
Due: ruff, black

more mypy more problems ¯\_(ツ)_/¯
  pycontrails/core/cache.py
  pyproject.toml
Due: ruff, black

Update bibtex file from Zotero export
  docs/_static/pycontrails.bib
Due: none

allow | for unions in python 3.9
  pycontrails/datalib/leo/landsat.py
  pycontrails/datalib/leo/sentinel.py
Due: ruff, black

Move landsat and sentinel modules out of 'leo' sub-module
  docs/api.rst
  docs/notebooks/Landsat.ipynb
  docs/notebooks/Sentinel.ipynb
  pycontrails/datalib/_leo_utils/search.py
  pycontrails/datalib/_leo_utils/static/bq_roi_query.sql
  pycontrails/datalib/_leo_utils/vis.py
  pycontrails/datalib/goes.py
  pycontrails/datalib/landsat.py
  pycontrails/datalib/leo/__init__.py
  pycontrails/datalib/sentinel.py
  pyproject.toml
Due: ruff, doc8, black

import ElementTree at the top level
  pycontrails/datalib/sentinel.py
Due: ruff, black

Require bigquery-storage dependency
  pyproject.toml
Due: none

add not about handler.get wait time to notebooks
  docs/notebooks/Landsat.ipynb
  docs/notebooks/Sentinel.ipynb
Due: black

Add new modules to docstring
  pycontrails/datalib/__init__.py
Due: ruff, black

Re-run Sentinel notebook clean
  docs/notebooks/Sentinel.ipynb
Due: black
