Repository contrailcirrus/pycontrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, doc8, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        language_version: python3
        language: python
        entry: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]
      - id: doc8
        name: doc8
        language_version: python3
        language: python
        entry: doc8
        types: [file]
        files: \.(rst)$
      - id: black
        name: black
        language_version: python3
        language: python
        entry: black
        types: [file]
        files: \.(py|ipynb)$

Update pycontrails/datalib/landsat.py
  pycontrails/datalib/landsat.py
Due: ruff, black

Remove empty lines in docstrings
  pycontrails/datalib/_leo_utils/search.py
  pycontrails/datalib/_leo_utils/vis.py
  pycontrails/datalib/landsat.py
  pycontrails/datalib/sentinel.py
Due: ruff, black

Update pycontrails/datalib/sentinel.py
  pycontrails/datalib/sentinel.py
Due: ruff, black

fix y coordinate
  pycontrails/datalib/landsat.py
Due: ruff, black

Re-run Landsat notebook clean
  docs/notebooks/Landsat.ipynb
Due: black

improve date formatting in notebooks
  docs/notebooks/Landsat.ipynb
  docs/notebooks/Sentinel.ipynb
Due: black

Fix sat (leo) tests
  tests/unit/test_leo.py
Due: ruff, black

Suppress outputs in notebooks
  docs/notebooks/Landsat.ipynb
  docs/notebooks/Sentinel.ipynb
Due: black

remove duplicate antimeridian splitting logic
  CHANGELOG.md
  pycontrails/core/flight.py
  pycontrails/datalib/_leo_utils/search.py
  tests/unit/test_flight.py
  tests/unit/test_leo.py
Due: ruff, black

update notebooks
  docs/notebooks/Landsat.ipynb
  docs/notebooks/Sentinel.ipynb
Due: black

Bump minimum pandas version to 2.2
  pyproject.toml
Due: none

update documentation
  docs/api.rst
  pycontrails/datalib/landsat.py
  pycontrails/datalib/sentinel.py
  tests/unit/test_datalib_metsource.py
Due: ruff, doc8, black

update changelog
  CHANGELOG.md
Due: none

Fix spire tests
  tests/unit/test_spire.py
Due: ruff, black

don't download landsat and sentinel imagery in notebook tests
  CHANGELOG.md
  docs/notebooks/Landsat.ipynb
  docs/notebooks/Sentinel.ipynb
Due: black

Move core.datalib -> datalib._met_utils.metsource
  pycontrails/__init__.py
  pycontrails/core/__init__.py
  pycontrails/datalib/_met_utils/metsource.py
  pycontrails/datalib/ecmwf/arco_era5.py
  pycontrails/datalib/ecmwf/common.py
  pycontrails/datalib/ecmwf/era5.py
  pycontrails/datalib/ecmwf/era5_model_level.py
  pycontrails/datalib/ecmwf/hres.py
  pycontrails/datalib/ecmwf/hres_model_level.py
  pycontrails/datalib/ecmwf/ifs.py
  pycontrails/datalib/gfs/gfs.py
  tests/unit/test_datalib_metsource.py
Due: ruff, black

Move spire datalib into file instead of subdirectory
  pycontrails/datalib/spire.py
  pycontrails/datalib/spire/__init__.py
Due: ruff, black

allow | for unions in python 3.9
  pycontrails/datalib/leo/landsat.py
  pycontrails/datalib/leo/sentinel.py
Due: ruff, black

de-duplicate code
  CHANGELOG.md
  docs/notebooks/Landsat.ipynb
  docs/notebooks/Sentinel.ipynb
  pycontrails/datalib/leo/landsat.py
  pycontrails/datalib/leo/search.py
  pycontrails/datalib/leo/sentinel.py
  pycontrails/datalib/leo/static/bq_roi_query.sql
  pycontrails/datalib/leo/static/landsat_roi_query.sql
  pycontrails/datalib/leo/utils.py
  tests/unit/test_leo.py
Due: ruff, black

add not about handler.get wait time to notebooks
  docs/notebooks/Landsat.ipynb
  docs/notebooks/Sentinel.ipynb
Due: black

Add new modules to docstring
  pycontrails/datalib/__init__.py
Due: ruff, black

more mypy more problems ¯\_(ツ)_/¯
  pycontrails/core/cache.py
  pyproject.toml
Due: ruff, black

resolve CHANGELOG conflicts
  CHANGELOG.md
  pycontrails/datalib/leo/landsat.py
  pycontrails/datalib/leo/sentinel.py
  pycontrails/datalib/leo/utils.py
  tests/__init__.py
  tests/unit/test_leo.py
Due: ruff, black

add leo optional dependencies to complete installation
  pyproject.toml
Due: none

Update bibtex file from Zotero export
  docs/_static/pycontrails.bib
Due: none

draft LEO satellite datalibs
  docs/_static/pycontrails.bib
  pycontrails/datalib/leo/landsat.py
  pycontrails/datalib/leo/sentinel.py
  pycontrails/datalib/leo/static/landsat_roi_query.sql
  pycontrails/datalib/leo/static/sentinel_roi_query.sql
  pycontrails/datalib/leo/utils.py
  pycontrails/datalib/leo/vis.py
  pyproject.toml
Due: ruff, black
