Repository contrailcirrus/pycontrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, doc8, nb-clean

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        language_version: python3
        language: python
        entry: ruff format
        types: [file]
        files: \.(py|ipynb)$
      - id: ruff-lint
        name: ruff lint
        language_version: python3
        language: python
        entry: ruff check
        args: [--fix, --exit-non-zero-on-fix]
        types: [file]
        files: \.(py|ipynb)$
      - id: doc8
        name: doc8
        language_version: python3
        language: python
        entry: doc8
        types: [file]
        files: \.(rst)$
      - id: nb-clean
        name: nb-clean
        language_version: python3
        language: python
        entry: nb-clean
        types: [file]
        files: \.(ipynb)$
        args:
          - clean
          - --remove-empty-cells
          - --preserve-cell-metadata
          - tags
          - --preserve-cell-outputs
          - --preserve-execution-counts

tweak language
  docs/notebooks/run-cocip-on-flight.ipynb
Due: ruff-format, ruff-lint, nb-clean

standardize contrail and source output
  pycontrails/models/cocip/cocip.py
  tests/unit/test_cocip.py
Due: ruff-format, ruff-lint

fix linting for ruff 0.15
  docs/notebooks/Landsat.ipynb
  tests/unit/test_ecmwf.py
Due: ruff-format, ruff-lint, nb-clean

test cocip output schema
  pycontrails/models/cocip/cocip.py
  tests/unit/test_cocip.py
Due: ruff-format, ruff-lint

no longer set contrail_dataset
  docs/notebooks/CoCiP.ipynb
  docs/notebooks/run-cocip-on-flight.ipynb
  pycontrails/models/cocip/cocip.py
  tests/unit/test_cocip.py
Due: ruff-format, ruff-lint, nb-clean

update changelog
  CHANGELOG.md
Due: none

add to changelog
  CHANGELOG.md
Due: none

Update pycontrails/datalib/leo_utils/landsat_metadata.py
  pycontrails/datalib/leo_utils/landsat_metadata.py
Due: ruff-format, ruff-lint

Update test.
  tests/unit/test_google_forecast.py
Due: ruff-format, ruff-lint

Update pycontrails/datalib/google_forecast.py
  pycontrails/datalib/google_forecast.py
Due: ruff-format, ruff-lint

Apply suggestion from @thabbott
  pycontrails/datalib/google_forecast.py
Due: ruff-format, ruff-lint

Add Google forecast notebook.
  docs/notebooks/GoogleForecast.ipynb
Due: ruff-format, ruff-lint, nb-clean

Prototype Forecast API datalib.
  pycontrails/datalib/forecast.py
Due: ruff-format, ruff-lint

Add forecast test.
  tests/unit/test_forecast.py
Due: ruff-format, ruff-lint

Migrate from model to datalib interface.
  pycontrails/datalib/forecast.py
  pycontrails/datalib/google_forecast.py
  tests/unit/test_forecast.py
  tests/unit/test_google_forecast.py
Due: ruff-format, ruff-lint

Improve google forecast datalib.
  pycontrails/datalib/google_forecast.py
  tests/unit/test_google_forecast.py
Due: ruff-format, ruff-lint

Add met var units.
  pycontrails/datalib/google_forecast.py
Due: ruff-format, ruff-lint

Update met var name to ExpectedEffectiveEnergyForcing.
  pycontrails/datalib/google_forecast.py
Due: ruff-format, ruff-lint

address mypy errors, disallow generics, update dev dependencies
  pycontrails/core/met.py
  pycontrails/datalib/_met_utils/metsource.py
  pycontrails/models/ps_model/ps_grid.py
  pyproject.toml
Due: ruff-format, ruff-lint

slightly reorganization google forecast tests
  CHANGELOG.md
  docs/notebooks/GoogleForecast.ipynb
  pycontrails/datalib/google_forecast.py
  tests/unit/test_google_forecast.py
Due: ruff-format, ruff-lint, nb-clean

add Max Vogler
  .zenodo.json
Due: none

mark offline
  tests/unit/test_google_forecast.py
Due: ruff-format, ruff-lint

specify version 0.60.3
  CHANGELOG.md
  pycontrails/datalib/google_forecast.py
Due: ruff-format, ruff-lint

move GoogleForecast notebook
  docs/integrations/GoogleForecast.ipynb
  docs/models.rst
Due: ruff-format, ruff-lint, doc8, nb-clean

try fixing windows netcdf issue
  Makefile
  pycontrails/datalib/google_forecast.py
Due: ruff-format, ruff-lint

address some sphinx warnings
  docs/api.rst
  pycontrails/core/flight.py
  pycontrails/models/emissions/nvpm.py
Due: ruff-format, ruff-lint, doc8

mark gruan tests unreliable
  tests/unit/test_gruan.py
Due: ruff-format, ruff-lint

Bug fixes and disable warning message
  pycontrails/models/cocip/cocip.py
  pycontrails/models/extended_k15.py
Due: ruff-format, ruff-lint

Split particles into low and high nvPM cases
  pycontrails/models/cocip/cocip.py
  pycontrails/models/cocip/cocip_params.py
Due: ruff-format, ruff-lint

Revert "Bug fixes and disable warning message"
  pycontrails/models/cocip/cocip.py
  pycontrails/models/extended_k15.py
Due: ruff-format, ruff-lint

make particle types immutable, add annotation
  pycontrails/models/cocip/cocip_params.py
Due: ruff-format, ruff-lint

fix cumul_heat added twice
  pycontrails/models/cocip/cocip.py
  tests/unit/test_cocip.py
Due: ruff-format, ruff-lint

Add notebook demo-ing flight ADS-B loading, cleaning, and processing into Flight df.
  Makefile
  docs/flight.rst
  docs/notebooks/adsb-flight-loading.ipynb
  pycontrails/core/flight.py
  tests/unit/test_flight.py
Due: ruff-format, ruff-lint, doc8, nb-clean

ch-aviation dataclass
  pycontrails/datalib/ch-aviation.py
Due: ruff-format, ruff-lint

Support OAuth for GoogleForecast datalib.
  pycontrails/datalib/google_forecast.py
  tests/unit/test_google_forecast.py
Due: ruff-format, ruff-lint

Raise helpful ImportError when missing google-auth.
  pycontrails/datalib/google_forecast.py
Due: ruff-format, ruff-lint
