Repository contrailcirrus/pycontrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, doc8, nb-clean

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        language_version: python3
        language: python
        entry: ruff format
        types: [file]
        files: \.(py|ipynb)$
      - id: ruff-lint
        name: ruff lint
        language_version: python3
        language: python
        entry: ruff check
        args: [--fix, --exit-non-zero-on-fix]
        types: [file]
        files: \.(py|ipynb)$
      - id: doc8
        name: doc8
        language_version: python3
        language: python
        entry: doc8
        types: [file]
        files: \.(rst)$
      - id: nb-clean
        name: nb-clean
        language_version: python3
        language: python
        entry: nb-clean
        types: [file]
        files: \.(ipynb)$
        args:
          - clean
          - --remove-empty-cells
          - --preserve-cell-metadata
          - tags
          - --preserve-cell-outputs
          - --preserve-execution-counts

fix ecmwf links
  docs/notebooks/ECMWF.ipynb
Due: ruff-format, ruff-lint, nb-clean

add grib1_id to ecmwf.RelativeHumidity
  pycontrails/datalib/ecmwf/variables.py
Due: ruff-format, ruff-lint

include ecmwf.RelativeHumidity in ACCF.met_variables
  CHANGELOG.md
  pycontrails/models/accf.py
Due: ruff-format, ruff-lint

update ecmwf ensemble links
  docs/notebooks/ECMWF.ipynb
Due: ruff-format, ruff-lint, nb-clean

use ACCF.met_variables instead of listing them individually
  docs/integrations/ACCF.ipynb
Due: ruff-format, ruff-lint, nb-clean

toml cosmetics
  pyproject.toml
Due: none

Update literature references using pycontrails
  docs/_static/pycontrails.bib
  docs/literature.rst
Due: doc8

Fix links in pycontrails-bada install
  docs/install.rst
Due: doc8

Elevate `engine_deterioration_factor` to AircraftPerformanceParams
  pycontrails/core/aircraft_performance.py
  pycontrails/models/ps_model/ps_model.py
Due: ruff-format, ruff-lint

include engine_deterioration_factor in AircraftPerformanceGridParams
  CHANGELOG.md
  pycontrails/core/aircraft_performance.py
  pycontrails/models/ps_model/ps_aircraft_params.py
  pycontrails/models/ps_model/ps_grid.py
Due: ruff-format, ruff-lint

fix to allow pressure-levels data with one pressure level
  pycontrails/datalib/ecmwf/era5.py
Due: ruff-format, ruff-lint

remove global CLF and PLF variables
  pycontrails/physics/jet.py
Due: ruff-format, ruff-lint

Add unit test
  tests/unit/test_flight.py
Due: ruff-format, ruff-lint

Bug fixes
  pycontrails/physics/jet.py
Due: ruff-format, ruff-lint

Update unit test
  tests/unit/test_flight.py
Due: ruff-format, ruff-lint

Update static files
  pycontrails/physics/static/iata-cargo-load-factors-20241115.csv
  pycontrails/physics/static/iata-passenger-load-factors-20241115.csv
Due: none

Use historical cargo load factor for freighters
  pycontrails/physics/jet.py
Due: ruff-format, ruff-lint

Update default load factor to historical globally averaged values
  pycontrails/core/aircraft_performance.py
Due: ruff-format, ruff-lint

Estimate passenger load factor by region and seasonality
  pycontrails/physics/jet.py
Due: ruff-format, ruff-lint

Add historical passenger load factor database
  pycontrails/physics/jet.py
  pycontrails/physics/static/iata-regional-load-factors-20241115.csv
Due: ruff-format, ruff-lint

simplify implementation, specialize region when first_waypoint_time is None
  pycontrails/physics/jet.py
Due: ruff-format, ruff-lint

fix test
  tests/unit/test_cocip.py
Due: ruff-format, ruff-lint

combine both pandas read_csv into one function, streamline reinterpolation to daily
  pycontrails/physics/jet.py
Due: ruff-format, ruff-lint

update changelog
  CHANGELOG.md
Due: none

cosmetic
  tests/unit/test_flight.py
Due: ruff-format, ruff-lint

include more sphinx links, fix some broken links
  pycontrails/core/aircraft_performance.py
  pycontrails/models/ps_model/ps_model.py
  pycontrails/physics/jet.py
Due: ruff-format, ruff-lint

expand documentation
  pycontrails/core/flight.py
Due: ruff-format, ruff-lint
