Repository contrailcirrus/pycontrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, doc8, black

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: ruff
    name: ruff
    language_version: python3
    language: python
    entry: ruff
    args: [--fix, --exit-non-zero-on-fix]
    types: [python]
  - id: doc8
    name: doc8
    language_version: python3
    language: python
    entry: doc8
    types: [file]
    files: \.(rst)$
  - id: black
    name: black
    language_version: python3
    language: python
    entry: black
    types: [file]
    files: \.(py|ipynb)$

ensure dtype of PSGrid output is consistent with inputs
  pycontrails/models/ps_model/ps_grid.py
Due: ruff, black

AP -> aircraft performance
  pycontrails/models/cocipgrid/cocip_grid.py
Due: ruff, black

ignore type return value after Emissions update
  pycontrails/models/cocip/cocip.py
Due: ruff, black

remove default values from @overload signatures
  pycontrails/core/aircraft_performance.py
  pycontrails/core/met.py
  pycontrails/models/accf.py
  pycontrails/models/cocip/cocip.py
  pycontrails/models/cocipgrid/cocip_grid.py
  pycontrails/models/dry_advection.py
  pycontrails/models/emissions/emissions.py
  pycontrails/models/humidity_scaling/humidity_scaling.py
  pycontrails/models/issr.py
  pycontrails/models/pcr.py
  pycontrails/models/ps_model/ps_grid.py
  pycontrails/models/ps_model/ps_model.py
  pycontrails/models/sac.py
Due: ruff, black

fix unit tests for breaking changes to CocipGrid
  tests/unit/conftest.py
  tests/unit/test_cocip_grid.py
  tests/unit/test_cocip_grid_parity.py
  tests/unit/test_dtypes.py
  tests/unit/test_grid_to_netcdf.py
  tests/unit/test_ps_model.py
Due: ruff, black

delay import of SyntheticFlight
  pycontrails/models/ps_model/ps_grid.py
  tests/unit/test_cocip_grid.py
  tests/unit/test_cocip_grid_parity.py
Due: ruff, black

better document how PSGrid looks for the aircraft_type
  docs/api.rst
  pycontrails/models/ps_model/ps_grid.py
Due: ruff, doc8, black

hard code path to ps csv, rename get_aircraft_engine_params -> load_aircraft_engine_params
  pycontrails/models/ps_model/__init__.py
  pycontrails/models/ps_model/ps_aircraft_params.py
  pycontrails/models/ps_model/ps_model.py
Due: ruff, black

cleanup and extend test_vector.py module
  tests/unit/test_vector.py
Due: ruff, black

move bada/__init__.py to bada.py, move cirium/__init__.py to cirium.py
  pycontrails/ext/bada.py
  pycontrails/ext/cirium.py
Due: ruff, black

replace npt.NDArray with ArrayOrFloat where appropriate
  pycontrails/models/ps_model/ps_model.py
Due: ruff, black

run black
  pycontrails/models/ps_model/ps_grid.py
  pycontrails/models/ps_model/ps_model.py
Due: ruff, black

draft of PSGrid implementation with pycontrails patterns
  pycontrails/models/ps_model/__init__.py
  pycontrails/models/ps_model/ps_grid.py
  tests/unit/test_ps_model.py
Due: ruff, black

adjust imports
  tests/unit/test_cocip_uncertainty.py
Due: ruff, black

ignore more mypy warnings, prefer ArrayOrFloat even if mypy objects
  pycontrails/models/ps_model/ps_model.py
Due: ruff, black

specialize ArrayOrFloat with npt.NDArray[np.float_]
  pycontrails/utils/types.py
Due: ruff, black

replace TypeError with warning for Flight source
  pycontrails/models/ps_model/ps_grid.py
Due: ruff, black

expand AircraftPerformance.eval docstring, add AircraftPerformanceGridParams container
  pycontrails/core/aircraft_performance.py
Due: ruff, black

add optional set_attr parameter to Model.get_source_param
  pycontrails/core/models.py
Due: ruff, black

add PSGrid to sphinx docs
  docs/api.rst
Due: doc8

Add Aircraft Performance example notebook
  docs/examples/AircraftPerformance.ipynb
  docs/examples/flight2.csv
Due: black

Small fix to pycontrails-bada dev-install script
  Makefile
Due: none

Add existing literature to docs
  docs/_static/pycontrails.bib
  docs/literature.rst
Due: doc8

Add aircraft performance notebook
  docs/examples.rst
Due: doc8

add altitude_ft parameter to Flight and Fleet constructors, make longitude, latitude, ... keyword only
  pycontrails/core/fleet.py
  pycontrails/core/flight.py
  pycontrails/core/vector.py
Due: ruff, black

fix hard-coded PSGrid assumptions about the form of the source data
  CHANGELOG.md
  docs/examples/AircraftPerformance.ipynb
  pycontrails/models/ps_model/ps_grid.py
Due: ruff, black

conditionally add tau_cirrus after met downselection
  pycontrails/core/models.py
  pycontrails/models/cocip/cocip.py
  pycontrails/models/cocipgrid/cocip_grid.py
  tests/unit/test_cocip.py
  tests/unit/test_cocip_grid.py
  tests/unit/test_models.py
Due: ruff, black

keep the correct fuel type on self.source after model evaluation
  CHANGELOG.md
  pycontrails/models/cocip/cocip.py
Due: ruff, black

cleanup logic in VectorDataset.__init__; move time parsing logic to _handle_time_column
  pycontrails/core/vector.py
Due: ruff, black

move compute_tau_cirrus_in_model_init to CocipParams
  pycontrails/core/models.py
  pycontrails/models/cocip/cocip_params.py
  tests/unit/test_models.py
Due: ruff, black

ensure tau_cirrus attached in CocipGrid._load_met_slices
  pycontrails/models/cocipgrid/cocip_time_handling.py
Due: ruff, black

include Tharun Sankar to pycontrails collaborators
  .zenodo.json
Due: none

update changelog
  CHANGELOG.md
Due: none

remove unused kwargs in VectorDataDict.__init__
  pycontrails/core/vector.py
Due: ruff, black

require aircraft_type and wingspan in EmpiricalGrid params
  CHANGELOG.md
  pycontrails/ext/empirical_grid.py
Due: ruff, black

ensure DataFrame columns are ordered consistently with EmpircalGrid.variables
  pycontrails/ext/empirical_grid.py
Due: ruff, black

consolidate cache_dataset
  pycontrails/datalib/ecmwf/common.py
  pycontrails/datalib/ecmwf/era5.py
  pycontrails/datalib/ecmwf/hres.py
Due: ruff, black
