Repository contrailcirrus/pycontrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, doc8, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        language_version: python3
        language: python
        entry: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]
      - id: doc8
        name: doc8
        language_version: python3
        language: python
        entry: doc8
        types: [file]
        files: \.(rst)$
      - id: black
        name: black
        language_version: python3
        language: python
        entry: black
        types: [file]
        files: \.(py|ipynb)$

issue warning if empty flight passed into Fleet.from_seq
  CHANGELOG.md
  pycontrails/core/fleet.py
  tests/unit/test_fleet.py
Due: ruff, black

filter empty flights in Fleet.from_seq
  pycontrails/core/fleet.py
Due: ruff, black

address mypy issue
  pycontrails/models/cocip/output_formats.py
Due: ruff, black

write unit test showing Fleet.from_seq removes empty flights
  tests/unit/test_fleet.py
Due: ruff, black

update CHANGELOG
  CHANGELOG.md
Due: none

np.float_ -> np.float64, np.complex_ -> np.complex128
  pycontrails/core/aircraft_performance.py
  pycontrails/core/fleet.py
  pycontrails/core/flight.py
  pycontrails/core/interpolation.py
  pycontrails/core/met.py
  pycontrails/core/models.py
  pycontrails/core/polygon.py
  pycontrails/core/vector.py
  pycontrails/datalib/goes.py
  pycontrails/ext/empirical_grid.py
  pycontrails/models/cocip/cocip.py
  pycontrails/models/cocip/cocip_uncertainty.py
  pycontrails/models/cocip/contrail_properties.py
  pycontrails/models/cocip/output_formats.py
  pycontrails/models/cocip/radiative_forcing.py
  pycontrails/models/cocip/radiative_heating.py
  pycontrails/models/cocip/wake_vortex.py
  pycontrails/models/cocip/wind_shear.py
  pycontrails/models/cocipgrid/cocip_grid.py
  pycontrails/models/emissions/black_carbon.py
  pycontrails/models/emissions/emissions.py
  pycontrails/models/emissions/ffm2.py
  pycontrails/models/humidity_scaling/humidity_scaling.py
  pycontrails/models/ps_model/ps_grid.py
  pycontrails/models/ps_model/ps_model.py
  pycontrails/models/ps_model/ps_operational_limits.py
  pycontrails/physics/geo.py
  pycontrails/physics/jet.py
  pycontrails/physics/units.py
  pycontrails/utils/json.py
  pycontrails/utils/types.py
Due: ruff, black

update ruff fields
  pyproject.toml
Due: none

typos
  pycontrails/core/met.py
  pycontrails/models/cocip/cocip.py
Due: ruff, black

emit warning when Flight.resample_and_fill returns empty instance
  CHANGELOG.md
  pycontrails/core/flight.py
  tests/unit/test_flight.py
Due: ruff, black

write unit test showing Flight.resample_and_fill can give an empty result
  tests/unit/test_flight.py
Due: ruff, black

update changelog
  CHANGELOG.md
Due: none

try installing make on windows runners
  .github/workflows/test.yaml
Due: none

Intentionally fail formatting check
  pycontrails/core/models.py
Due: ruff, black

Use bash only for QC & test step
  .github/workflows/test.yaml
Due: none

remove polluting changes from different branch
  pyproject.toml
  tests/unit/test_flightplan.py
  tests/unit/test_met.py
Due: ruff, black

testing default shell = bash
  .github/workflows/test.yaml
Due: none

use make to install dev environment
  .github/workflows/test.yaml
Due: none

get rid of failing format check
  pycontrails/core/models.py
Due: ruff, black

test -e for catching errors
  .github/workflows/test.yaml
Due: none

update changelog
  CHANGELOG.md
  pycontrails/core/flight.py
Due: ruff, black

wip: improve develop instructions
  docs/conf.py
  docs/develop.rst
Due: ruff, doc8, black

wip: possible Makefile changes to handle missing CDS credentials
  Makefile
Due: none

wip: deal with missing GCP credentials
  Makefile
Due: none

cleaning up
  Makefile
  black_ruff
Due: none

get rid of accidentally-included file
  black_ruff
Due: none

Fix typo
  Makefile
Due: none

Fix gcp api import
  Makefile
Due: none

(remove space)
  Makefile
Due: none

Fix github cache directory for nb-test and doctest
  .github/workflows/doctest.yaml
Due: none

Add back in GCP application credential check
  Makefile
Due: none

Revert doctest: SKIP
  pycontrails/core/cache.py
  pycontrails/datalib/ecmwf/era5.py
  pycontrails/datalib/ecmwf/hres.py
Due: ruff, black

Finish updating develop instructions
  CHANGELOG.md
  docs/develop.rst
  pycontrails/core/cache.py
Due: ruff, doc8, black

fix link
  docs/develop.rst
Due: doc8
