Repository contrailcirrus/pycontrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, doc8, black, nb-clean

ruff:
  name: ruff
  language_version: python3
  language: python
  entry: ruff check
  args:
  - --fix
  - --exit-non-zero-on-fix

doc8:
  name: doc8
  language_version: python3
  language: python
  entry: doc8

black:
  name: black
  language_version: python3
  language: python
  entry: black

nb-clean:
  name: nb-clean
  language_version: python3
  language: python
  entry: nb-clean
  args:
  - clean
  - --remove-empty-cells
  - --preserve-cell-metadata
  - tags
  - --preserve-cell-outputs
  - --preserve-execution-counts

simplify numpy build pin (numpy 2.1 released)
  pyproject.toml
Due: none

make era5 preprocessing compatible with CDS-Beta
  pycontrails/datalib/ecmwf/era5.py
Due: ruff, black

update CHANGELOG
  CHANGELOG.md
Due: none

address mypy
  pycontrails/datalib/ecmwf/common.py
  pycontrails/models/cocipgrid/cocip_grid.py
Due: ruff, black

remove unneeded f-string
  tests/benchmark/cocip/review.ipynb
Due: black, nb-clean

update links for CDS-Beta
  docs/notebooks/ECMWF.ipynb
Due: black, nb-clean

remove black dependency; bump ruff
  pyproject.toml
Due: none

fix docstring
  pycontrails/datalib/ecmwf/era5.py
  pycontrails/datalib/ecmwf/era5_model_level.py
Due: ruff, black

update Makefile recipes to use ruff format instead of black
  Makefile
Due: none

update tests workflow
  .github/workflows/test.yaml
Due: none

ignore latest mypy issues
  pycontrails/ext/synthetic_flight.py
  pycontrails/models/dry_advection.py
Due: ruff, black

update develop links
  docs/develop.rst
Due: doc8

update changelog
  CHANGELOG.md
Due: none

run nb-clean
  tests/benchmark/cocip/review.ipynb
Due: black, nb-clean

update pre-commit hooks from black to ruff
  .pre-commit-config.yaml
Due: none

remove deprecated targets
  Makefile
Due: none

add ellipsis after three decimals in doctest
  pycontrails/models/issr.py
Due: ruff, black

remove try ... except in _cache_model_level_dataframe, remove lxml dependency
  pycontrails/datalib/ecmwf/model_levels.py
Due: ruff, black

remove lxml
  pyproject.toml
Due: none

rename pressure_levels_at_model_levels_constant_surface_pressure and allow arguments to be None
  pycontrails/datalib/ecmwf/arco_era5.py
  pycontrails/datalib/ecmwf/era5_model_level.py
  pycontrails/datalib/ecmwf/hres_model_level.py
  pycontrails/datalib/ecmwf/model_levels.py
  tests/unit/test_ecmwf.py
Due: ruff, black

implement and test pl to ml conversion from lnsp
  pycontrails/datalib/ecmwf/model_levels.py
  tests/unit/test_ecmwf.py
Due: ruff, black

bolster docstrings
  pycontrails/datalib/ecmwf/model_levels.py
Due: ruff, black

implement ml_to_pl conversion
  pycontrails/datalib/ecmwf/model_levels.py
Due: ruff, black

defer gcsfs import
  pycontrails/datalib/ecmwf/arco_era5.py
Due: ruff, black

hygiene
  pycontrails/datalib/ecmwf/era5_model_level.py
Due: ruff, black

tweak annotation
  pycontrails/datalib/ecmwf/model_levels.py
Due: ruff, black

update docstring
  pycontrails/datalib/_met_utils/metsource.py
Due: ruff, black

cleanup and extend fixture generation script
  tests/fixtures/ecmwf-met.py
Due: ruff, black

Path conditions:
  ruff: any of: \.py$
  doc8: any of: \.(rst)$
  black: any of: \.(py|ipynb)$
  nb-clean: any of: \.(ipynb)$
