Repository contrailcirrus/pycontrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, doc8, nb-clean

ruff-format:
  name: ruff format
  language_version: python3
  language: python
  entry: ruff format

ruff-lint:
  name: ruff lint
  language_version: python3
  language: python
  entry: ruff check
  args:
  - --fix
  - --exit-non-zero-on-fix

doc8:
  name: doc8
  language_version: python3
  language: python
  entry: doc8

nb-clean:
  name: nb-clean
  language_version: python3
  language: python
  entry: nb-clean
  args:
  - clean
  - --remove-empty-cells
  - --preserve-cell-metadata
  - tags
  - --preserve-cell-outputs
  - --preserve-execution-counts

warn if dataset contains variables without model_level dim
  pycontrails/datalib/ecmwf/model_levels.py
Due: ruff-format, ruff-lint

add model_level.py functions to the pycontrails.datalib.ecmwf namespace
  pycontrails/datalib/ecmwf/__init__.py
  tests/unit/test_ecmwf.py
Due: ruff-format, ruff-lint

fix type annotation
  pycontrails/datalib/ecmwf/model_levels.py
Due: ruff-format, ruff-lint

Cocip grid example notebook
  docs/notebooks/CoCiPGrid.ipynb
Due: ruff-format, ruff-lint, nb-clean

Clears warning output from cell
  docs/notebooks/CoCiPGrid.ipynb
Due: ruff-format, ruff-lint, nb-clean

Linter :)
  docs/notebooks/CoCiPGrid.ipynb
Due: ruff-format, ruff-lint, nb-clean

Make a few aesthetic changes to CoCipGrid notebook. Add link in docs
  docs/models.rst
  docs/notebooks/CoCiPGrid.ipynb
Due: ruff-format, ruff-lint, doc8, nb-clean

Add changelog note for new cocip grid documentation
  CHANGELOG.md
Due: none

fix badge
  docs/index.rst
Due: doc8

update test after cfb770a6a6cc6c7fce529eafbc7ae228c6c68689
  tests/unit/test_cocip_grid.py
Due: ruff-format, ruff-lint

tweak ignore ncei link
  Makefile
Due: none

FIX: use timedelta between contrails instead of params['dt_integration'] for integration over time
  pycontrails/models/cocipgrid/cocip_grid.py
Due: ruff-format, ruff-lint

tighten tests after cfb770a6a6cc6c7fce529eafbc7ae228c6c68689
  tests/unit/test_cocip_grid_parity.py
Due: ruff-format, ruff-lint

update copernicus links
  docs/integrations/ACCF.ipynb
  docs/notebooks/CoCiP.ipynb
  docs/notebooks/ISSR.ipynb
  docs/notebooks/SAC.ipynb
  pycontrails/datalib/ecmwf/era5.py
  pycontrails/datalib/ecmwf/era5_model_level.py
  tests/fixtures/cocip-met.py
Due: ruff-format, ruff-lint, nb-clean

add note to docstring re chunking
  pycontrails/datalib/ecmwf/model_levels.py
Due: ruff-format, ruff-lint

update CHANGELOG
  CHANGELOG.md
Due: none

partially revert d95736b439bc247aa7871fe26aff7f0b3b907601
  Makefile
Due: none

make notebook links consistent
  docs/models.rst
Due: doc8

raise exception if level.dtype != float64
  pycontrails/core/met.py
Due: ruff-format, ruff-lint

fix annotation
  pycontrails/core/met.py
Due: ruff-format, ruff-lint

update changelog
  CHANGELOG.md
Due: none

add new test for float32 level
  tests/unit/test_met.py
Due: ruff-format, ruff-lint

slightly improve performance of MetBase._validate_dim_contains_coords
  pycontrails/core/met.py
Due: ruff-format, ruff-lint

report all missing dims in exception
  pycontrails/core/met.py
Due: ruff-format, ruff-lint

initiate -> instantiate
  pycontrails/core/met.py
Due: ruff-format, ruff-lint

change some backticks to quotes for consistency
  pycontrails/core/met.py
Due: ruff-format, ruff-lint

fix 6f33c611b36256d37ff5a4eba7915e40cfb9abdb
  pycontrails/core/met.py
  tests/unit/test_met.py
Due: ruff-format, ruff-lint

Path conditions:
  ruff-format: any of: \.(py|ipynb)$
  ruff-lint: any of: \.(py|ipynb)$
  doc8: any of: \.(rst)$
  nb-clean: any of: \.(ipynb)$
