Repository contrailcirrus/pycontrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, doc8, black

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: ruff
    name: ruff
    language_version: python3
    language: python
    entry: ruff
    args: [--fix, --exit-non-zero-on-fix]
    types: [python]
  - id: doc8
    name: doc8
    language_version: python3
    language: python
    entry: doc8
    types: [file]
    files: \.(rst)$
  - id: black
    name: black
    language_version: python3
    language: python
    entry: black
    types: [file]
    files: \.(py|ipynb)$

fix docstrings
  pycontrails/models/ps_model/ps_model.py
Due: ruff, black

add reference to PS model in sphinx docs
  docs/api.rst
Due: doc8

improve documentation, remove check_aircraft_type_availability abstract method
  pycontrails/models/aircraft_performance.py
Due: ruff, black

fix docstring reference
  pycontrails/core/models.py
Due: ruff, black

strengthen type hints in units
  pycontrails/physics/units.py
Due: ruff, black

add PS model unit tests
  pycontrails/models/ps_model/static/ps-aircraft-params-20230517.csv
  tests/unit/test_ps_model.py
Due: ruff, black

pass correct_fuel_flow into kwargs
  pycontrails/models/ps_model/ps_model.py
Due: ruff, black

remove redundant wingspan
  pycontrails/models/ps_model/ps_aircraft_params.py
Due: ruff, black

better document takeoff mass calculation, np.minimum -> min
  pycontrails/physics/jet.py
Due: ruff, black

clip unrealistic engine efficiency; control clipping via model params
  pycontrails/models/ps_model/ps_model.py
Due: ruff, black

remove fuel from EmissionsParams: now it is pulled directly from self.source
  pycontrails/models/cocipgrid/cocip_grid.py
  pycontrails/models/emissions/emissions.py
Due: ruff, black

fix docstrings in jet.py
  pycontrails/physics/jet.py
Due: ruff, black

calculate rocd_ms inside climb_descent_angle, change parameter from rocd_ms to rocd
  pycontrails/models/ps_model/ps_model.py
  pycontrails/physics/jet.py
Due: ruff, black

small cleanup in GeoVectorDataset contructor
  pycontrails/core/vector.py
Due: ruff, black

update changelog
  CHANGELOG.md
Due: none

slight cleanup to documentation and types
  pycontrails/core/models.py
Due: ruff, black

require load_factor, allow takeoff_mass, and remove ref_mass from update_aircraft_mass
  pycontrails/physics/jet.py
Due: ruff, black

define LF in docstring
  pycontrails/physics/jet.py
Due: ruff, black

working prototype of PSModel; not tested
  pycontrails/models/ps_model/__init__.py
  pycontrails/models/ps_model/aircraft_params.py
  pycontrails/models/ps_model/ps_model.py
Due: ruff, black

bolster the AircraftPerformance ABC: require calculate_aircraft_performance and define simulate_fuel_and_performance
  pycontrails/models/aircraft_performance.py
Due: ruff, black

use ruff in place of isort; fix unsorted imports in tests
  .pre-commit-config.yaml
  CONTRIBUTING.md
  pyproject.toml
  tests/unit/test_ecmwf.py
  tests/unit/test_emissions.py
Due: ruff, black

BREAKING: Remove Aircraft dataclass
  docs/examples/CoCiP.ipynb
  pycontrails/__init__.py
  pycontrails/core/__init__.py
  pycontrails/core/flight.py
  tests/unit/conftest.py
  tests/unit/test_cocip.py
  tests/unit/test_flight.py
Due: ruff, black

early exit in clip_mach_number if all mach numbers are below the max
  pycontrails/physics/jet.py
Due: ruff, black

fix type hints
  pycontrails/models/aircraft_performance.py
  pycontrails/models/ps_model/ps_model.py
Due: ruff, black

rename ensure_tas_on_source -> ensure_true_airspeed_on_source
  pycontrails/models/aircraft_performance.py
  pycontrails/models/ps_model/ps_model.py
Due: ruff, black

update pinned values from formula change 0122c03ef86422a34926086d69d84099adaa9233
  tests/unit/test_ps_model.py
Due: ruff, black

fix some sphinx issues, update changelog for release
  CHANGELOG.md
  docs/api.rst
  docs/conf.py
  pycontrails/core/met_var.py
  pycontrails/core/models.py
  pycontrails/datalib/ecmwf/hres.py
Due: ruff, doc8, black

Allow output directory to be set from cli, rename compare to compare-run
  tests/benchmark/cocip/compare-run.py
  tests/benchmark/cocip/output.py
Due: ruff, black

Add alternate means to compare outputs without having to run model every time
  tests/benchmark/cocip/Makefile
  tests/benchmark/cocip/compare-files.py
Due: ruff, black

Add col to error message in benchmark job
  tests/benchmark/cocip/compare.py
Due: ruff, black

Ignore pq/csv files in benchmark test directory
  .gitignore
Due: none

Update runner for benchmark job
  .github/workflows/benchmark.yaml
Due: none

Move tolerances into benchmark
  tests/benchmark/cocip/benchmark.py
  tests/benchmark/cocip/compare-run.py
Due: ruff, black

Try smaller again
  .github/workflows/benchmark.yaml
Due: none

Revert again
  .github/workflows/benchmark.yaml
Due: none

make paths absolute
  tests/benchmark/cocip/benchmark.py
Due: ruff, black

Try smaller runner
  .github/workflows/benchmark.yaml
Due: none

Small runner doesn't cut it
  .github/workflows/benchmark.yaml
Due: none

Try even larger runner
  .github/workflows/benchmark.yaml
Due: none

Remove maximize build space step
  .github/workflows/benchmark.yaml
Due: none
