Repository contrailcirrus/pycontrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, doc8, black

ruff:
  name: ruff
  language_version: python3
  language: python
  entry: ruff
  args:
  - --fix
  - --exit-non-zero-on-fix

doc8:
  name: doc8
  language_version: python3
  language: python
  entry: doc8

black:
  name: black
  language_version: python3
  language: python
  entry: black

wip: possible Makefile changes to handle missing CDS credentials
  Makefile
Due: none

Fix typo
  Makefile
Due: none

Fix github cache directory for nb-test and doctest
  .github/workflows/doctest.yaml
Due: none

Finish updating develop instructions
  CHANGELOG.md
  docs/develop.rst
  pycontrails/core/cache.py
Due: ruff, doc8, black

cleaning up
  Makefile
  black_ruff
Due: none

(remove space)
  Makefile
Due: none

Fix gcp api import
  Makefile
Due: none

wip: deal with missing GCP credentials
  Makefile
Due: none

update changelog for v0.49.3 release
  CHANGELOG.md
Due: none

(Quick copy edit of develop docs - nothing material)
  docs/develop.rst
Due: doc8

(Copy edit of notebook docs - add Colab reference)
  docs/notebooks.rst
Due: doc8

(Add Colab reference png)
  docs/_static/img/colab.png
Due: none

Fix link to CoCiP notebook
  docs/notebooks/GFS.ipynb
Due: black

Fix Windows builds
  Makefile
Due: none

no longer emit pandas warning with Flight.resample_and_fill(drop=False)
  CHANGELOG.md
  pycontrails/core/flight.py
  tests/unit/test_flight.py
Due: ruff, black

Update coefficients for A359, B788 and B789
  pycontrails/models/ps_model/static/ps-aircraft-params-20231117.csv
Due: none

Add coefficients for new aircraft types
  pycontrails/models/ps_model/static/ps-aircraft-params-20231117.csv
Due: none

Update static file date
  pycontrails/models/ps_model/ps_aircraft_params.py
  pycontrails/models/ps_model/static/ps-aircraft-params-20240209.csv
Due: ruff, black

Update unit tests
  tests/unit/test_ps_model.py
Due: ruff, black

update changelog
  CHANGELOG.md
Due: none

amend changelog
  CHANGELOG.md
Due: none

improve exception message if aircraft performance not included on source
  pycontrails/core/vector.py
  pycontrails/models/cocip/cocip.py
  pycontrails/models/cocipgrid/cocip_grid.py
Due: ruff, black

include aircraft_mass in verbose_outputs
  pycontrails/models/cocipgrid/cocip_grid.py
  tests/unit/test_cocip_grid.py
Due: ruff, black

add altitude and air_pressure when copy=False, don't overwrite existing
  pycontrails/core/met.py
  tests/unit/conftest.py
Due: ruff, black

clarify cause of time overlap warning
  pycontrails/models/cocipgrid/cocip_time_handling.py
  tests/unit/test_cocip_grid.py
Due: ruff, black

Update changelog
  CHANGELOG.md
Due: none

Add note to CocipGrid docstring and fix failing tests
  pycontrails/core/met.py
  pycontrails/core/vector.py
  pycontrails/models/cocipgrid/cocip_grid.py
  pycontrails/models/cocipgrid/cocip_time_handling.py
  tests/unit/test_models.py
Due: ruff, black

add MetBase.downselect_met
  pycontrails/core/met.py
Due: ruff, black

cosmetic: define exception message before raising
  pycontrails/core/models.py
Due: ruff, black

rename _calc_timesteps -> _set_timesteps
  pycontrails/models/cocip/cocip.py
Due: ruff, black

Path conditions:
  ruff: any of: \.py$
  doc8: any of: \.(rst)$
  black: any of: \.(py|ipynb)$
