Repository contrailcirrus/pycontrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, doc8, nb-clean

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        language_version: python3
        language: python
        entry: ruff format
        types: [file]
        files: \.(py|ipynb)$
      - id: ruff-lint
        name: ruff lint
        language_version: python3
        language: python
        entry: ruff check
        args: [--fix, --exit-non-zero-on-fix]
        types: [file]
        files: \.(py|ipynb)$
      - id: doc8
        name: doc8
        language_version: python3
        language: python
        entry: doc8
        types: [file]
        files: \.(rst)$
      - id: nb-clean
        name: nb-clean
        language_version: python3
        language: python
        entry: nb-clean
        types: [file]
        files: \.(ipynb)$
        args:
          - clean
          - --remove-empty-cells
          - --preserve-cell-metadata
          - tags
          - --preserve-cell-outputs
          - --preserve-execution-counts

Adds routine to optimize mach number
  pycontrails/models/ps_model/ps_grid.py
Due: ruff-format, ruff-lint

Minimum mach number is vectorized
  pycontrails/models/ps_model/ps_operational_limits.py
Due: ruff-format, ruff-lint

Add unit test for mach optimization and vector form of mach limits
  tests/unit/test_ps_model.py
Due: ruff-format, ruff-lint

Minor formatting fixes
  pycontrails/models/ps_model/__init__.py
  tests/unit/test_ps_model.py
Due: ruff-format, ruff-lint

Changes output format to xarray
  pycontrails/models/ps_model/ps_grid.py
  tests/unit/test_ps_model.py
Due: ruff-format, ruff-lint

Fixes headwind formula
  pycontrails/models/ps_model/ps_grid.py
Due: ruff-format, ruff-lint

add interface for retrieved cloud properties
  pycontrails/models/libradtran/clouds.py
Due: ruff-format, ruff-lint

add interface to cldprp program
  pycontrails/models/libradtran/utils.py
Due: ruff-format, ruff-lint

modify lrt interface input options
  pycontrails/models/libradtran/clouds.py
  pycontrails/models/libradtran/libradtran.py
  pycontrails/models/libradtran/options.py
  pycontrails/models/libradtran/utils.py
Due: ruff-format, ruff-lint

rough draft of libradtran interface
  pycontrails/datalib/_met_utils/metsource.py
  pycontrails/datalib/ecmwf/arco_era5.py
  pycontrails/datalib/ecmwf/common.py
  pycontrails/datalib/ecmwf/model_levels.py
  pycontrails/datalib/ecmwf/variables.py
  pycontrails/models/libradtran/contrail_input.py
  pycontrails/models/libradtran/libradtran.py
  pycontrails/models/libradtran/utils.py
  pycontrails/physics/constants.py
  pycontrails/physics/geo.py
Due: ruff-format, ruff-lint

finish cleaning up input wrangling
  '
  pycontrails/models/libradtran/clouds.py
  pycontrails/models/libradtran/utils.py
Due: ruff-format, ruff-lint

add interface for cloud properties from metdataset
  pycontrails/models/libradtran/clouds.py
  pycontrails/models/libradtran/contrail_input.py
  pycontrails/models/libradtran/libradtran.py
  pycontrails/models/libradtran/utils.py
  pycontrails/physics/constants.py
  pycontrails/physics/units.py
Due: ruff-format, ruff-lint

wip: refactor
  pycontrails/models/libradtran/clouds.py
  pycontrails/models/libradtran/libradtran.py
  pycontrails/models/libradtran/options.py
  pycontrails/models/libradtran/utils.py
Due: ruff-format, ruff-lint

refactor to support mcica
  pycontrails/models/libradtran/clouds.py
  pycontrails/models/libradtran/cocip_input.py
  pycontrails/models/libradtran/libradtran.py
  pycontrails/models/libradtran/mcica.py
  pycontrails/models/libradtran/utils.py
Due: ruff-format, ruff-lint

fix ACCF parameters
  pycontrails/models/accf.py
Due: ruff-format, ruff-lint

finish mcica implementation
  pycontrails/models/libradtran/libradtran.py
  pycontrails/models/libradtran/mcica.py
  pycontrails/models/libradtran/options.py
  pycontrails/models/libradtran/utils.py
Due: ruff-format, ruff-lint

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Add ps_nominal_optimize_mach as import
  pycontrails/models/ps_model/__init__.py
Due: ruff-format, ruff-lint

maximum_mach_num is vectorized
  pycontrails/models/ps_model/ps_operational_limits.py
Due: ruff-format, ruff-lint

include python 3.13 in workflows
  .github/workflows/docs.yaml
  .github/workflows/doctest.yaml
  .github/workflows/test.yaml
  CHANGELOG.md
  Makefile
  docs/install.rst
Due: doc8

don't omit py313 from release test
  .github/workflows/release.yaml
Due: none

cosmetic tweaks
  .github/workflows/release.yaml
Due: none

update CHANGELOG
  CHANGELOG.md
Due: none

publish to testpypi using trusted publishing
  .github/workflows/release.yaml
Due: none

publish to pypi with trusted publishing
  .github/workflows/release.yaml
Due: none
