Repository contrailcirrus/pycontrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, doc8, black

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: ruff
    name: ruff
    language_version: python3
    language: python
    entry: ruff
    args: [--fix, --exit-non-zero-on-fix]
    types: [python]
  - id: doc8
    name: doc8
    language_version: python3
    language: python
    entry: doc8
    types: [file]
    files: \.(rst)$
  - id: black
    name: black
    language_version: python3
    language: python
    entry: black
    types: [file]
    files: \.(py|ipynb)$

Update compare-run and compare-files to provide more error messaging.
  tests/benchmark/cocip/compare-files.py
  tests/benchmark/cocip/compare-run.py
Due: ruff, black

Add note to put wingspan in metadata in the future
  tests/benchmark/cocip/benchmark.py
Due: ruff, black

Try creating a new runner
  .github/workflows/benchmark.yaml
Due: none

Add PR test to run benchmark workflow manually
  .github/pull_request_template.md
Due: none

Replace nbval-lax with nbval, add sanitize config
  Makefile
  docs/conf.py
  docs/nb-test.cfg
Due: ruff, black

Correction to coding presentation
  pycontrails/models/cocip/output_formats.py
Due: ruff, black

Bug fix: Functions to increase spatial resolution of natural cirrus properties
  pycontrails/models/cocip/output/grid_cirrus.py
Due: ruff, black

Move remaining functions to output_formats.py
  pycontrails/models/cocip/output/grid_cirrus.py
  pycontrails/models/cocip/output_formats.py
Due: ruff, black

Delete redundant folder
  pycontrails/models/cocip/output/__init__.py
  pycontrails/models/cocip/output/grid_cirrus.py
Due: ruff, black

ensure _rhi_over_q returns xr.DataArray with the same shape as air_temperature
  pycontrails/models/humidity_scaling/humidity_scaling.py
Due: ruff, black

support xr.DataArray in HistogramMatching model
  pycontrails/models/humidity_scaling/humidity_scaling.py
Due: ruff, black

remove pytest-timeout dev dependency
  pyproject.toml
  tests/unit/test_ecmwf.py
Due: ruff, black

BREAKING: call xr.open_mfdataset with lock=False by default
  pycontrails/core/datalib.py
Due: ruff, black

update changelog
  CHANGELOG.md
Due: none

fix link
  docs/tutorials/interpolating-specific-humidity.ipynb
Due: black

replace np.gradient -> dask.array.gradient
  CHANGELOG.md
  pycontrails/models/tau_cirrus.py
  tests/unit/test_tau_cirrus.py
Due: ruff, black

prefer np.clip, replace ints with floats when appropriate
  CHANGELOG.md
  pycontrails/models/cocip/contrail_properties.py
Due: ruff, black

support air_temperature in verbose_outputs_formation, small cleanups
  CHANGELOG.md
  pycontrails/models/cocipgrid/cocip_grid.py
  tests/unit/test_cocip_grid.py
Due: ruff, black

round to six digits in determine_buffer
  CHANGELOG.md
  pycontrails/core/polygon.py
Due: ruff, black

update type hints for new opencv-python release
  pycontrails/core/polygon.py
Due: ruff, black

add link to Contrails Navigator
  docs/index.rst
Due: doc8

Update favicon
  docs/_static/img/favicon.png
Due: none

narrow type hints on AircraftPerformance.eval
  CHANGELOG.md
  pycontrails/models/aircraft_performance.py
Due: ruff, black

AircraftPerformance.ensure_true_airspeed_on_source now returns the numpy array
  pycontrails/models/aircraft_performance.py
  pycontrails/models/ps_model/ps_model.py
Due: ruff, black

remove outdated comment
  pycontrails/models/aircraft_performance.py
Due: ruff, black

add test to ensure the PSModel handles waypoints with vanishing true airspeed
  tests/unit/test_ps_model.py
Due: ruff, black
