Repository contrailcirrus/pycontrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, doc8, nb-clean

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        language_version: python3
        language: python
        entry: ruff format
        types: [file]
        files: \.(py|ipynb)$
      - id: ruff-lint
        name: ruff lint
        language_version: python3
        language: python
        entry: ruff check
        args: [--fix, --exit-non-zero-on-fix]
        types: [file]
        files: \.(py|ipynb)$
      - id: doc8
        name: doc8
        language_version: python3
        language: python
        entry: doc8
        types: [file]
        files: \.(rst)$
      - id: nb-clean
        name: nb-clean
        language_version: python3
        language: python
        entry: nb-clean
        types: [file]
        files: \.(ipynb)$
        args:
          - clean
          - --remove-empty-cells
          - --preserve-cell-metadata
          - tags
          - --preserve-cell-outputs
          - --preserve-execution-counts

copy GOES implementation for loading dataset on windows from tmpfile
  pycontrails/datalib/gruan.py
Due: ruff-format, ruff-lint

try to fix tests
  Makefile
  pycontrails/datalib/gruan.py
Due: ruff-format, ruff-lint

rerun notebook
  docs/notebooks/GRUAN.ipynb
Due: ruff-format, ruff-lint, nb-clean

streamline time parsing
  pycontrails/datalib/gruan.py
Due: ruff-format, ruff-lint

bolster docstrings
  pycontrails/datalib/gruan.py
  tests/unit/test_gruan.py
Due: ruff-format, ruff-lint

tweak language
  pycontrails/datalib/gruan.py
Due: ruff-format, ruff-lint

handle ftp.retrbinary write to tmp failure
  pycontrails/datalib/gruan.py
Due: ruff-format, ruff-lint

skip if offline
  tests/unit/test_gruan.py
Due: ruff-format, ruff-lint

speed up available_sites
  pycontrails/datalib/gruan.py
  tests/unit/test_gruan.py
Due: ruff-format, ruff-lint

update notebook per PR review
  docs/notebooks/GRUAN.ipynb
Due: ruff-format, ruff-lint, nb-clean

tweak documentation
  pycontrails/datalib/gruan.py
  pycontrails/datalib/himawari/himawari.py
  tests/unit/test_gruan.py
Due: ruff-format, ruff-lint

by default, list_files returns everything
  docs/notebooks/GRUAN.ipynb
  pycontrails/datalib/gruan.py
Due: ruff-format, ruff-lint, nb-clean

debug
  .github/workflows/test.yaml
Due: none

Revert "debug"
  .github/workflows/test.yaml
Due: none

get changelog ready for release
  CHANGELOG.md
Due: none

add slots to himawari
  pycontrails/datalib/himawari/himawari.py
Due: ruff-format, ruff-lint

add GRUAN notebook
  docs/notebooks/GRUAN.ipynb
Due: ruff-format, ruff-lint, nb-clean

update docs, changelog
  CHANGELOG.md
  docs/api.rst
  docs/observations.rst
Due: doc8

add GRUAN interface and write simple unit tests
  pycontrails/datalib/gruan.py
  tests/unit/test_gruan.py
Due: ruff-format, ruff-lint

add slots to GOES interface
  pycontrails/datalib/goes.py
Due: ruff-format, ruff-lint

use constants.epsilon when possible
  pycontrails/physics/thermo.py
Due: ruff-format, ruff-lint

make call to np.clip backcompatible with older numpy
  CHANGELOG.md
  pycontrails/models/cocip/contrail_properties.py
Due: ruff-format, ruff-lint

fix typo
  pycontrails/datalib/_met_utils/metsource.py
Due: ruff-format, ruff-lint
