Repository contrailcirrus/pycontrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, doc8, nb-clean

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        language_version: python3
        language: python
        entry: ruff format
        types: [file]
        files: \.(py|ipynb)$
      - id: ruff-lint
        name: ruff lint
        language_version: python3
        language: python
        entry: ruff check
        args: [--fix, --exit-non-zero-on-fix]
        types: [file]
        files: \.(py|ipynb)$
      - id: doc8
        name: doc8
        language_version: python3
        language: python
        entry: doc8
        types: [file]
        files: \.(rst)$
      - id: nb-clean
        name: nb-clean
        language_version: python3
        language: python
        entry: nb-clean
        types: [file]
        files: \.(ipynb)$
        args:
          - clean
          - --remove-empty-cells
          - --preserve-cell-metadata
          - tags
          - --preserve-cell-outputs
          - --preserve-execution-counts

include the himawari module in the API reference
  docs/api.rst
  pycontrails/datalib/himawari/himawari.py
Due: ruff-format, ruff-lint, doc8

update classifiers, update requires-python
  pyproject.toml
Due: none

drop support for python 3.10, build wheels for 3.14 but don't test
  .github/workflows/release.yaml
  .github/workflows/test.yaml
Due: none

update CHANGELOG
  CHANGELOG.md
Due: none

fix linting issue
  pycontrails/datalib/leo_utils/sentinel_metadata.py
Due: ruff-format, ruff-lint

update min python version in documentation
  README.md
  docs/install.rst
Due: doc8

use Self type from typing (PEP 673)
  pycontrails/core/fleet.py
  pycontrails/core/flight.py
  pycontrails/core/met.py
  pycontrails/core/vector.py
Due: ruff-format, ruff-lint

require scipy>=1.12
  pycontrails/core/interpolation.py
  pycontrails/core/rgi_cython.pyx
  pyproject.toml
Due: ruff-format, ruff-lint

ready changelog for 0.58.0
  CHANGELOG.md
Due: none

change ParticleType to StrEnum type
  pycontrails/models/extended_k15.py
Due: ruff-format, ruff-lint

relax test for h5netcdf vs netcdf4 compatibility
  tests/unit/test_grid_to_netcdf.py
Due: ruff-format, ruff-lint

disallow unused type: ignore, add ruff ANN rule
  pycontrails/core/aircraft_performance.py
  pycontrails/core/cache.py
  pycontrails/core/fleet.py
  pycontrails/core/flight.py
  pycontrails/core/interpolation.py
  pycontrails/core/met.py
  pycontrails/core/polygon.py
  pycontrails/core/vector.py
  pycontrails/datalib/_met_utils/metsource.py
  pycontrails/datalib/ecmwf/common.py
  pycontrails/datalib/ecmwf/hres.py
  pycontrails/datalib/ecmwf/ifs.py
  pycontrails/datalib/gfs/gfs.py
  pycontrails/datalib/himawari/header_struct.py
  pycontrails/datalib/himawari/himawari.py
  pycontrails/ext/synthetic_flight.py
  pycontrails/models/cocip/cocip_uncertainty.py
  pycontrails/models/cocip/contrail_properties.py
  pycontrails/models/cocip/output_formats.py
  pycontrails/models/cocipgrid/cocip_grid.py
  pycontrails/models/dry_advection.py
  pycontrails/models/humidity_scaling/humidity_scaling.py
  pycontrails/models/ps_model/ps_grid.py
  pycontrails/models/sac.py
  pycontrails/models/tau_cirrus.py
  pycontrails/physics/thermo.py
  pycontrails/utils/iteration.py
  pyproject.toml
Due: ruff-format, ruff-lint

don't allow duplicate dimension values in MetDataset
  CHANGELOG.md
  pycontrails/core/met.py
  tests/unit/test_dtypes.py
  tests/unit/test_met.py
Due: ruff-format, ruff-lint

update PycontrailsRegularGridInterpolator for compatibility with scipy's RGI
  CHANGELOG.md
  pycontrails/core/interpolation.py
  tests/unit/test_interpolation.py
Due: ruff-format, ruff-lint

fix a few sphinx formatting issues
  pycontrails/core/interpolation.py
  pycontrails/core/met.py
Due: ruff-format, ruff-lint

tweak to avoid warnings
  docs/notebooks/run-cocip-on-flight.ipynb
Due: ruff-format, ruff-lint, nb-clean

fix doctest
  pycontrails/datalib/ecmwf/model_levels.py
Due: ruff-format, ruff-lint

remove fastparquet dependency, tweak unit test which used it
  pyproject.toml
  tests/unit/test_cocip.py
Due: ruff-format, ruff-lint

update goes error message
  CHANGELOG.md
  pycontrails/datalib/goes.py
  tests/unit/test_goes.py
Due: ruff-format, ruff-lint

use constants.epsilon when possible
  pycontrails/physics/thermo.py
Due: ruff-format, ruff-lint

add GRUAN interface and write simple unit tests
  pycontrails/datalib/gruan.py
  tests/unit/test_gruan.py
Due: ruff-format, ruff-lint

add GRUAN notebook
  docs/notebooks/GRUAN.ipynb
Due: ruff-format, ruff-lint, nb-clean

add slots to himawari
  pycontrails/datalib/himawari/himawari.py
Due: ruff-format, ruff-lint

add slots to GOES interface
  pycontrails/datalib/goes.py
Due: ruff-format, ruff-lint

update docs, changelog
  CHANGELOG.md
  docs/api.rst
  docs/observations.rst
Due: doc8
