Repository contrailcirrus/pycontrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, doc8, nb-clean

ruff-format:
  name: ruff format
  language_version: python3
  language: python
  entry: ruff format

ruff-lint:
  name: ruff lint
  language_version: python3
  language: python
  entry: ruff check
  args:
  - --fix
  - --exit-non-zero-on-fix

doc8:
  name: doc8
  language_version: python3
  language: python
  entry: doc8

nb-clean:
  name: nb-clean
  language_version: python3
  language: python
  entry: nb-clean
  args:
  - clean
  - --remove-empty-cells
  - --preserve-cell-metadata
  - tags
  - --preserve-cell-outputs
  - --preserve-execution-counts

fix dry advection bug
  pycontrails/models/dry_advection.py
  tests/unit/test_dry_advection.py
Due: ruff-format, ruff-lint

prototype landsat correction ideas
  pycontrails/datalib/_leo_utils/correction.py
Due: ruff-format, ruff-lint

Modify tests to verify that reff isn't in the cocip dataset if output_effective_radius = False. Verify also the reff value.
  tests/unit/static/cocip-contrail-output.json
  tests/unit/test_cocip.py
Due: ruff-format, ruff-lint

Add effective radius output
  pycontrails/models/cocip/cocip.py
  pycontrails/models/cocip/radiative_forcing.py
  tests/unit/static/cocip-contrail-output.json
  tests/unit/static/cocip-contrail-output2.json
  tests/unit/static/cocip-flight-output.json
  tests/unit/static/cocip-flight-output2.json
  tests/unit/static/cocip-output-contrail-edges.json
  tests/unit/test_cocip.py
Due: ruff-format, ruff-lint

Calculate the effective radius when we calculate contrail radiative properties (to allow to have the effective radius in CoCiPGrid too) only if output_effective_radius is True
  pycontrails/models/cocip/cocip.py
  pycontrails/models/cocip/cocip_params.py
  tests/unit/static/cocip-contrail-output.json
  tests/unit/static/cocip-contrail-output2.json
  tests/unit/test_cocip.py
Due: ruff-format, ruff-lint

tweak type hints for compatibility with latest mypy
  pycontrails/core/met.py
Due: ruff-format, ruff-lint

remove unnecessary type hint
  pycontrails/physics/units.py
Due: ruff-format, ruff-lint

add target_time parameter
  pycontrails/models/dry_advection.py
Due: ruff-format, ruff-lint

add test for target_time (currently failing)
  tests/unit/test_dry_advection.py
Due: ruff-format, ruff-lint

improve readability a hair
  pycontrails/models/dry_advection.py
Due: ruff-format, ruff-lint

fix test
  tests/unit/test_dry_advection.py
Due: ruff-format, ruff-lint

update CHANGELOG, tweak documentation
  CHANGELOG.md
  pycontrails/models/dry_advection.py
Due: ruff-format, ruff-lint

dry advection fixes
  pycontrails/models/dry_advection.py
Due: ruff-format, ruff-lint

feat: resample flight to target times
  pycontrails/core/flight.py
Due: ruff-format, ruff-lint

feat: specify output times for dry advection
  pycontrails/models/dry_advection.py
Due: ruff-format, ruff-lint

update resampling
  pycontrails/core/flight.py
Due: ruff-format, ruff-lint

replace target_time with timesteps
  CHANGELOG.md
  pycontrails/core/models.py
  pycontrails/models/dry_advection.py
  tests/unit/test_dry_advection.py
Due: ruff-format, ruff-lint

actually get rid of target_time
  pycontrails/models/dry_advection.py
Due: ruff-format, ruff-lint

fix type hint
  pycontrails/models/dry_advection.py
Due: ruff-format, ruff-lint

add time override to resample_and_fill
  CHANGELOG.md
  pycontrails/core/flight.py
  tests/unit/test_flight.py
Due: ruff-format, ruff-lint

support PEP 639
  CHANGELOG.md
  pyproject.toml
Due: none

remove dep_license dev dependency
  Makefile
  pyproject.toml
Due: none

revert d545ccf, fix climaccf install message
  CHANGELOG.md
  docs/api.rst
  docs/install.rst
  pycontrails/models/accf.py
  pyproject.toml
Due: ruff-format, ruff-lint, doc8

get the changelog ready for 0.54.11 release
  CHANGELOG.md
Due: none

update CHANGELOG
  CHANGELOG.md
Due: none

drop support for python 3.10, build wheels for 3.14 but don't test
  .github/workflows/release.yaml
  .github/workflows/test.yaml
Due: none

require scipy>=1.12
  pycontrails/core/interpolation.py
  pycontrails/core/rgi_cython.pyx
  pyproject.toml
Due: ruff-format, ruff-lint

Path conditions:
  ruff-format: any of: \.(py|ipynb)$
  ruff-lint: any of: \.(py|ipynb)$
  doc8: any of: \.(rst)$
  nb-clean: any of: \.(ipynb)$
