Repository contrailcirrus/pycontrails: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, doc8, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        language_version: python3
        language: python
        entry: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]
      - id: doc8
        name: doc8
        language_version: python3
        language: python
        entry: doc8
        types: [file]
        files: \.(rst)$
      - id: black
        name: black
        language_version: python3
        language: python
        entry: black
        types: [file]
        files: \.(py|ipynb)$

Avoids CoW warning
  pycontrails/core/flight.py
Due: ruff, black

Ensures feet are passed into filter_altitude
  pycontrails/core/flight.py
Due: ruff, black

Ignore intermediate warning and add notebook
  docs/notebooks/Flight.ipynb
  docs/notebooks/data/flight-noisy.csv
  pycontrails/core/flight.py
Due: ruff, black

Removes unused fit_flight code
  pycontrails/core/fleet.py
  pycontrails/core/flight.py
  pyproject.toml
  tests/unit/test_flight.py
Due: ruff, black

Update fliter_altitude test
  tests/unit/test_flight.py
Due: ruff, black

Adds docstring for clean_and_resample
  pycontrails/core/flight.py
Due: ruff, black

Assign vs update
  pycontrails/core/flight.py
Due: ruff, black

Mostly cosmetic changes to Flight
  pycontrails/core/flight.py
Due: ruff, black

Add clean_and_resample to Fleet
  pycontrails/core/fleet.py
Due: ruff, black

fl -> self
  pycontrails/core/flight.py
Due: ruff, black

time -> timestamp
  pycontrails/datalib/spire/spire.py
Due: ruff, black

Ran black
  pycontrails/core/flight.py
Due: ruff, black

Ran Black
  pycontrails/core/fleet.py
Due: ruff, black

Updates tests to ignore warning
  tests/unit/test_cocip.py
  tests/unit/test_vector.py
Due: ruff, black

Cleans up a few performance issues
  pycontrails/core/flight.py
Due: ruff, black

remove polluting changes from different branch
  pyproject.toml
  tests/unit/test_flightplan.py
  tests/unit/test_met.py
Due: ruff, black

update changelog
  CHANGELOG.md
Due: none

Intentionally fail formatting check
  pycontrails/core/models.py
Due: ruff, black

add model-levels notebook
  CHANGELOG.md
  Makefile
  docs/notebooks/model-levels.ipynb
  docs/tutorials.rst
Due: doc8, black

integrate PR feedback
  docs/notebooks/model-levels.ipynb
Due: black

tweak wording in model level missing value discussion
  docs/notebooks/model-levels.ipynb
Due: black

typos
  pycontrails/core/met.py
  pycontrails/models/cocip/cocip.py
Due: ruff, black

filter empty flights in Fleet.from_seq
  pycontrails/core/fleet.py
Due: ruff, black

write unit test showing Flight.resample_and_fill can give an empty result
  tests/unit/test_flight.py
Due: ruff, black

write unit test showing Fleet.from_seq removes empty flights
  tests/unit/test_fleet.py
Due: ruff, black

update CHANGELOG
  CHANGELOG.md
Due: none

test -e for catching errors
  .github/workflows/test.yaml
Due: none

testing default shell = bash
  .github/workflows/test.yaml
Due: none

issue warning if empty flight passed into Fleet.from_seq
  CHANGELOG.md
  pycontrails/core/fleet.py
  tests/unit/test_fleet.py
Due: ruff, black

emit warning when Flight.resample_and_fill returns empty instance
  CHANGELOG.md
  pycontrails/core/flight.py
  tests/unit/test_flight.py
Due: ruff, black

Use bash only for QC & test step
  .github/workflows/test.yaml
Due: none

np.float_ -> np.float64, np.complex_ -> np.complex128
  pycontrails/core/aircraft_performance.py
  pycontrails/core/fleet.py
  pycontrails/core/flight.py
  pycontrails/core/interpolation.py
  pycontrails/core/met.py
  pycontrails/core/models.py
  pycontrails/core/polygon.py
  pycontrails/core/vector.py
  pycontrails/datalib/goes.py
  pycontrails/ext/empirical_grid.py
  pycontrails/models/cocip/cocip.py
  pycontrails/models/cocip/cocip_uncertainty.py
  pycontrails/models/cocip/contrail_properties.py
  pycontrails/models/cocip/output_formats.py
  pycontrails/models/cocip/radiative_forcing.py
  pycontrails/models/cocip/radiative_heating.py
  pycontrails/models/cocip/wake_vortex.py
  pycontrails/models/cocip/wind_shear.py
  pycontrails/models/cocipgrid/cocip_grid.py
  pycontrails/models/emissions/black_carbon.py
  pycontrails/models/emissions/emissions.py
  pycontrails/models/emissions/ffm2.py
  pycontrails/models/humidity_scaling/humidity_scaling.py
  pycontrails/models/ps_model/ps_grid.py
  pycontrails/models/ps_model/ps_model.py
  pycontrails/models/ps_model/ps_operational_limits.py
  pycontrails/physics/geo.py
  pycontrails/physics/jet.py
  pycontrails/physics/units.py
  pycontrails/utils/json.py
  pycontrails/utils/types.py
Due: ruff, black

update ruff fields
  pyproject.toml
Due: none

address mypy issue
  pycontrails/models/cocip/output_formats.py
Due: ruff, black

try installing make on windows runners
  .github/workflows/test.yaml
Due: none

get rid of failing format check
  pycontrails/core/models.py
Due: ruff, black

use make to install dev environment
  .github/workflows/test.yaml
Due: none
